{% extends 'base.html.twig'%}
{% block title %}Edit Information Product{% endblock %}

{%block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('information-product') }}
{%endblock stylesheets  %}

{% block body %}
    <div id="information-product"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.researchGroups = {{ researchGroups | json_encode | raw }};
        window.informationProduct = {{ informationProduct | raw }};
        window.productTypeDescriptors = {{ productTypeDescriptors | raw }};
        window.digitalResourceTypeDescriptors = {{ digitalResourceTypeDescriptors | raw }}
        window.funders = {{ funders | raw }}
    </script>
    {{ encore_entry_script_tags('information-product') }}
{% endblock %}
