{% extends "template/UI.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/ResearchGroup.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/entity/ResearchGroup.js') }}"></script>


{% endblock %}

{% block body %}
    <div>
        <table border="0" width="100%">
            <tr>
                <td width="25%" valign="top">
                    <div id="researchGroupLogo">
                        <label for="logo">Logo:</label>
                        <p>
                            <img
                            {% if ResearchGroup.getLogo %}
                                    src="{{path('pelagos_api_research_groups_put_logo', {'id': ResearchGroup.getId}) }}"
                            {% endif %}
                            >
                        </p>
                    {% if ResearchGroup.getId and is_granted('CAN_EDIT', ResearchGroup) %}
                         <span style="display:none;">
                            <input id="fileupload" type="file" name="logo" data-url="{{path('pelagos_api_research_groups_put_logo', {'id': ResearchGroup.getId}) }}">
                        </span>
                        <button id="logobutton" type="button">Change Logo</button>
                    {% endif %}
                    </div>
                </td>
                <td style="padding:10px;" width="50%" valign="top">
                    <div id="orgdetails">
                        <h2>Research Group Details</h2>
                        {% include 'template/forms/ResearchGroup.html.twig' %}
                    </div>
                </td>
                <td width="25%" valign="top">
                    <div id="leadership">
                        {% include 'template/PersonResearchGroupLeadership.html.twig' %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div id="tabs" style="width:100%">
        <ul>
            <li><a href="#tabs-1">People</a></li>
            <li><a href="#tabs-2">Datasets</a></li>
        </ul>
        <div id="tabs-1">
            <table border="0" width="100%">
            {% if PersonResearchGroups | length > 0 %}
                {% for PersonResearchGroup in PersonResearchGroups | sortBy(["role.weight","person.lastName","person.firstName"])%}
                    <tr>
                        <td>
                            <div>
                                <p>
                                    {% include 'template/forms/PersonResearchGroup.html.twig' with {'PersonResearchGroup': PersonResearchGroup, 'form' : PersonResearchGroupForms[PersonResearchGroup.getId], 'editlabel' : PersonResearchGroupEditLabel[PersonResearchGroup.getId]}%}
                                </p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if newResearchGroupPerson is defined and is_granted('CAN_CREATE', newResearchGroupPerson) %}
                <tr>
                    <td>
                        <div class="addForm">
                            <p>
                                {% include 'template/forms/PersonResearchGroup.html.twig' with {'PersonResearchGroup': newResearchGroupPerson, 'form' : newResearchGroupPersonForm, 'addForm' : true }%}
                            </p>
                        </div>
                    </td>
                </tr>
            {% endif %}
            </table>
            {% if newResearchGroupPerson is defined and is_granted('CAN_CREATE', newResearchGroupPerson) %}
                <img class="addimg" src="{{ asset('images/add.png') }}">
            {% endif %}
        </div>
    </div>
{% endblock %}