{% extends "template/UI.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('change-password') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('change-password') }}
{% endblock %}

{% block body %}
    <div class="flex items-center justify-center mt-5">
        <div class="min-w-80">
            <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm">
            To reset your lost password, please provide the email address associated with your funding agreement.
                <form id="accountForm" class="py-4" method="post" action="{{ path('pelagos_app_ui_account_sendverificationemail') }}">
                    <div>
                        <div class="flex items-center justify-between py-4">
                            <label for="emailAddress" class="block text-sm font-medium leading-6 text-gray-900">Email Address</label>
                            <input type="hidden" name="reset" value="reset">
                            <input type="email" size="50" name="emailAddress" id="emailAddress" required class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus-within:border-gray-300 focus:ring-0" required>
                        </div>
                    </div>
                    <button type="submit" class="flex w-full justify-center button text-lg font-medium text-center text-white bg-blue-600 hover:bg-blue-700 rounded-md">Request Password Reset</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
