{% block sender 'GRIIDC <help@griidc.org>' %}

{% block subject '[GRIIDC] Password Reset Account Confirmation' %}

{% block body_html %}
    Dear {{ person.getFirstName }} {{ person.getLastName }},<br>
    <br>
    To reset your GRIIDC account password, please click on the link below to verify your email address.<br>
    <br>
    <a href="{{ vanityurl('pelagos_app_ui_account_verifyemail') }}?person_token={{ personToken.getTokenText }}">{{ vanityurl('pelagos_app_ui_account_verifyemail') }}?person_token={{ personToken.getTokenText }}</a><br>
    <br>
    Thank you,<br>
    <br>
    The GRIIDC Team<br>
    <br>
    *You are receiving this email because you are identified as a user of the GRIIDC system. If you believe you should not be receiving this email please notify <a href="mailto:help@griidc.org">help@griidc.org</a>.*
{% endblock %}

{% block body_text %}
Dear {{ person.getFirstName }} {{ person.getLastName }},

To reset your GRIIDC account password, please click on the link below to verify your email address.

{{ vanityurl('pelagos_app_ui_account_verifyemail') }}?person_token={{ personToken.getTokenText }}

Thank you,

The GRIIDC Team

*You are receiving this email because you are identified as a user of the GRIIDC system. If you believe you should not be receiving this email please notify help@griidc.org.*
{% endblock %}
