{% extends "template/UI.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('change-password') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('change-password') }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/xregexp/2.0.0/xregexp-all-min.js"></script>

    <script type="text/javascript" src="{{ asset('build/js/Account.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="flex items-center justify-center mt-5">
        <div class="min-w-80">
            <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm">
                <div class="messages status">
                    <h2 class="element-invisible">Status message</h2>
                    Your email address has successfully been verified.
                </div>
                <form id="passwordForm" class="mt-2 mb-4" method="post" action="{{ path('pelagos_app_ui_account_create') }}?person_token={{ personToken.getTokenText }}">

                    <div>
                        <div class="flex items-center justify-between pb-2">
                            <label for="username" class="block text-sm font-medium leading-6 text-gray-900">New Password</label>
                        </div>
                        <div>
                            <input type="password" id="password" name="password" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus-within:border-gray-300 focus:ring-0" required>
                        </div>
                    </div>

                    <div>
                        <div class="flex items-center justify-between pb-2">
                            <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Verify Password</label>
                        </div>
                        <div>
                            <input type="password" id="verify_password" name="verify_password" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus-within:border-gray-300 focus:ring-0" required>
                        </div>
                    </div>

                    <br />

                    <span class="text-sm pt-4">
                        Passwords must be a minimum of eight characters/numerals.<br />
                        Passwords must contain a combination of three or more of the the following:<br />
                    </span>

                    <ul class="list-disc pl-10 text-sm py-4">
                        <li class="my-0">Uppercase letters</li>
                        <li class="my-0">Lowercase letters</li>
                        <li class="my-0">Numbers</li>
                        <li class="my-0">Special Characters (!, @, #, etc)</li>
                    </ul>

                    <button type="submit" class="flex w-full justify-center button text-lg font-medium text-center text-white bg-blue-600 hover:bg-blue-700 rounded-md">Next</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
