{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div width="80%">
<!-- form action="{{ path('security_login') }}" method="post" -->
{{ form_start(form) }}
    <div class="container" id="login">
        <div>
            <div>
                {{ form_row(form._username) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_row(form._password) }}
            </div>
        <div>
            <input id="edit-submit" name="op" value="LOGIN" accesskey="l" type="submit">
            <input name="reset" accesskey="c" value="CLEAR" type="reset">
        </div>
        <div>
            <a href="{{ path('pelagos_app_ui_account_password') }}">Forgot/Expired Password</a><br />
            <a href="{{ path('pelagos_app_ui_account_forgotusername') }}">Forgot Your Username?</a>
        </div>
        <div>
            You are accessing a Texas A&amp;M University-Corpus Christi information system.<br />
            <br />
            Unauthorized use is prohibited.<br />
            Usage may be subject to security testing and monitoring.<br />
            Misuse is subject to criminal prosecution.<br/ >
            Users have no expectation of privacy except as otherwise provided by applicable privacy laws.<br />
            By logging in, you are agreeing to the <a href="https://www.tamucc.edu/governance/rules-procedures/assets/support-docs/it-acceptable-use.pdf" target="_blank">rules and conditions</a> set forth by Texas A&amp;M University-Corpus Christi.<br />
        </div>
    </div>
</form>


</div>

{% endblock %}
