{% block subject 'DOI Request Approved for GRIIDC dataset' %}

{% block body_html %}

Dear {{ recipient.firstName }} {{ recipient.lastName }},<br>
<p>
    The Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) has
    approved the request for a Digital Object Identifier (DOI) for the URL
    <a href="{{ doiRequest.url }}">{{ doiRequest.doi }}</a>. This request was submitted by
    {{ doiRequest.creator.firstName }} {{ doiRequest.creator.lastName }} who is a member of {{ doiRequest.creator.researchGroupNames | join(', ') }}.
</p>

Thank you,<br />

The GRIIDC Team<br />

<br />

<p>
    You are receiving this email because you are identified as a data manager for a
    Gulf of Mexico Research Initiative Research Consortium. If you believe you
    should not be receiving this email please notify
    <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>
</p>

{% endblock %}

{% block body_text %}

Dear {{ recipient.firstName }} {{ recipient.lastName }},

The Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) has
approved the request for a Digital Object Identifier (DOI) for the the URL
{{ doiRequest.url }} for DOI {{ doiRequest.doi }}. This request was submitted by {{ doiRequest.creator.firstName }} {{ doiRequest.creator.lastName }}
who is a member of {{ doiRequest.creator.researchGroupNames | join(', ') }}.


Thank you,
The GRIIDC Team

You are receiving this email because you are identified as a data manager for a
Gulf of Mexico Research Initiative Research Consortium. If you believe you
should not be receiving this email please notify griidc@gomri.org.
{% endblock %}
