{% block subject 'DOI Approval Requested' %}

{% block body_html %}
Dear {{ recipient.firstName }} {{ recipient.lastName }},<br>
<br>
Please approve DOI:<a href="{{ url('pelagos_app_ui_doirequest_default', { 'id': doiRequest.id })}}">{{ doiRequest.url }}</a>.<br>
<br>
Thank you,<br>
<br>
The GRIIDC Team<br>
<br>
You are receiving this email because you are identified as a DOI Approver.
If you believe you should not be receiving this email please notify
<a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.
{% endblock %}

{% block body_text %}
Dear {{ recipient.firstName }} {{ recipient.lastName }},

Please approve DOI:{{ doiRequest.url }}.

Thank you,

The GRIIDC Team

You are receiving this email because you are identified as a DOI Approver.
If you believe you should not be receiving this email please notify
griidc@gomri.org.

{% endblock %}

