{% block subject 'GRIIDC DOI Request Approved. DOI Issued.' %}

{% block body_html %}

Dear {{ creator.firstName }} {{ creator.lastName }},<br />
<p>
    The Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) has approved the
    DOI request for your dataset, {{ doi }}.</a>
</p>
<p>
    If you have any questions regarding this dataset DOI, please email griidc@gomri.org.<br>
</p>
<br />
Thank you,<br />
The GRIIDC Team
{% endblock %}

{% block body_text %}
Dear {{ creator.firstName }} {{ creator.lastName }},

The Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) has approved the
DOI request for your dataset, {{ doi }}.

If you have any questions regarding this dataset DOI, please email griidc@gomri.org.

Thank you,
The GRIIDC Team
{% endblock %}
