{% set acceptedDatasets = group.getDatasetsByLifecycleStatus(constant('App\\Enum\\DatasetLifecycleStatus::AVAILABLE'))|length %}
{% set restrictedDatasets = group.getDatasetsByLifecycleStatus(constant('App\\Enum\\DatasetLifecycleStatus::RESTRICTED'))|length %}
{% set submittedDatasets = group.getDatasetsByLifecycleStatus(constant('App\\Enum\\DatasetLifecycleStatus::SUBMITTED'))|length %}
{% set identifiedDatasets = group.getDatasetsByLifecycleStatus(constant('App\\Enum\\DatasetLifecycleStatus::IDENTIFIED'))|length %}

<div style="display: inline-block;white-space: nowrap;">
    <table>
        <tr>
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12">
                    <rect x="0" y="0" width="12" height="12" fill="{{ constant('App\\Enum\\DatasetLifecycleStatus::AVAILABLE').color  }}" opacity="1">
                    </rect>
                </svg>
            </td>
            <td><b>Available ({{acceptedDatasets}})</b></td>
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12">
                    <rect x="0" y="0" width="12" height="12" fill="{{ constant('App\\Enum\\DatasetLifecycleStatus::RESTRICTED').color  }}" opacity="1">
                    </rect>
                </svg>
            </td>
            <td><b>Restricted ({{restrictedDatasets}})</b></td>
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12">
                    <rect x="0" y="0" width="12" height="12" fill="{{ constant('App\\Enum\\DatasetLifecycleStatus::SUBMITTED').color  }}" opacity="1">
                    </rect>
                </svg>
            </td>
            <td><b>Submitted ({{submittedDatasets}})</b></td>
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12">
                    <rect x="0" y="0" width="12" height="12" fill="{{ constant('App\\Enum\\DatasetLifecycleStatus::IDENTIFIED').color  }}" opacity="1">
                    </rect>
                </svg>
            </td>
            <td><b>Identified ({{identifiedDatasets}})</b></td>
        </tr>
    </table>
</div>