<div id="tooltipContainer"></div>

{% if fundingOrganization %}

    {% include 'DatasetMonitoring/v2/header.html.twig' with {'fundingOrganization': fundingOrganization} only %}

    {% for fundingCycle in fundingOrganization.fundingCycles | sortBy(["fundingCycle.name"]) %}
        {% if datasetFilter == "only" and fundingCycle.datasets|submittedDIFs|length == 0 %}
            {# DOT NOT SHOW #}
        {% else %}
            {% if datasetFilter != "without" and fundingCycle.datasets|submittedDIFs|length > 0 %}
                <span class="font-bold block px-2 text-xl">Funding Cycle: {{fundingCycle.name}}</span>
            {% endif %}


            {% for researchGroup in fundingCycle.researchGroups | sortBy(["researchGroup.name"]) %}
            <div x-data="{ expanded: false }">
                {% if datasetFilter == "only" and researchGroup.datasets|submittedDIFs|length == 0 %}
                    {# DOT NOT SHOW #}
                {% else %}
                    {% if datasetFilter == "without" and researchGroup.datasets|submittedDIFs|length > 0 %}
                        {# DOT NOT SHOW #}
                    {% else %}
                        {% include 'DatasetMonitoring/v2/researchGroups.html.twig' %}
                    {% endif %}
                {% endif %}
            </div>
            {% endfor %}

        {% endif %}
    {% endfor %}
{% endif %}

{% if fundingCycle %}
    {% include 'DatasetMonitoring/v2/header.html.twig' with {'fundingOrganization': fundingCycle.fundingOrganization} only %}

    {% if datasetFilter != "without" and fundingCycle.datasets|submittedDIFs|length > 0 %}
    <span class="p-2 font-bold block text-2xl">
        {{ fundingCycle.name }} Datasets
        <a href="{{ url('pelagos_app_ui_report_dataset_monitoring_csv', { fundingCycle : fundingCycle.id}) }}">
            <div class="float-end px-2">
                <i class="fa-solid fa-file-csv" style="color: green;"></i>
            </div>
        </a>
    </span>
    {% endif %}

    <div class="px-2">
        {% include 'DatasetMonitoring/v2/datasetsTotals.html.twig' with {'group': fundingCycle, 'showGraphics': 'false'} only %}
    </div>


    {% for researchGroup in fundingCycle.researchGroups | sortBy(["researchGroup.name"]) %}
    <div x-data="{ expanded: false }">
        {% if datasetFilter == "only" and researchGroup.datasets|submittedDIFs|length == 0 %}
            {# DOT NOT SHOW #}
        {% else %}
            {% if datasetFilter == "without" and researchGroup.datasets|submittedDIFs|length > 0 %}
                {# DOT NOT SHOW #}
            {% else %}
                {% include 'DatasetMonitoring/v2/researchGroups.html.twig' %}
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}

{% endif %}

{% if researchGroup %}
    {% include 'DatasetMonitoring/v2/header.html.twig' with {'fundingOrganization': researchGroup.fundingCycle.fundingOrganization} only %}

    <span class="p-3 font-bold block text-2xl">
        {{ researchGroup.name }} Datasets
        <a href="{{ url('pelagos_app_ui_report_dataset_monitoring_csv', { researchGroup : researchGroup.id}) }}">
            <div class="float-end px-2">
                <i class="fa-solid fa-file-csv" style="color: green;"></i>
            </div>
        </a>
    </span>

    <div x-data="{ expanded: true }">
    {% include 'DatasetMonitoring/v2/researchGroups.html.twig' %}
    </div>
{% endif %}