<div id="tooltipContainer"></div>

{% if fundingOrganization %}
    <span class="p-2 font-bold block text-2xl">
        Datasets for: {{ fundingOrganization.name }}
        <a href="{{ url('pelagos_app_ui_report_dataset_monitoring_csv', { fundingOrganization : fundingOrganization.id}) }}">
            <i class="fa-solid fa-file-csv" style="color: green; margin-left:1em"></i>
        </a>
    </span>

    {% for fundingCycle in fundingOrganization.fundingCycles | sortBy(["fundingCycle.name"]) %}
        {% if datasetFilter == "only" and fundingCycle.datasets|submittedDIFs|length == 0 %}
            {# DOT NOT SHOW #}
        {% else %}
            {% if datasetFilter != "without" and fundingCycle.datasets|submittedDIFs|length > 0 %}
                <span class="font-bold block px-2 text-xl">Funding Cycle: {{fundingCycle.name}}</span>
            {% endif %}

            {% for researchGroup in fundingCycle.researchGroups | sortBy(["researchGroup.name"]) %}
                {% if datasetFilter == "only" and researchGroup.datasets|submittedDIFs|length == 0 %}
                    {# DOT NOT SHOW #}
                {% else %}
                    {% if datasetFilter == "without" and researchGroup.datasets|submittedDIFs|length > 0 %}
                        {# DOT NOT SHOW #}
                    {% else %}
                        {% include 'DatasetMonitoring/v2/researchGroups.html.twig' %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if fundingCycle %}
    {% if datasetFilter != "without" and fundingCycle.datasets|submittedDIFs|length > 0 %}
    <span class="p-2 font-bold block text-2xl">
        Datasets for: {{ fundingCycle.name }}
        <a href="{{ url('pelagos_app_ui_report_dataset_monitoring_csv', { fundingCycle : fundingCycle.id}) }}">
            <i class="fa-solid fa-file-csv" style="color: green; margin-left:1em"></i>
        </a>
    </span>
    {% endif %}

    {% for researchGroup in fundingCycle.researchGroups | sortBy(["researchGroup.name"]) %}
        {% if datasetFilter == "only" and researchGroup.datasets|submittedDIFs|length == 0 %}
            {# DOT NOT SHOW #}
        {% else %}
            {% if datasetFilter == "without" and researchGroup.datasets|submittedDIFs|length > 0 %}
                {# DOT NOT SHOW #}
            {% else %}
                {% include 'DatasetMonitoring/v2/researchGroups.html.twig' %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if researchGroup %}
    <span class="p-2 font-bold block text-2xl">
        Datasets for: {{ researchGroup.name }}
        <a href="{{ url('pelagos_app_ui_report_dataset_monitoring_csv', { researchGroup : researchGroup.id}) }}">
            <i class="fa-solid fa-file-csv" style="color: green; margin-left:1em"></i>
        </a>
    </span>

    {% include 'DatasetMonitoring/v2/researchGroups.html.twig' %}
{% endif %}