{% set csvUrl = url('pelagos_app_ui_report_dataset_monitoring_csv', urlParameters) %}
{% set pdfUrl = url('pelagos_app_ui_report_dataset_monitoring_pdf', urlParameters) %}

<div class="m-0 block">
    <div class="relative min-h-14">
        <span class="block">
            <h2 class="block mr-20">
                {{ fundingOrganization.name }} Datasets
            </h2>
        </span>

        <div class="absolute bottom-0 right-0 float-right pb-2">
            <a href="{{ csvUrl }}">
                <i
                    class="fa-solid fa-file-csv mr-2 text-4xl text-green-600 noPrint"
                    data-tippy-content="{{"This report contains dataset status totals for #{group.name} as CSV."}}"
                ></i>
            </a>
            <a href="{{ pdfUrl }}">
                <i
                    class="fa-solid fa-file-pdf mr-2 text-4xl text-red-600 noPrint"
                    data-tippy-content="{{"This report contains dataset status totals for #{group.name} as PDF."}}"
                ></i>
            </a>
        </div>
    </div>
</div>