{% set divContainer = "gridContainer#{random()}" %}
<script>
    var data = [];

    {% for dataset in researchGroup.datasets|submittedDIFs %}
        data.push({
            'id': '{{ dataset.id }}',
            'title': '{{ dataset.title|e('js') }}',
            'udi': '{{ dataset.udi }}',
            'doi': '{{ (dataset.doi) ? dataset.doi.doi : "" }}',
            'status': '{{ dataset.getDatasetLifecycleStatus.value }}',
            'statusTooltip': '{{ dataset.getDatasetLifecycleStatus.description }}',
            'researchGroup': '{{ dataset.researchGroup.name|e('js') }}',
        });
    {% endfor %}

    var tooltipInstance = $("#tooltipContainer").dxTooltip({
        position: "right"
    }).dxTooltip("instance");

    $('#{{divContainer}}').dxDataGrid({
        dataSource: data,
        columnAutoWidth: true,
        sortOrder: 'asc',
        searchPanel: {
            visible: false,
        },
        columns: [{
            dataField: 'udi',
            caption: 'UDI',
            width: '8.75rem',
            },{
                dataField: 'doi',
                caption: 'DOI',
                width: '9.5rem',
            },{
                dataField: 'title',
                caption: 'Title',
            },
            {
                dataField: 'status',
                caption: 'Status',
                width: 100,
            },
        ],
        showBorders: true,
        paging: {
            pageSize: 0,
        },
        pager: {
            visible: false,
        },
        selection: {
            mode: 'single',
        },
        showColumnLines: true,
        showRowLines: true,
        wordWrapEnabled: true,
        onCellPrepared: function (e) {
            if (e.rowType === "data" && e.column.dataField === "status") {
                e.cellElement.mouseover(function (arg) {
                    tooltipInstance.option("contentTemplate", function (contentElement) {
                        contentElement.html(`<div class='tooltipContent'><div>${e.data.statusTooltip}</div>`);
                    });

                    tooltipInstance.show(arg.target);
                });

                e.cellElement.mouseout(function (arg) {
                    tooltipInstance.hide();
                });
            }
        }
    }).dxDataGrid("instance");
</script>

<div class="p-2 m-0">
    {% if not fundingCycle|default %}
    <div class="block">
        <span class="font-bold">Funding Source:</span> {{ researchGroup.fundingCycle.name }}
    </div>
    {% else %}
    <div class="block">
        <span class="font-bold">Research Group:</span> {{ researchGroup.name }}
    </div>
    {% endif %}
    <div class="block">
        <span class="font-bold">Leadership:</span>
        {% set leadership = researchGroup.personResearchGroups | role(constant('App\\Entity\\ResearchGroupRole::LEADERSHIP')) %}
        {% for prg in leadership | sortBy(['person.lastName', 'person.firstName']) %}
            {{ prg.person.firstName }} {{ prg.person.lastName }}
            {% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>
    <div class="block">
        <span class="font-bold">Datasets:</span> {{ researchGroup.datasets|length }}
    </div>
    <div id="{{divContainer}}" class="overflow-hidden"></div>
</div>
<div class="p-4"><hr></div>
