{% set divContainer = "gridContainer#{random()}" %}

<script>
    var data = [];
    var baseFontFamily = getComputedStyle(document.body).getPropertyValue('--baseFontFamily');

    {% for dataset in researchGroup.datasets|submittedDIFs %}
        data.push({
            'id': '{{ dataset.id }}',
            'title': '{{ dataset.title|e('js') }}',
            'udi': '{{ dataset.udi }}',
            'doi': '{{ (dataset.doi) ? dataset.doi.doi : "" }}',
            'status': '{{ dataset.getDatasetLifecycleStatus.value }}',
            'statusTooltip': '{{ dataset.getDatasetLifecycleStatus.description }}',
            'researchGroup': '{{ dataset.researchGroup.name|e('js') }}',
        });
    {% endfor %}

    var tooltipInstance = $("#tooltipContainer").dxTooltip({
        position: "right"
    }).dxTooltip("instance");

    $('#{{divContainer}}').dxDataGrid({
        dataSource: data,
        columnAutoWidth: true,
        sortOrder: 'asc',
        searchPanel: {
            visible: false,
        },
        columns: [{
            dataField: 'udi',
            caption: 'UDI',
            columnAutoWidth: true,
            },{
                dataField: 'doi',
                caption: 'DOI',
                width: 201,
                cssClass: 'dsmonitoringcols',
            },{
                dataField: 'title',
                caption: 'Title',
            },
            {
                dataField: 'status',
                caption: 'Status',
                width: 100,
            },
        ],
        showBorders: true,
        paging: {
            pageSize: 0,
        },
        pager: {
            visible: false,
        },
        selection: {
            mode: 'single',
        },
        showColumnLines: true,
        showRowLines: true,
        wordWrapEnabled: true,
        onCellPrepared: function (e) {
            if (e.rowType === "data" && e.column.dataField === "status") {
                e.cellElement.mouseover(function (arg) {
                    tooltipInstance.option("contentTemplate", function (contentElement) {
                        contentElement.html(`<div class='tooltipContent'><div>${e.data.statusTooltip}</div>`);
                    });

                    tooltipInstance.show(arg.target);
                });

                e.cellElement.mouseout(function (arg) {
                    tooltipInstance.hide();
                });
            }
        },
        onRowClick: function(e) {
            window.open(`${Routing.generate('pelagos_app_ui_dataland_default')}/${ e.data.udi }`, '_blank');
        }
    }).dxDataGrid("instance");
</script>

<div class="p-2 m-0">
    <div class="shadow-lg border rounded-lg">
        <div class="block">
            <span class="p-2 text-white bg-[#3975B7] font-bold block text-lg">Research Group: {{ researchGroup.name }}</span>
        </div>

        {% if not fundingCycle|default %}
        <div class="block px-2 py-1">
            <span class="font-bold">Funding Cycle:</span> {{ researchGroup.fundingCycle.name }}
        </div>
        {% endif %}

        <div class="block px-2 py-1">
            <span class="font-bold">Leadership:</span>
            {% set leadership = researchGroup.personResearchGroups | role(constant('App\\Entity\\ResearchGroupRole::LEADERSHIP')) %}
            {% for prg in leadership | sortBy(['person.lastName', 'person.firstName']) %}
                {{ prg.person.firstName }} {{ prg.person.lastName }}
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>

        <div class="block px-2 py-1">
            <span class="font-bold">Datasets:</span> {{ researchGroup.datasets|submittedDIFs|length }}
        </div>

        <div class="px-2 py-1">
            {% include 'DatasetMonitoring/v2/datasetsTotals.html.twig' with {'group': researchGroup} only %}
        </div>

        <div class="px-2 py-1">
            {% include 'DatasetMonitoring/v2/pobbles2.html.twig' with {'group': researchGroup} only %}
        </div>

        <div class="p-2">
            <div id="{{divContainer}}" class="overflow-hidden"></div>
        </div>
    </div>
</div>
