{% set random = random() %}
{% set divContainer = "gridContainer#{random}" %}

{% if not makePdf %}
<script>
    var data = [];
    var baseFontFamily = getComputedStyle(document.body).getPropertyValue('--baseFontFamily');

    function highlightRow{{random}}(id) {
        const key = $('#{{divContainer}}').dxDataGrid('instance').getRowIndexByKey(id);
        const element = $('#{{divContainer}}').dxDataGrid('instance').getRowElement(key);

        $('tr.dx-data-row').removeClass('dx-selection');
        element.addClass('dx-selection');
        element.get(0).scrollIntoView({ behavior: "smooth", block: "center", inline: "center" });
    }

    {% for dataset in researchGroup.datasets|submittedDIFs|filter(dataset => dataset.dif.isApproved == true) %}
        data.push({
            'id': '{{ dataset.id }}',
            'title': '{{ dataset.title|e('js') }}',
            'udi': '{{ dataset.udi }}',
            'doi': '{{ (dataset.doi) ? dataset.doi.doi : "" }}',
            'status': '{{ dataset.getDatasetLifecycleStatus.value }}',
            'statusTooltip': '{{ dataset.getDatasetLifecycleStatus.description }}',
            'researchGroup': '{{ dataset.researchGroup.name|e('js') }}',
        });
    {% endfor %}

    var store = new DevExpress.data.ArrayStore({
        key: "id",
        data: data,
    });

    var tooltipInstance = $("#tooltipContainer").dxTooltip({
        position: "right"
    }).dxTooltip("instance");

    $('#{{divContainer}}').dxDataGrid({
        dataSource: store,
        columnAutoWidth: true,
        sortOrder: 'asc',
        searchPanel: {
            visible: false,
        },
        columns: [
            {
                dataField: 'udi',
                caption: 'UDI',
                width: 162,
                cellTemplate: function(container, options) {
                    const url = Routing.generate('pelagos_app_ui_dataland_default', { 'udi': options.data.udi } );
                    return $('<a>', { href: url, target: '_blank', class: 'pagelink' }).text(options.displayValue);
                },
            },{
                dataField: 'doi',
                caption: 'DOI',
                width: 201,
                cssClass: 'dsmonitoringcols',
                cellTemplate: function(container, options) {
                    const url = `https://doi.org/${options.value}`;
                    return $('<a>', { href: url, target: '_blank', class: 'pagelink' }).text(options.displayValue);
                },
            },{
                dataField: 'title',
                caption: 'Title',
                cellTemplate: function(container, options) {
                    const url = Routing.generate('pelagos_app_ui_dataland_default', { 'udi': options.data.udi } );
                    return $('<a>', { href: url, target: '_blank', class: 'pagelink' }).text(options.displayValue);
                },
            },
            {
                dataField: 'status',
                caption: 'Status',
                width: 100,
            },
        ],
        showBorders: true,
        paging: {
            pageSize: 0,
        },
        pager: {
            visible: false,
        },
        showColumnLines: true,
        showRowLines: true,
        wordWrapEnabled: true,
        onCellPrepared: function (e) {
            if (e.rowType === "data" && e.column.dataField === "status") {
                e.cellElement.mouseover(function (arg) {
                    tooltipInstance.option("contentTemplate", function (contentElement) {
                        contentElement.html(`<div class='tooltipContent'><div>${e.data.statusTooltip}</div>`);
                    });
                    tooltipInstance.show(arg.target);
                });
                e.cellElement.mouseout(function (arg) {
                    tooltipInstance.hide();
                });
            }
        },
    });
</script>
{% endif %}
<div class="p-2 m-0" style="page-break-inside: auto">
    <div class="shadow-lg border rounded-lg">
        <div class="block second-header">
            <span class="p-2 text-white font-bold block text-lg" @click="expanded = ! expanded">
                <div class="float-end px-2">
                    <i :class="expanded ? 'fa-solid fa-chevron-up' : 'fa-solid fa-chevron-down'" style="color: white;"></i>
                </div>
                <div class="mr-10">
                    Research Group: {{ researchGroup.name }}
                </div>
            </span>
        </div>

        <div x-show="expanded" x-collapse>

            <div class="block px-2 py-1">
                <span class="font-bold">Research Group:</span>
                <a href="{{ path('pelagos_app_ui_researchgroup_about', { 'researchGroup': researchGroup.id }) }}" class="pagelink" target="_blank">
                    {{ researchGroup.name }}
                </a>
            </div>

            <div class="block px-2 py-1">
                <span class="font-bold">Funding Cycle:</span>
                <a href="{{ path('app_funding_cycle_land', { 'fundingCycle': researchGroup.fundingCycle.id }) }}" class="pagelink" target="_blank">
                     {{ researchGroup.fundingCycle.name }}
                </a>
            </div>

            <div class="block px-2 py-1">
                <span class="font-bold">Leadership:</span>
                {% set leadership = researchGroup.personResearchGroups | role(constant('App\\Entity\\ResearchGroupRole::LEADERSHIP')) %}
                {% for prg in leadership | sortBy(['person.lastName', 'person.firstName']) %}
                    <a href="{{ path('app_person_land', { 'person': prg.person.id }) }}" class="pagelink" target="_blank">
                        {{ prg.person.firstName }} {{ prg.person.lastName }}
                    {# These element must stay together to prevent space before the comma. #}
                    </a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>

            <div class="block px-2 py-1">
                <span class="font-bold">Datasets:</span> {{ researchGroup.datasets|submittedDIFs|length }}
            </div>

            <div class="px-2 py-1">
                {% include 'DatasetMonitoring/v2/datasetsTotals.html.twig' with {'group': researchGroup} only %}
            </div>

            {# Pobbles #}
            <div class="px-2 py-1 block">
                <table style="border: 0px; border-collapse: collapse;">
                    <tbody>
                        <tr style="height: 12px">

                        {% for dataset in researchGroup.datasets|submittedDIFs|filter(dataset => dataset.dif.isApproved == true)|sort((a, b) => a.getDatasetLifecycleStatus.sortOrder <=> b.getDatasetLifecycleStatus.sortOrder) %}
                            <td
                                data-tippy-content="{{dataset.udi}}"
                                style="width: 12px;"
                                @click="highlightRow{{random}}('{{dataset.id}}')"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12">
                                    <rect x="0" y="0" width="12" height="12" fill="{{dataset.getDatasetLifecycleStatus.color}}" opacity="1">
                                    </rect>
                                </svg>
                            </td>

                            {% if (loop.index % 68) == 0 %}
                        </tr>
                        <tr style="height: 12px">
                            {% endif %}

                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="p-2">
                {% if not makePdf %}
                <div id="{{divContainer}}" class="overflow-hidden"></div>
                {% else %}
                <div class="overflow-hidden">
                    {% include 'DatasetMonitoring/v2/researchGroupAltGrid.html.twig' %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
