{% block subject 'GRIIDC Account created for ' ~ account.person.FirstName ~ ' ' ~ account.person.LastName %}

{% block body_html %}
    Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},<br>
    <br>
    This email is being sent to notify you that {{account.person.FirstName}} {{account.person.LastName}} has completed
    the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC)
    account creation process. {{account.person.FirstName}} {{account.person.LastName}} is a member of
    {{ account.person.ResearchGroupNames | join(', ') }}.<br />
    <br>
    Thank you,<br>
    <br>
    The GRIIDC Team<br>
    <br>
    *You are receiving this email because you are identified as a data manager for a Gulf of Mexico Research
    Initiative Research Consortium. If you believe you should not be receiving this email please notify
    <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.*
{% endblock %}

{% block body_text %}
This email is being sent to notify you that {{account.person.FirstName}} {{account.person.LastName}} has completed
the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC)
account creation process. {{account.person.FirstName}} {{account.person.LastName}} is a member of
{{ account.person.ResearchGroupNames | join(', ') }}.


Thank you,

The GRIIDC Team

*You are receiving this email because you are identified as a data manager for a Gulf of Mexico Research
Initiative Research Consortium. If you believe you should not be receiving this email please notify
griidc@gomri.org.*
{% endblock %}
