{% extends "PelagosAppBundle::layout.html.twig" %}

{%block stylesheets %}
    {{ parent() }}

    {% stylesheets
        '@PelagosAppBundle/Resources/public/css/search.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('build/layout.css') }}">
{%endblock stylesheets  %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/layout.js') }}"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootpag/1.0.7/jquery.bootpag.min.js"></script>

    {% javascripts
        '@PelagosAppBundle/Resources/public/js/search.js'
        '@FOSJsRoutingBundle/Resources/public/js/router.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ add_js(path('fos_js_routing_js', { callback: 'fos.Router.setData' })) }}

{% endblock %}


{% block body %}
    {% if query is null %}
        <div class="container-fluid header">
            <div class="row">
                <h2>{% image '@PelagosAppBundle/Resources/public/images/search-logo.png' %}
                        <img src="{{ asset_url }}">
                    {% endimage %}
                </h2>
                {% include 'PelagosAppBundle:Search:form.html.twig' %}
            </div>
        </div>
    {% else %}
        {% include 'PelagosAppBundle:Search:results.html.twig' %}
    {% endif %}
{% endblock %}
