<div class="container-fluid bootstrap snippet">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div>
                    <h3>Research Groups</h3>
                    {% for group in researchGroupsInfo %}
                        <div class="b">
                            <input type="checkbox" name="{{ group.name }}" >
                            <label style="font-weight: lighter" for="{{ group.name }}">({{ group.count }}) {{ group.name }} </label><br />
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h2 data-content="{{ count }}" id="count">
                        {{ count }} results found for: <span class="text-navy">"{{ query }}"</span>
                    </h2>

                    <div class="search-form">
                        {% include 'PelagosAppBundle:Search:form.html.twig' %}
                    </div>
                    {% for result in results %}
                        {% include 'PelagosAppBundle:Search:dataset-row.html.twig'  %}
                    {% endfor %}

                    <div class="text-center">
                        <div class="btn-group">
                            <div class="wrapper">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <nav aria-label="Search results pages">
                                                <ul id="search-pagination" class="pagination"></ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
