<div class="container-fluid" style="margin-top: 50px;">
    <div class="col-md-offset-4">
        <h2 data-content="{{ count }}" id="count">
            {{ count }} results found for: <span class="text-navy">"{{ query }}"</span>
        </h2>
    </div>

    <div class="row">
        <div class="search-form">
            {% include 'PelagosAppBundle:Search:form.html.twig' %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-2 col-xs-2">

            <div class="aggregations">
                <h5 style="margin-bottom: 5px;"><strong style="color: #337ab7;">Research Groups</strong></h5>

                {% for group in researchGroupsInfo %}

                <ul class="browse-list list-unstyled long-list" style="margin-bottom: 0;">
                    <li for="{{ group.id }}">
                        <div class="checkbox block" style="margin-top: 0; margin-bottom: 0;">
                            <label>
                                <input class="checkbox" type="checkbox" id="{{ group.id }}">
                                    <span class="groupName">{{ group.name }} </span> ({{ group.count }})
                                    <div class="tooltiptext" style="display:none">
                                        <p>{{ group.name }}</p>
                                    </div>
                            </label>
                        </div>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-10 col-xs-10">
            <div class="breadcrumbs"></div>
            <div class="clearfix"></div>
            <table class="table">
                <tbody>
                {% for result in results %}
                    {% include 'PelagosAppBundle:Search:dataset-row.html.twig'  %}
                {% endfor %}
                </tbody>
            </table>
            <div class="clearfix"></div>
        </div>

        <div class="text-center">
            <div class="btn-group">
                <div class="wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <nav aria-label="Search results pages">
                                    <ul id="search-pagination" class="pagination"></ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix" style="margin-bottom: 100px;"></div>
    </div>
</div>