{% block sender 'GRIIDC <griidc@gomri.org>' %}

{% block subject '[GRIIDC] DIF Unlocked' %}

{% block body_html %}
    Dear {{ person.getFirstName }} {{ person.getLastName }},<br>
    <br>
    Your DIF <a href="{{url}}">{{udi}}</a> has been unlocked.<br>
    <br>
    Thank you,<br>
    The GRIIDC Team<br>
{% endblock %}

{% block body_text %}
Dear {{firstName}} {{lastName}},

Your DIF <a href="{{url}}">{{udi}}</a> has been unlocked.

Thank you,
The GRIIDC Team
{% endblock %}

{% block body_text %}
Dear {{ person.getFirstName }} {{ person.getLastName }},

Your DIF <a href="{{url}}">{{udi}}</a> has been unlocked.

Thank you,
The GRIIDC Team
{% endblock %}