<div id="navigation">
    <div class="region region-navigation">
        <div id="block-pelagos-menu-1" class="block block-superfish">
            <div class="content">
                <ul id="pelagos-menu-1" class="menu sf-menu sf-main-menu sf-horizontal sf-style-none sf-js-enabled sf-shadow">
                    <li class="first odd"><a href="{{ path('pelagos_homepage')  }}" >Home</a></li>
                    <li class="middle even menuparent"><span class="nav-chart menuparent nolink sf-with-ul">Search Data<span class="sf-sub-indicator"> »</span>
                                            <span class="sf-sub-indicator"> »</span></span><ul class="sf-hidden" style="float: none; width: 13.1111em;">
                            <li class="first odd "><a href="{{ vanitypath('pelagos_app_ui_searchpage_default')  }}">Search GRIIDC Data</a></li>
                            <li class="middle even "><a href="/additional-gulf-mexico-data-resources">Gulf of Mexico Data Sources</a></li>
                            <li class="last odd "><a href="https://erddap.griidc.org/erddap" target="_top">GRIIDC ERDDAP</a></li>
                        </ul></li>
                    <li class="middle odd menuparent"><span class="nav-chart menuparent nolink sf-with-ul">Submit Data<span class="sf-sub-indicator"> »</span>
                                        <span class="sf-sub-indicator"> »</span></span>
                        <ul class="sf-hidden" style="float: none; width: 12.2222em;">
                            <li class="first odd "><a href="/how-submit-data-griidc">How to Submit Data</a></li>
                            <li class="middle even "><a href="{{ path('pelagos_app_ui_dif_default')  }}">Dataset Information Form</a></li>
                            <li class="last odd "><a href="{{  path('pelagos_app_ui_datasetsubmission_default')  }}">Dataset Submission</a></li></ul></li>
                    <li class="middle even menuparent"><span class="nav-chart menuparent nolink sf-with-ul">Tracking &amp; Stats<span class="sf-sub-indicator"> »</span><span class="sf-sub-indicator"> »</span></span>
                        <ul class="sf-hidden" style="float: none; width: 12em;">
                            <li class="first odd "><a href="{{  path('pelagos_app_ui_datasetmonitoring_default')  }}">Dataset monitoring</a></li>
                            <li class="last even "><a href="{{  path('pelagos_app_ui_stats_default')  }}">GRIIDC system statistics</a></li>
                        </ul>
                    </li>
                    <li class="middle odd menuparent"><span class="menuparent nolink sf-with-ul">About Us<span class="sf-sub-indicator"> »</span><span class="sf-sub-indicator"> »</span></span>
                        <ul class="sf-hidden" style="float: none; width: 12em;">
                            <li class="first odd "><a href="/griidc-background">GRIIDC Background</a></li>
                            <li class="middle even "><a href="/griidc-history">GRIIDC History</a></li>
                            <li class="middle odd sf-depth-2"><a href="/meet-the-team">Meet the team</a></li>
                            <li class="middle even "><a href="/griidc-services">GRIIDC Services</a></li>
                            <li class="last odd "><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
                        </ul></li>
                    <li class="middle even"><span class="menuparent nolink sf-with-ul">Help<span class="sf-sub-indicator"> »</span>
                                            <span class="sf-sub-indicator"> »</span></span>
                        <ul class="sf-hidden" style="float: none; width: 13.5em;">
                            <li class="first odd "><a href="{{ path('pelagos_app_ui_account_default')  }}">Account Request</a></li>
                            <li class="middle even "><a href="{{ path('pelagos_app_ui_account_password')  }}">Password Reset</a></li>
                            <li class="middle odd "><a href="{{ path('pelagos_app_ui_account_forgotusername') }}">Forgot Username</a></li>
                            <li class="middle even "><a href="/frequently-asked-questions">FAQs</a></li>
                            <li class="middle odd "><a href="/data-management-planning">Data Management Planning</a></li>
                            <li class="middle even "><a href="/training-user-guides">Training &amp; User Guides</a></li>
                            <li class="middle odd "><a href="/webinar-recordings">Webinar Recordings</a></li>
                            <li class="middle even "><a href="/metadata-editor-start">ISO 19115-2 Metadata Editor</a></li>
                            <li class="last odd "><a href="/RB-data-compliance">Data Compliance Information</a></li>
                        </ul>
                    </li>
                    {% if is_granted('ROLE_DATA_REPOSITORY_MANAGER') %}
                        {% include "Menus/admin.html.twig" %}
                        <li class="last even"><a href="https://research.gulfresearchinitiative.org/" title="GoMRI Research Information" name="GoMRI Research" target="_top" >Research</a></li>
                    {% else %}
                        <li class="last odd"><a href="https://research.gulfresearchinitiative.org/" title="GoMRI Research Information" name="GoMRI Research" target="_top" >Research</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
