<div class="projects-header">
    Datasets for: {{header}}
    {% if instName | default %}
        <span class="header-inst-name">({{instName}})</span>
    {% endif %}
</div>
{% for ResearchGroup in researchGroups %}
<div class="project" project="{{ResearchGroup.id}}">
    <div class="project-title">
        <a href="{{ path('pelagos_app_ui_researchgroup_about', { 'id': ResearchGroup.id }) }}" target="_blank" class="hover:text-blue-600">{{ResearchGroup.name}}</a>

        <span class="awesome-icon awesome-icon-csv" data-url="{{ vanityurl('pelagos_app_ui_reportresearchgroupdatasetstatus_datasetmonitoringreport', { id : ResearchGroup.id}) }}">
            <i class="fas fa-file-csv" style="color: green; margin-left:1em"></i>
        </span>
    </div>
    <div class="project-container">
        <div class="fundSrc">
            {% if custom_base_template|orTemplateIfNotExists == 'nas-grp-base.html.twig' %}
                <span class="attr">Grant Award:</span> {{ResearchGroup.fundingCycle.name}}
            {% else %}
                <span class="attr">Funding Source:</span> {{ResearchGroup.fundingCycle.name}}
            {% endif %}
        </div>
        <div class="pi">
            <span class="attr">Leadership:</span>
            {% set leadership = ResearchGroup.personResearchGroups | role(constant('App\\Entity\\ResearchGroupRole::LEADERSHIP')) %}
            {% for prg in leadership | sortBy(['person.lastName', 'person.firstName']) %}
                {{ prg.person.firstName }} {{ prg.person.lastName }}
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
        {% if not pdf | default %}
        <br />
        <div class="dotchartcontainer">
            <table width="100%" cellpadding="5">
                <tr width="100%">
                    <td width="80%">
                        <div class="dotchart"></div>
                    </td>
                <tr width="100%">
                    <td>
                        <div class="dotchart_legend" style="position: relative;">
                            <span><strong>Dataset with status:</strong>
                                <img src="{{ asset('build/images/green-circle.png') }}" class="bobble-img"> Available:
                                <span id="a"></span>
                            </span>
                            <span>
                                <img src="{{ asset('build/images/yellow-circle.png') }}" class="bobble-img"> Submitted:
                                <span id="r"></span>
                            </span>
                            <span>
                                <img src="{{ asset('build/images/empty-circle.png') }}" class="bobble-img"> Identified:
                                <span id="i"></span>
                            </span>
                            <div style="position:absolute; right:0; bottom:0;">
                                <strong>Total Datasets:</strong>
                                <span id="tot"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        {% endif %}
        {% if ResearchGroup.Datasets | submittedDIFs | length > 0 %}
            {% include 'DatasetMonitoring/datasets.html.twig' with {'datasets': ResearchGroup.datasets} %}
        {% else %}
            <div class="nodata"><em>{no dataset identified}</em></div>
        {% endif %}
    </div>
</div>
{% endfor %}
