<!DOCTYPE html>
<html>
<head>
{% block head %}
    <title>{% block title %}{% endblock %}</title>

    {%block stylesheets %}
        <link href="{{ asset('/build/common.css') }}" rel="stylesheet" />
    {%endblock stylesheets  %}

    {% block javascripts %}
        <script src="{{ asset('/build/common.js') }}"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.hoverintent/1.9.0/jquery.hoverIntent.min.js"></script>

        <script type="text/javascript" src="https://griidc.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-2rfjj7/b/29/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=8b54034b"></script>

        <script type="text/javascript" src="https://griidc.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-2rfjj7/b/29/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=a5e3f887"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                window.ATL_JQ_PAGE_PROPS =  {
                    "8b54034b" : {
                        "triggerFunction": function(showCollectorDialog) {
                            $("#atlwdg-issue").click(function(e) {
                                e.preventDefault();
                                showCollectorDialog();
                            });
                        }
                    },
                    "a5e3f887" : {
                        "triggerFunction": function(showCollectorDialog) {
                            $("#atlwdg-suggest").click(function(e) {
                                e.preventDefault();
                                showCollectorDialog();
                            });
                        }
                    },
                };
            });
        </script>
    {% endblock %}
{% endblock %}
</head>
<body class="html page-pelagos-full">
{% block htmlbody %}
    <ul class="atlassian-btns">
        <li>
            <a href="#" id="atlwdg-issue" class="atlwdg-trigger">
                Report Issue
            </a>
        </li>
        <li>
            <a href="#" id="atlwdg-suggest" class="atlwdg-trigger">
                Suggest Improvement
            </a>
        </li>
    </ul>
    <div id="page-wrapper">
        <div id="page">
            <div id="header"><div class="section clearfix">

                    <div class="region region-header">
                        <div id="block-pelagos-pelagos-login-logout-links" class="block block-pelagos">
                            <div class="content">
                            {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('security_logout') }}">Logout</a>
                                {% else %}
                            <a href="{{ path('security_login') }}">Login</a>
                            {% endif %}
                            </div>
                        </div>
                    </div>

                    <div id="branding" class="container">
                        <div id="logo-wrapper">
                            <a href="http://gulfresearchinitiative.org" title="Gulf of Mexico Research Initiative" rel="home" id="logo">
                                <img src="{{asset('/build/images/logo.png')}}" alt="Home">
                            </a>
                        </div>

                        <div id="name-and-slogan">

                            <div id="site-slogan">Investigating the effect of oil spills <br> on the environment and public health.</div>
                        </div>

                        <div id="griidc-logo-wrapper">
                            <a href="/" title="Home" rel="home" id="logo">
                                <img src="{{asset('/build/images/griidc-logo.png')}}" alt="GRIIDC">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% include "PelagosAppBundle::layout-menu.html.twig" %}
            <div id="pelagos-container">
                <div id="pelagos-container-row">
                    <div id="pelagos-container-cell">
                        <div id="pelagos-wrapper">
                            <div id="pelagos-wrapper-row">
                                <div id="pelagos-content">
                                    <h1 style="margin: 0 auto;">{% block pagetitle %}{% endblock %}</h1>
                                    {% block body %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#END Main Content #}
        </div>{#End div page#}
    </div> {#End div wrapper#}
{% endblock htmlbody %}
</body>
</html>