{% set dl_ok = 0 %}
{% set dataset_available = 0 %}

{% if dataset.metadataStatus == constant('Pelagos\\Entity\\DatasetSubmission::METADATA_STATUS_ACCEPTED') %}
{% set dl_ok = 1 %}
{% endif %}
{% if dataset.availabilityStatus == constant('Pelagos\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE') or dataset.availabilityStatus == constant('Pelagos\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE_REMOTELY_HOSTED') %}
{% set dataset_available = 1 %}
{% endif %}

<div style="position: relative;">
<font size="3">
<div style="float:right;" class="minitoolbar">
    <div>
        {% if dl_ok == 1 %}
            {% if dataset_available %}
                {% image '@PelagosAppBundle/Resources/public/images/download-package.png' %}
                <img width="40px" height="40px" id="downloadds" src="{{asset_url}}">
                {% endimage %}
            {% elseif dataset.availabilityStatus == constant('Pelagos\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_RESTRICTED') %}
                {% image '@PelagosAppBundle/Resources/public/images/download-package.png' %}
                <img width="40px" height="40px" id="downloaddsdenrestricted" src="{{asset_url}}">
                {% endimage %}
            {% elseif dataset.availabilityStatus == constant('Pelagos\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_AVAILABLE_WITH_APPROVAL') %}
                {% image '@PelagosAppBundle/Resources/public/images/download-package.png' %}
                <img width="40px" height="40px" id="downloaddsdenapproval" src="{{asset_url}}">
                {% endimage %}
            {% else %}
                {% image '@PelagosAppBundle/Resources/public/images/download-package-grey.png' %}
                <img width="40px" height="40px" id="downloaddsden" src="{{asset_url}}">
                {% endimage %}
            {% endif %}
            {% if dataset.metadataStatus == constant('Pelagos\\Entity\\DatasetSubmission::METADATA_STATUS_ACCEPTED') %}
                {% image '@PelagosAppBundle/Resources/public/images/xmlc.png' %}
                <img title="test" width="40px" height="40px" id="metadatadl" src="{{asset_url}}">
                {% endimage %}
            {% else %}
                {% image '@PelagosAppBundle/Resources/public/images/xmlc-bw.png' %}
                <img title="test" width="40px" height="40px" id="metadatadl-dis" src="{{asset_url}}">
                {% endimage %}
            {% endif %}
        {% else %}
            {% image '@PelagosAppBundle/Resources/public/images/download-package-grey.png' %}
            <img width="40px" height="40px" id="downloaddsdenmd" src="{{asset_url}}">
            {% endimage %}
            {% image '@PelagosAppBundle/Resources/public/images/xmlc-bw.png' %}
            <img title="test" width="40px" height="40px" id="metadatadl-dis" src="{{asset_url}}">
            {% endimage %}
        {% endif %}
    </div>
</div>

<h2>{{dataset.title}}</h2>

<h3>{{dataset.researchGroup.name}}</h3>


<table width="90%" datasetId="{{ dataset.id }}">
    {% if dataset.datasetSubmission.doi|default %}
        <tr><td colspan="2"><b>DOI:</b><br/> {{dataset.datasetSubmission.doi}}</td></tr>
        <tr><td colspan="2">&nbsp;</td></tr>
    {% endif %}
    <tr>
        <td><b>UDI:</b><br/><span id="udi">{{dataset.udi}}</span></td>
        <td>
            <b>Last Update:</b><br>
            {% if dataset.datasetSubmission|default %}
            {{ dataset.datasetSubmission.creationTimeStamp|date('M d Y H:i T', 'UTC') }}<br /> }}
            {% else %}
            {{ dataset.dif.modificationTimeStamp|date('M d Y H:i T', 'UTC') }}
            {% endif %}
        </td>
    </tr>

    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>

    <tr>
        <td valign="top"><b>Dataset Author(s):</b><br/> {{dataset.datasetSubmission.authors|default}}</td>
        <td rowspan="4" valign="top">
            {% if dataset.dif %}
                <b>Point of Contact:</b><br/>
                {{dataset.dif.primaryPointOfContact.lastName}}, {{dataset.dif.primaryPointOfContact.firstName}}<br/>
                {{dataset.dif.primaryPointOfContact.organization}}<br/>
                {{dataset.dif.primaryPointOfContact.deliveryPoint}}<br>
                {{dataset.dif.primaryPointOfContact.city}}, {{dataset.dif.primaryPointOfContact.administrativeArea}}&nbsp;&nbsp;{{dataset.dif.primaryPointOfContact.postalCode}}<br>
                {{dataset.dif.primaryPointOfContact.country}}<br>
                <a href="mailto:{{dataset.dif.primaryPointOfContact.emailAddress}}">
                    {{dataset.dif.primaryPointOfContact.emailAddress}}
                </a>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td valign="top">
            {% if dataset.researchGroup.fundingCycle %}
                <b>Funding Source:</b><br/>
                {{dataset.researchGroup.fundingCycle.name}}
            {% endif %}
        </td>
    </tr>

    {% if dataset.metadata|default %}

        {% set showExtent = false %}
        {% set showExtentDescription = false %}

        {# Metadata has an extent description and does not have a temporal extent. Presence of beginPosition or endPosition constitutes a temporal extent. #}
        {# Display the extent description. #}
        {% if dataset.metadata.extentDescription|default and not (dataset.metadata.beginPosition|default or dataset.metadata.endPosition|default) %}
            {% set showExtentDescription = true %}
        {% endif %}

        {# Metadata has a temporal extent and does not have at extent description. #}
        {# Display the temporal extent. #}
        {% if (dataset.metadata.beginPosition|default or dataset.metadata.endPosition|default) and not dataset.metadata.extentDescription|default %}
            {% set showExtent = true %}
        {% endif %}

        {# Metadata has both an extent description and a temporal extent and extent contains a gmd:geograpicElement. #}
        {# Display the temporal extent. #}
        {% if (dataset.metadata.beginPosition|default or dataset.metadata.endPosition|default) and dataset.metadata.extentDescription|default and dataset.metadata.geometry|default %}
            {% set showExtent = true %}
        {% endif %}

        {# Metadata has both an extent description and a temporal extent and extent does not contain a gmd:geograpicElement. #}
        {# Display the extent description. #}
        {% if (dataset.metadata.beginPosition|default or dataset.metadata.endPosition|default) and dataset.metadata.extentDescription|default and not dataset.metadata.geometry|default %}
            {% set showExtentDescription = true %}
        {% endif %}

        {# Metadata has neither extent description nor temporal extent.  #}
        {# Display nothing.  This is the default case. #}

        {% if showExtent == true %}

            {% if not dataset.metadata.beginPosition|default %}
                {% set begin = 'N/A' %}
            {% else %}
                {% set begin = dataset.metadata.beginPosition %}
            {% endif %}

            {% if not dataset.metadata.endPosition|default %}
                {% set end = 'N/A' %}
            {% else %}
                {% set end = dataset.metadata.endPosition %}
            {% endif %}

            <tr>
                <td valign="top">
                        <b>Data Collection Period:</b><br/>
                        {{ begin }}
                          to
                        {{ end }}
                </td>
            </tr>
        {% endif %}

        {% if showExtentDescription == true %}
            <tr>
                <td valign="top">
                        <tr><td colspan="2">&nbsp;</td></tr>
                        <tr><td colspan="2"><b>Extent Description:</b><br/> {{dataset.metadata.extentDescription}}</td></tr>
                 </td>
            </tr>
        {% endif %}
    {% endif %}
</table>

</font>
<p/>
    {% include 'PelagosAppBundle:DatasetMonitoring:datasets.html.twig' with
            { 'datasets' : [dataset], 'dataland' : true } %}
</div>

