{% extends "PelagosAppBundle:template:UI.html.twig" %}

{% block head %}
    {{ parent() }}
    
    {% javascripts '@PelagosAppBundle/Resources/public/js/Account.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <table width="100%" border="0">
        <tr>
            <td width="50%">
                 <h2>Please provide the email address associated with your GoMRI funding agreement when requesting an account.</h2>
            </td>
        </tr>
            <tr>
            <td width="50%">
                    <form id="accountForm" method="post" action="{{ path('pelagos_app_ui_account_verifyemail') }}">
                        <label for="emailAddress">E-mail Address:</label>
                        <input type="email" size="100" name="emailAddress" id="emailAddress" required>
                        <label style="display:inline;" for="emailAddress" class="error"></label>
                        <p>
                            <button type="submit">Submit</button>
                        </p>
                    </form>
            </td>
        </p>
    </table>
{% endblock %}

{#

{% block emailFound %}
     <div class="messages status">
        <h2 class="element-invisible">Status message</h2>
        The email address you have entered has been located in the GRIIDC system. An email will be sent to this address with additional information to finish the account creation process.
    </div>
{% endblock %}

{% block emailNotFound %}
    <div class="messages error">
        <h2 class="element-invisible">Error message</h2>
        The email address you have entered could not be found in the GRIIDC system. Please contact <a href=
        "griidc@gomri.org">griidc@gomri.org</a> for additional help.
    </div>
{% endblock %}

{% block accountExists %}
    <div class="messages error">
        <h2 class="element-invisible">Error message</h2>
        The email address you have entered is already associated with a GRIIDC account. If you have forgotten your password or would like to create a new password please visit____. For any additional questions please contact <a href=
        "griidc@gomri.org">griidc@gomri.org</a>.
    </div>
{% endblock %}

{% block invalidToken %}
    <div class="messages error">
        <h2 class="element-invisible">Error message</h2>
        The link you have selected is invalid. The link may have already been used to create an account. If you have forgotten your password please visit_____. For any additional help please contact <a href=
        "griidc@gomri.org">griidc@gomri.org</a>.
    </div>
{% endblock %}

{% block expiredToken %}
    <div class="messages error">
        <h2 class="element-invisible">Error message</h2>
        The link you have selected has expired. Please visit <a href="{{uri}}/Account">Account Creation</a> to request a new account.
    </div>
{% endblock %}

{% block setPassword %}
    <div class="messages status">
        <h2 class="element-invisible">Status message</h2>
        Your e-mail address has successfully been verified.
    </div>
    <form id="passwordForm" method="post" action="{{path}}/Account/{{tokenText}}">
    <p>
        Please create a password.
    </p>
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" size="40" required>&nbsp;
    <label style="display:inline;" for="password" class="error"></label>
    <p>
        <label for="verify_password">Verify Password:</label>
        <input type="password" id="verify_password" name="verify_password" size="40">&nbsp;
        <label style="display:inline;" for="verify_password" class="error"></label>
    </p>
    <p>
        <ul>
            <li>Passwords must be a minimum of eight characters/numerals.</li>
            <li>Passwords must contain a combination of three of the the following:
                <ul>
                    <li>Upper Case Letters (A, B, C, etc...)</li>
                    <li>Lower Case Letters (a, b, c, etc...)</li>
                    <li>Numbers (1, 2, 3, etc...)</li>
                    <li>Non-Alphabetic Characters (!, @, #, etc...)</li>
                </ul>
            </li>
            <li>You cannot use a password that contains any part of your name.</li>
        </ul>
    </p>
    <button type="submit">Next</button>
    <input type="hidden" name="action" value="establishaccount">
    </form>
{% endblock %}

{% block accountCreated %}
    <div class="messages status">
        <h2 class="element-invisible">Status message</h2>
        You have successfully created a GRIIDC account.
    </div>
    Your user name is: <strong>{{Account.getUserId}}</strong><br>
    <p>
        Please log in to the GRIIDC system in order to access data submission webpages.
    </p>
{% endblock %}
#}