{% extends "template/UI.html.twig" %}
{% block title %}Search GRIIDC Data{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <link href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.7/themes/default/style.min.css" rel="stylesheet" />

    <link href="{{ asset('build/css/data-discovery.css') }}" rel="stylesheet" />
    <link href="{{ asset('build/css/data-discovery-scrollbars.css') }}" rel="stylesheet" />
    <link href="{{ asset('build/css/data-discovery-datasets.css') }}" rel="stylesheet" />
    <link href="{{ asset('build/css/dataset_details.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.7/jstree.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?v=3&key={{ google_maps_api_key }}&callback=gmapsCallback"></script>

    <script type="text/javascript" src="{{ asset('build/js/geoviz.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/data-discovery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/tree.js') }}"></script>

{% endblock javascripts %}

{% block body %}
    <input id="by-input" type="hidden">
    <input id="id-input" type="hidden">

    <div id="container">

        <div id="left">
            <div>
                <div id="map_pane">
                    <div id="olmap"></div>
                    <div id="map_buttons">
                        <div class="map_button_container">
                            <input type="button" id="show_extents_checkbox" class="map_button" value="Show Extents" onclick="showAllExtents();">
                        </div>
                        <div class="map_button_container">
                            <input type="button" id="clearGeoFilterButton" class="map_button" value="Clear Filter" disabled onclick="$(this).button('disable');myGeoViz.clearFilter();trees['tree'].geo_filter = null;applyFilter();">
                        </div>
                        <div class="map_button_container">
                            <input type="button" id="drawGeoFilterButton" class="map_button" value="Draw Filter" onclick="myGeoViz.drawFilter();$(this).button('disable');$('body').css('cursor','crosshair');$('#olmap').css('cursor','crosshair');$('input').css('cursor','crosshair');" disabled>
                        </div>
                    </div>
                    <div class="map_border map_border_top_bottom map_border_top map_border_top_bg"></div>
                    <div class="map_border map_border_top_bottom map_border_top map_border_top_fg"></div>
                    <div class="map_border map_border_top_bottom map_border_bottom map_border_bottom_bg"></div>
                    <div class="map_border map_border_top_bottom map_border_bottom map_border_bottom_fg"></div>
                    <div class="map_border map_border_left_right map_border_left map_border_left_bg"></div>
                    <div class="map_border map_border_left_right map_border_left map_border_left_fg"></div>
                    <div class="map_border map_border_left_right map_border_right map_border_right_bg"></div>
                    <div class="map_border map_border_left_right map_border_right map_border_right_fg"></div>
                </div>
            </div>
            <div>
                <div id="menu-wrapper">
                    <div id="menu">
                        <div class="viewport">
                            <div class="overview">
                                <div id="ds-treecontainer" class="treecontainer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="right" style="left: 45%; width: 55%;">
            <div>
                <div id="filter" class="right-panel">
                    <table>
                        <tr>
                            <td valign="top" style="width:100%; padding-right:10px;">
                                <input id="filter-input" class="textbox" type="text" size="50" value="{{defaultFilter}}">
                                <input id="filter-applied" type="hidden" value="{{defaultFilter}}">
                            </td>
                            <td valign="top">
                                <input type="button" id="filter-button" class="button" value="Filter" onclick="applyFilter();">
                            </td>
                            <td valign="top">
                                <input type="button" id="clear-button" class="button" value="Clear/Show All" onclick="clearAll();">
                            </td>
                            <td valign="top">
                                <input type="button" id="searchlink-button" class="button teal-button" value="Search V2">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <div id="dataset_listing_wrapper" class="right-panel">
                    <div id="dataset_listing"></div>
                    <div class="spinner">
                        <div>
                            <img src="{{ asset('build/images/spinner.gif') }}">
                        </div>
                    </div>
                </div>
            </div>
            <div id="expand-collapse"
                collapse-image="{{ asset('build/images/CollapseLeft-12.gif') }}"
                expand-image="{{ asset('build/images/CollapseRight-12.gif') }}"
            >
                <div style="height:50px; width:12px"></div>
            </div>
        </div>
    </div>
{% endblock %}
