<form class="entityForm" entityType="PersonResearchGroup"
{% if addForm is defined %}
 newform
{% endif %}
{% include '@templates/forms/permissionsBlock.html.twig' with {'Entity': PersonResearchGroup} %}
_action="{{path('pelagos_api_person_research_groups_post')}}">

    <input type="hidden" name="id" value="{{PersonResearchGroup.getId|default}}">

    <label>Person:</label>
    <select id="person" name="person" required="required">
    {% if PersonResearchGroup.Person %}
        <option value="{{PersonResearchGroup.Person.id}}">
            {{PersonResearchGroup.Person.lastName}}, {{PersonResearchGroup.Person.firstName}}, {{PersonResearchGroup.Person.emailAddress}}
        </option>
    {% else %}
        <option value="">[Please Select a Person]</option>
    {% endif %}
    </select>

    <span
    {% if Person is not defined %}
        style="display:none;"
    {% endif %}
    >{{ form_row(form.researchGroup) }}</span>

    {% if is_granted('CAN_CREATE', PersonResearchGroup) or  is_granted('CAN_EDIT', PersonResearchGroup)%}
        {{ form_row(form.role) }}
    {% endif %}

    <div
    {% if is_granted('CAN_EDIT', editlabel|default) %}
     class="editableField"
    {% endif %}
    >
        {{ form_row(form.label) }}
    </div>

    <div class="innerForm">
        {% if is_granted('CAN_EDIT', PersonResearchGroup) or is_granted('CAN_EDIT', editlabel|default)%}
            {% image '@PelagosAppBundle/Resources/public/images/application_edit.png' %}
                <img class="editimg" src="{{asset_url}}">
            {% endimage %}
        {% endif %}
        {% if is_granted('CAN_DELETE', PersonResearchGroup) %}
            {% image '@PelagosAppBundle/Resources/public/images/delete.png' %}
                <img class="deleteimg" src="{{asset_url}}">
            {% endimage %}
        {% endif %}
    </div>

</form>