<form class="entityForm" entityType="PersonResearchGroup"
{% include '@templates/forms/permissionsBlock.html.twig' with {'Entity': PersonResearchGroup} %}
action="{{path('pelagos_api_person_research_groups_post')}}">

    <input type="hidden" name="id" value="{{PersonResearchGroup.getId|default}}">

    {{ form_row(form.person) }}
    <label for="person" class="error"></label>

    {{ form_widget(form.researchGroup) }}

    {% if is_granted('CAN_CREATE', PersonResearchGroup) or  is_granted('CAN_EDIT', PersonResearchGroup)%}

        {{ form_row(form.role) }}

    {% endif %}

    {{ form_row(form.label) }}

    {% include '@templates/forms/innerForm.html.twig' with {'Entity': PersonResearchGroup} %}

    </form>