<form class="entityForm" entityType="PersonResearchGroup" creatable
{% if is_granted('CAN_CREATE', PersonResearchGroup) %}
 creatable
{% endif %}
{% if is_granted('CAN_EDIT', PersonResearchGroup) %}
 editable
{% endif %}
{% if is_granted('CAN_DELETE', PersonResearchGroup) %}
 deletable
{% endif %}
 action="{{path('pelagos_api_person_research_groups_post')}}">
 
    {{ form_row(form.person) }}
    <label for="person" class="error"></label>
    
    {{ form_row(form.fundingOrganization) }}
    
    {{ form_row(form.fundingCycle) }}
    
    {{ form_row(form.researchGroup) }}
    
    {{ form_row(form.role) }}
    
    {{ form_row(form.label) }}
    
    <div class="innerForm">
    {% image '@PelagosAppBundle/Resources/public/images/application_edit.png' %}
        <img class="editimg" src="{{asset_url}}">
    {% endimage %}
    {% if is_granted('CAN_DELETE', PersonResearchGroup) %}
        {% image '@PelagosAppBundle/Resources/public/images/delete.png' %}
            <img class="deleteimg" src="{{asset_url}}">
        {% endimage %}
    {% endif %}
 </div>
 
 
 </form>