{% block sender 'griidc@gomri.org <GRIIDC>' %}

{% block subject '[GRIIDC] Account Confirmation' %}

{% block body_html %}
    Dear {{Person.getFirstName}} {{Person.getLastName}},<br>
    <br>
    Your GRIIDC account creation is almost complete. Please click on the link below to verify your email address.<br>
    <br>
    <a href="{{uri}}/Account/{{PersonToken.getTokenText}}">{{uri}}/Account/{{PersonToken.getTokenText}}</a>
    <br>
    Thank you,<br>
    <br>
    The GRIIDC Team<br>
    <br>
    *You are receiving this email because you are identified as a user of the Gulf of Mexico Research Initiative Research System. If you believe you should not be receiving this email please notify <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.*
{% endblock %}

{% block body_text %}
Dear {{Person.getFirstName}} {{Person.getLastName}},

Your GRIIDC account creation is almost complete. Please click on the link below to verify your email address.<br>

{{link}}

Thank you,

The GRIIDC Team

*You are receiving this email because you are identified as a user of the Gulf of Mexico Research Initiative Research System. If you believe you should not be receiving this email please notify griidc@gomri.org.*
{% endblock %}