{% extends 'base.html.twig' %}
{% block title %} Information Product {{ informationProduct.id }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('info-prod-landing') }}
{% endblock stylesheets %}

{% block body %}
    <div class="bootstrap">
        <div class="container">
            <div class="main pb-5">
                <div class="title w-75 float-left px-3">
                    <div class="pt-3">
                        {% include 'InformationProduct/landing/descriptor-badge.html.twig' %}
                        <h2> {{ informationProduct.title }} </h2>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between py-2">
                        <div>
                            <div>
                                <strong>Creators:</strong> {{ informationProduct.creators|default }}
                            </div>
                        </div>
                        <div>
                            <div>
                                {% if informationProduct.externalDoi %}
                                <div>
                                    <strong>DOI:</strong> {{ informationProduct.externalDoi|default }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between py-2">
                        <div>
                            <div>
                                <strong>Publisher: </strong> {{ informationProduct.publisher|default }}
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="sidebar w-25 float-right px-3">
                    {% include 'InformationProduct/landing/detail-cards.html.twig' %}
                </div>
                <div class="other-metadata w-75 float-left px-3">
                    <div class="py-2">
                        <h6><strong>Related Projects:</strong></h6>
                        {% for researchGroup in informationProduct.researchGroups %}
                            <p class="pre-line-white-space">
                                <a href="{{ path('pelagos_app_ui_researchgroup_about', {'researchGroup': researchGroup.id}) }}" target="_blank">{{ researchGroup.name }}</a>
                            </p>
                        {% endfor %}
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('info-prod-landing') }}
{% endblock %}
