{% extends "template/UI.html.twig" %}

{% block head %}
    {{ parent() }}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block body %}
    {% if dataset %}
    <div class="w-66 mx-auto block" style="width:66%">
        <span class="legacy-h1">
            The dataset {{ dataset.udi }} is not available yet for download.
        </span>
        <table border="0">
            <tr>
                <td>Title:</td>
                <td>{{ dataset.title }}</td>
            </tr>
            <tr>
                <td>DOI:</td>
                <td>{{ dataset.doi.doi }}</td>
            </tr>
            <tr>
                <td valign="top">Point of Contact:&nbsp;&nbsp;</td>
                <td>
                    {{ dataset.primarypointofcontact.lastname }}, {{ dataset.primarypointofcontact.firstname }}<br />
                </td>
            </tr>
        </table>
        <br />
        For more information, please contact <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.
    </div>
    {% endif %}
{% endblock %}
