{% extends "template/UI.html.twig" %}
{% block title %}Inspect Dataset Fileset{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="w-75 mx-auto" style="width:66%">
        {% for message in app.flashes('error') %}
            <div class="mb-4 rounded-md bg-red-100 p-3 text-sm text-red-800">
                {{ message }}
            </div>
        {% endfor %}
        <table width="100%" border="0">
            <tr>
                <td width="50%">
                    <h3>Initiate Copy of a Fileset to Mimir for Review</h3>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    {{ form_start(form, {
                        action: path('pelagos_app_ui_inspectfileset_default'),
                        method: 'POST',
                        attr: { id: 'inspectForm' }
                    }) }}
                        {{ form_label(form.datasetUdi, 'Dataset UDI:') }}
                        {{ form_widget(form.datasetUdi, {}) }}
                        <div class="py-2">
                            {{ form_widget(form.submit, {}) }}
                        </div>
                    {{ form_end(form) }}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
