{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('grp-home') }}

{% endblock %}

{% block body %}
    <div class="bootstrap">
        <div class="container">

            <div class="row align-items-center my-5">
                <div class="col-lg-7">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ asset("build/images/home.jpg") }}" alt="Oil spill image">
                </div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">GRP - GRIIDC</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus
                        quam molestias corporis quod, ea minima accusamus.</p>
                </div>
            </div>
            
            <div>
                <div id="picklist" ></div>
            </div>

            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body">
                    <p class="text-white m-0">Ensuring a data and information legacy that promotes continual scientific discovery and public awareness of the Gulf of Mexico ecosystem.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="p-2">
                                <img class="card-img-top p-2 w-50 mx-auto d-block" src="{{ asset("build/images/icon-find.png") }}" alt="Search data icon">
                            </div>
                            <div class="p-2">
                                <h4 class="card-title text-center">
                                    <a href="{{ path('pelagos_app_ui_searchpage_default') }}" class="stretched-link" target="_blank">
                                        Search Data
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="p-2">
                                <img class="card-img-top p-2 w-50 mx-auto d-block" src="{{ asset("build/images/icon-submit.png") }}" alt="Submit data icon">
                            </div>
                            <div class="p-2">
                                <h4 class="card-title text-center">
                                    <a href="{{ path('pelagos_app_ui_dif_default') }}" target="_blank" class="stretched-link">
                                        Submit Data
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="p-2">
                                <img class="card-img-top p-2 w-50 mx-auto d-block" src="{{ asset("build/images/icon-monitoring.png") }}" alt="Monitor data icon">
                            </div>
                            <div class="p-2">
                                <h4 class="card-title text-center">
                                    <a href="{{ path('pelagos_app_ui_datasetmonitoring_default') }}" target="_blank" class="stretched-link">
                                        Monitor data
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; GRP - GRIIDC 2020</p>
            </div>
        </footer>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
      window.fundingCycles = {{ fundingCycles | json_encode | raw }}
    </script>
    
    {{ encore_entry_script_tags('grp-home') }}
{% endblock %}
