{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('grp-home') }}

{% endblock %}

{% block body %}
    <div class="bootstrap">
        <div class="container">

            <div class="row align-items-center my-3">
                <div class="col-lg-7">
                    <img class="img-fluid rounded mb-4" src="{{ asset("build/images/home.jpg") }}" alt="Oil spill image" style="height: 20rem">
                </div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Gulf Research Program Data Management</h1>
                    <p>The Gulf Research Program (GRP) is an independent, science-based program dedicated to enhancing
                        offshore energy safety, environmental protection and stewardship, and human health and community
                        resilience in the Gulf of Mexico region. The GRP is dedicated to making data publicly available to
                        decision-makers and has partnered with GRIIDC to provide data management services. GRIIDC is a
                        multi-disciplinary data repository that helps users organize, submit, share, and monitor data.
                    </p>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-4 mb-5">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="p-2">
                                <img class="card-img-top p-2 w-50 mx-auto d-block" src="{{ asset("build/images/icon-find.png") }}" alt="Search data icon">
                            </div>
                            <div class="p-2">
                                <h4 class="card-title text-center">
                                    <a href="{{ vanitypath('pelagos_app_ui_searchpage_default') }}" class="stretched-link" target="_blank">
                                        Search Data
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="p-2">
                                <img class="card-img-top p-2 w-50 mx-auto d-block" src="{{ asset("build/images/icon-submit.png") }}" alt="Submit data icon">
                            </div>
                            <div class="p-2">
                                <h4 class="card-title text-center">
                                    <a href="{{ vanitypath('pelagos_app_ui_datasetsubmission_info') }}" target="_blank" class="stretched-link">
                                        Submit Data
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="p-2">
                                <img class="card-img-top p-2 w-50 mx-auto d-block" src="{{ asset("build/images/icon-monitoring.png") }}" alt="Monitor data icon">
                            </div>
                            <div class="p-2">
                                <h4 class="card-title text-center">
                                    <a href="{{ vanitypath('pelagos_app_ui_datasetmonitoring_default') }}" target="_blank" class="stretched-link">
                                        Monitor Data
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5">
                <div id="picklist" ></div>
            </div>
        </div>
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; GRP - GRIIDC 2022</p>
            </div>
        </footer>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.fundingCycles = {{ fundingCycles | json_encode | raw }}
        window.projectDirectors = {{ projectDirectors | json_encode | raw }}
    </script>

    {{ encore_entry_script_tags('grp-home') }}
{% endblock %}
