{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Pelagos Admin Links
{% endblock %}

{% block main %}
    <ul>
        <li><a href="{{ path("pelagos_app_ui_account_default") }}">Request Account</a></li>
        <li><a href="{{ path("pelagos_app_ui_datarepository_default", {id:1}) }}">Data Repository</a></li>
        <li><a href="{{ path("pelagos_app_ui_mdapp_default") }}">Metadata Approval Tool (MDApp)</a></li>
        <li><a href="{{ path("pelagos_app_ui_datasetsummary_default") }}">Dataset Summary and Deletion</a></li>
        <li><a href="{{ path("pelagos_app_ui_datasetrestrictions_default") }}">Dataset Restrictions</a></li>
        <li><a href="{{ path("pelagos_app_ui_datasetreview_default") }}">Dataset Review</a></li>
        <li><a href="{{ path("pelagos_app_ui_sidebyside_default") }}">Side-by-Side Review</a></li>
        <li><a href="{{ path("pelagos_app_ui_endreview_default") }}">End Review Tool</a></li>
        <li><a href="{{ path("pelagos_app_ui_remotelyhosteddatasets_default") }}">Remotely Hosted Datasets</a></li>
        <li><a href="{{ path("pelagos_app_ui_maintenancemode_default") }}">Maintenance Mode</a></li>
        <li><a href="{{ path("pelagos_app_ui_externaldownloadlog_default") }}">External Download Log Tool</a></li>
        <li><a href="{{ path("pelagos_app_ui_list_keyword_dataset") }}">Keyword Dataset Tool (list)</a></li>
        <li>
            Lists
            <ul>
                <li><a href="{{ path("pelagos_app_list_fundingorganizations") }}">Funding Organizations</a></li>
                <li><a href="{{ path("pelagos_app_list_researchgroups") }}">Research Groups</a></li>
                <li><a href="{{ path("pelagos_app_list_people") }}">People</a></li>
                <li><a href="{{ path("pelagos_app_ui_publicationdatasetlink_list") }}">Dataset - Publication Links</a></li>
                <li><a href="{{ path("pelagos_app_list_nationaldatacenters") }}">National Data Centers</a></li>
                <li><a href="{{ path("pelagos_app_ui_information_products") }}">Information Products</a></li>
            </ul>
        </li>
        <li>
            Create New:
            <ul>
                <li><a href="{{ path("pelagos_app_ui_fundingorganization_default") }}">Funding Organization</a></li>
                <li><a href="{{ path("pelagos_app_ui_fundingcycle_default") }}">Funding Cycle</a></li>
                <li><a href="{{ path("pelagos_app_ui_researchgroup_default") }}">Research Group</a></li>
                <li><a href="{{ path("pelagos_app_ui_person_default") }}">Person</a></li>
                <li><a href="{{ path("pelagos_app_ui_persondatarepository_default") }}">Person to Data Repository Association</a></li>
                <li><a href="{{ path("pelagos_app_ui_personfundingorganization_default") }}">Person to Funding Organization Association</a></li>
                <li><a href="{{ path("pelagos_app_ui_publicationdatasetlink_default") }}">Dataset - Publication Link</a></li>
                <li><a href="{{ path("pelagos_app_ui_nationaldatacenter_default") }}">National Data Center</a></li>
                <li><a href="{{ path("pelagos_app_ui_information_product") }}">Information Product</a></li>
            </ul>
        </li>
        <li>
            Reports:
            <ul>
                <li><a href="{{ path("pelagos_app_ui_reportresearchgroupdatasetstatus_default") }}">Report Research Group Dataset Status</a></li>
                <li><a href="{{ path("pelagos_app_ui_reportfundingorg_default") }}">Report Funding Organization</a></li>
                <li><a href="{{ path("pelagos_app_ui_reportresearchgroupdatasetstatus_datasetmonitoringreport") }}">Dataset Monitoring Research Group CSV Report</a></li>
                <li><a href="{{ path("pelagos_app_ui_reportresearchgroupdatasetstatus_grpresearchgroupreport") }}">GRP PROJECT CSV REPORT</a></li>
                <li><a href="{{ path("pelagos_app_ui_gomrireport_default") }}">GOMRI Dataset Report(v1)</a></li>
                <li><a href="{{ path("pelagos_app_ui_gomrireport_versiontworeport") }}">GOMRI Dataset Report(v2)</a></li>
                <li><a href="{{ path("pelagos_app_ui_datasetdownloadreport_default") }}">Dataset Download Report</a></li>
                <li><a href="{{ path("pelagos_app_ui_datadisc_searchtermsreport_default") }}">DataDisc Search Terms Report</a></li>
                <li><a href="{{ path("pelagos_app_ui_searchtermsreport") }}">Search Terms Report</a></li>
                <li><a href="{{ path("pelagos_app_ui_datasetdownloadreport_timestampreport") }}">Dataset Download TimeStamp Report</a></li>
                <li><a href="{{ path("app_ui_reportdatasetsubmission_makecsv", {"udi": "YOUR_UDI_HERE"}) }}">Dataset Submission Report - CSV</a></li>
                <li><a href="{{ path('pelagos_app_ui_reportresearchgroup_detailreport') }}">Research Group Detail Report (JSON)</a></li>
                <li><a href="{{ path('pelagos_api_grp_datasets_people_report') }}">GRP Datasets and People Report (CSV)</a></li>
                <li><a href="{{ path('pelagos_api_grp_datasets_keywords_report') }}">GRP Datasets and Keywords Report (CSV)</a></li>
                <li><a href="{{ path('pelagos_api_grp_accounts_people_report') }}">GRP Account and People Report (CSV)</a></li>
                <li><a href="{{ path('pelagos_api_remotely_hosted_report') }}">Remotely Hosted Dataset Report (CSV)</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
