{% block subject 'GRIIDC Account created for ' ~ account.person.FirstName ~ ' ' ~ account.person.LastName %}

{% block body_html %}
    Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},<br>
    <br>
    This email is being sent to notify you that {{account.person.FirstName}} {{account.person.LastName}} has completed
    the GRIIDC
    account creation process. {{account.person.FirstName}} {{account.person.LastName}} is a member of
    {{ account.person.ResearchGroupNames | join(', ') }}.<br />
    <br>
    Thank you,<br>
    <br>
    The GRIIDC Team<br>
    <br>
    *You are receiving this email because you are identified as a data manager for this research group. If you believe you should not be receiving this email please notify
    <a href="mailto:help@griidc.org">help@griidc.org</a>.*
{% endblock %}

{% block body_text %}
This email is being sent to notify you that {{account.person.FirstName}} {{account.person.LastName}} has completed
the GRIIDC
account creation process. {{account.person.FirstName}} {{account.person.LastName}} is a member of
{{ account.person.ResearchGroupNames | join(', ') }}.


Thank you,

The GRIIDC Team

*You are receiving this email because you are identified as a data manager for this research group. If you believe you should not be receiving this email please notify
help@griidc.org.*
{% endblock %}
