{% block subject '[GRIIDC] Forgot Username' %}

{% block body_html %}
    Dear {{ person.getFirstName }} {{ person.getLastName }},<br>
    <br>
    You have recently requested to retrieve your username using the Forgot Username form on our system.

    <br>
    <br>
    {% if person.getAccount is null %}

    We were unable to find an account in our system, please create one here: <a href="{{ url('pelagos_app_ui_account_default') }}">Create Account</a>.

    {% else %}
    <b>
        username:  {{ person.getAccount.getUserId }}
    </b>
    {% endif %}

    <br>
    <br>

    Thank you,<br>
    <br>
    The GRIIDC Team<br>
    <br>
    *You are receiving this email because you filled out the Forgot Username form on our system. If you believe you should not be receiving this email please notify <a href="mailto:help@griidc.org">help@griidc.org</a>.*
{% endblock %}

{% block body_text %}
    Dear {{ person.getFirstName }} {{ person.getLastName }},

    You have recently requested to retrieve your username using the Forgot Username form on our system.

    {% if person.getAccount is null %}

    We were unable to find an account in our system, please create one here: {{ url('pelagos_app_ui_account_default') }}

    {% else %}
    username:  {{ person.getAccount.getUserId }}
    {% endif %}

    Thank you,

    The GRIIDC Team

    *You are receiving this email because you filled out the Forgot Username form on our system. If you believe you should not be receiving this email please notify help@griidc.org.*
{% endblock %}
