{% block subject 'GRIIDC Account Created' %}

{% block body_html %}
Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},<br>
<br>
Thank you for creating an account with the GRIIDC.<br>
<br>
Your username is: <strong>{{ account.userId }}</strong><br>
<br>
If you have any questions or concerns please contact GRIIDC at <a href="mailto:help@griidc.org">help@griidc.org</a><br>
<br>
Thank you,<br>
The GRIIDC Team
{% endblock %}

{% block body_text %}
Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},

Thank you for creating an account with the GRIIDC.

Your username is: {{ account.userId }}

If you have any questions or concerns please contact GRIIDC at help@griidc.org

Thank you,
The GRIIDC Team
{% endblock %}
