{% block subject 'GRIIDC Dataset Submission Updated' %}

{% block body_html %}
    Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},<br>
    <br>
    The GRIIDC dataset {{dataset.getUdi}} has been updated. This update was made by {{dataset.getDatasetSubmission.getCreator.getFirstName}} {{dataset.getDatasetSubmission.getCreator.getLastName}}. {{dataset.getDatasetSubmission.getCreator.getFirstName}} {{dataset.getDatasetSubmission.getCreator.getLastName}} is a member of {{ dataset.getDatasetSubmission.getCreator.getResearchGroupNames | join(', ') }} and the dataset is associated with {{dataset.getResearchGroup.getName}}.<br>
    <br>
    Thank you,<br>
    <br>
    The GRIIDC Team<br>
    <br>
    *You are receiving this email because you are identified as a data manager for a Gulf of Mexico Research Initiative Research Consortium. If you believe you should not be receiving this email please notify <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.*
{% endblock %}

{% block body_text %}
Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},

The GRIIDC dataset {{dataset.getUdi}} has been updated. This update was made by {{dataset.getDatasetSubmission.getCreator.getFirstName}} {{dataset.getDatasetSubmission.getCreator.getLastName}}. {{dataset.getDatasetSubmission.getCreator.getFirstName}} {{dataset.getDatasetSubmission.getCreator.getLastName}} is a member of {{ dataset.getDatasetSubmission.getCreator.getResearchGroupNames | join(', ') }} and the dataset is associated with {{dataset.getResearchGroup.getName}}.

Thank you,

The GRIIDC Team

*You are receiving this email because you are identified as a data manager for a Gulf of Mexico Research Initiative Research Consortium. If you believe you should not be receiving this email please notify griidc@gomri.org.*
{% endblock %}
