{% block subject 'DOI Request Approved for GRIIDC dataset' %}

{% block body_html %}

Dear {{ dm.firstName }} {{ recipient.lastName }},<br>
<p>
The Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) has
approved the request for a Digital Object Identifier (DOI) for the URL
<a href="{{data.doi.url}}">{{data.doi.id}}</a>. This request was submitted by
{{data.user.firstName}} {{data.user.lastName}} who is a member of {{ data.user.RCs | join(', ') }}.
</p>
Thank you,<br />
The GRIIDC Team<br />
<br />
<p>
    You are receiving this email because you are identified as a data manager for a
    Gulf of Mexico Research Initiative Research Consortium. If you believe you
    should not be receiving this email please notify
    <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>
</p>

{% endblock %}

{% block body_text %}

Dear {{ dm.firstName }} {{ recipient.lastName }},

The Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) has
approved the request for a Digital Object Identifier (DOI) for the URL
<a href="{{data.doi.url}}">{{data.doi.id}}</a>. This request was submitted by {{data.user.firstName}} {{data.user.lastName}}
who is a member of {{ data.user.RCs | join(', ') }}.


Thank you,
The GRIIDC Team

You are receiving this email because you are identified as a data manager for a
Gulf of Mexico Research Initiative Research Consortium. If you believe you
should not be receiving this email please notify griidc@gomri.org.
{% endblock %}
