{% block subject 'GRIIDC Submission Summary' %}

{% block body_html %}
Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},<br>
<br>
Thank you for submitting your dataset to the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC).<br>
<br>
<table style='border-collapse: collapse;'>
    <tr>
        <td colspan='4' style='border:none; padding-bottom: 0.5em;'>The following {{ type }} file has been processed and can now be viewed:</td>
    </tr>
    <tr>
        <th style='padding: 3px; text-align: center; width: 400px;'>Dataset Title</th>
        <th style='padding: 3px; text-align: center;'>{{ type | capitalize }} Filename</th>
        <th style='padding: 3px; text-align: center;'>UDI</th>
        <th style='padding: 3px; text-align: center;'>Link</th>
    </tr>
    <tr>
        <td style='border: 1px solid black; padding: 3px; vertical-align: top; width: 400px;'>{{ datasetSubmission.title }}</td>
        <td style='border: 1px solid black; padding: 3px; vertical-align: top;'>{{ type == 'dataset' ? datasetSubmission.datasetFileName : datasetSubmission.metadataFileName }}</td>
        <td style='border: 1px solid black; padding: 3px; vertical-align: top;'>{{ datasetSubmission.dataset.udi }}</td>
        <td style='border: 1px solid black; padding: 3px; vertical-align: top;'><a href="{{ datalandUri }}">{{ datalandUri }}</a></td>
    </tr>
</table>
<br>
If you have any questions or concerns please contact GRIIDC at griidc@gomri.org.<br>
<br>
Thank you,<br>
The GRIIDC Team<br>
{% endblock %}

{% block body_text %}
Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},

Thank you for submitting your dataset to the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC).

The following {{ type }} file has been processed and can now be viewed:

Dataset Title: {{ datasetSubmission.title }}
Dataset Filename: {{ type == 'dataset' ? datasetSubmission.datasetFileName : datasetSubmission.metadataFileName }}
UDI: {{ datasetSubmission.dataset.udi }}
Link: {{ datalandUri }}

If you have any questions or concerns please contact GRIIDC at griidc@gomri.org.

Thank you,
The GRIIDC Team
{% endblock %}
