<h3>Datasets associated with {{ fundingCycle.name }} </h3>

{% for researchGroup in fundingCycle.researchGroups %}
    {% for dataset in researchGroup.datasets|sortBy(["udi"]) %}
    <a href="{{ path('pelagos_app_ui_dataland_default', { 'udi': dataset.udi }) }}" target="_blank" class="block">
        <div class="p-4 rounded-lg mb-4 border-black shadow-lg">
            <h4 class="mb-2">{{ dataset.title }}</h4>
            <div class="flex justify-between">
                <div class="mr-4">
                    Authors: {{ dataset.authors }}<br />

                    {% if dataset.acceptedDate is not null %}
                        Published On: {{ dataset.acceptedDate|date('M d Y H:i T', 'UTC') }} <br />
                    {% else %}
                        Identified On: {{ dataset.dif.approveddate|date('M d Y H:i T', 'UTC') }} <br />
                    {% endif %}

                    {% if dataset.datasetSubmission.distributionFormatName|default %}
                        Filetype(s): {{ dataset.datasetSubmission.distributionFormatName|default }}<br />
                    {% endif %}
                </div>
                <div class="text-left self-end">
                    {{ dataset.doi }}<br />
                    UDI: {{ dataset.udi }}<br />
                    Size: {{ dataset.totalFileSize|formatBytes }}<br />
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
{% endfor %}
