{% extends "base.html.twig" %}
{% block title %}Funding Cycle Page{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('funding-cycle-land') }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .active {
            transition: opacity 0.25s ease-in-out;
            opacity: 1;
            height: auto;
        }
        .inactive {
            transition: opacity 0.25s ease-in-out;
            opacity: 0.5;
            height: 0;
            overflow: hidden;
        }
    </style>
{% endblock stylesheets  %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('funding-cycle-land') }}
{% endblock javascripts %}

{% block body %}
<div class="max-w-screen-xl mx-auto py-6">
    <div class="overflow-y-auto" x-data="{
        openTab: {{ tab is not null ? tab : 1 }},
        activeClasses: 'text-white bg-blue-700 cursor-pointer',
        inactiveClasses: 'text-gray-500 hover:text-gray-900 bg-gray-50 hover:bg-gray-100 cursor-pointer',
        changeTab(tab) {
            this.openTab = tab;
            history.pushState(null, '', `?tab=${tab}`);
        }
    }">

    <div class="md:flex">
        <ul class="flex-column space-y space-y-4 md:me-4 mb-4 md:mb-0 bg-gray-50 not-prose p-2 w-1/4">
            <li @click="changeTab(1)" :class="openTab === 1 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-circle-info me-2"></i>
                Overview
            </li>
            <li @click="changeTab(2)" :class="openTab === 2 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-search me-2"></i>
                Research Groups ({{ fundingCycle.researchGroups|length }})
            </li>
            <li @click="changeTab(3)" :class="openTab === 3 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-database me-2"></i>
                Datasets ({{ fundingCycle.datasets|length }})
            </li>
            <li @click="changeTab(4)" :class="openTab === 4 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-user me-2"></i>
                People ({{ fundingCycle.people|length }})
            </li>
            <li @click="changeTab(5)" :class="openTab === 5 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-book me-2"></i>
                Publications
            </li>
            <li @click="changeTab(6)" :class="openTab === 6 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-download me-2"></i>
                Information Products ({{ informationProducts|length }})
            </li>
        </ul>

        <div class="p-6 rounded-lg w-3/4">
            <div :class="openTab === 1 ? 'active' : 'inactive'" class="opacity-0">
                {% include 'FundingCycleLand/overview.html.twig' %}
            </div>
            <div :class="openTab === 2 ? 'active' : 'inactive'" class="opacity-0">
                {% include 'FundingCycleLand/research-groups.html.twig' %}
            </div>
            <div :class="openTab === 3 ? 'active' : 'inactive'" class="opacity-0">
                {% include 'FundingCycleLand/datasets.html.twig' %}
            </div>
            <div :class="openTab === 4 ? 'active' : 'inactive'" class="opacity-0">
                {% include 'FundingCycleLand/people.html.twig' %}
            </div>
            <div :class="openTab === 5 ? 'active' : 'inactive'" class="opacity-0">
                {% include 'FundingCycleLand/publications.html.twig' %}
            </div>
            <div :class="openTab === 6 ? 'active' : 'inactive'" class="opacity-0">
                {% include 'FundingCycleLand/information-products.html.twig' %}
            </div>
        </div>
    </div>

</div>
<div class="dsm-loadpanel"></div>
{% endblock %}
