<h3>Information Products associated with {{ fundingCycle.name }}</h3>

    {% for informationProduct in informationProducts %}
        <div class="card">
            <p>{{ informationProduct.title }}</p>
            <p>
                Creators: {{ informationProduct.creators }}<br />
                Publisher: {{ informationProduct.publisher }}<br />
            </p>
            <div class="file-section">
            {% if informationProduct.remoteUri|default %}
                <div>
                    <a href="{{ informationProduct.remoteUri }}" target="_blank">
                        <button type="button" class="btn btn-primary btn-sm">
                            <i class="fas fa-external-link-alt"></i>
                            External Link
                        </button>
                    </a>
                </div>
            {% endif %}
            {% if informationProduct.file %}
                    <div>
                        <p class="card-text text-dark">
                            <strong>File name: </strong>
                            <a href="{{ path('pelagos_api_ip_file_download', {id: informationProduct.id}) }}">
                                {{ informationProduct.file.filePathName|default }} ({{ informationProduct.file.fileSize|default(0)|formatBytes }})
                            </a>
                        </p>
                    </div>

            {% endif %}
        </div>

        </div>
    {% endfor %}
