<h3>People associated with {{ fundingCycle.name }}</h3>


{% for person in fundingCycle.people | sortBy(["lastName", "firstName"]) %}
    <div class="p-4 rounded-lg mb-4 border-black shadow-lg">
        <h4>{{ person.firstName }} {{ person.lastName }}</h4>
        <p>
            {{ person.position }}<br />
            {{ person.organization }}<br />
            {{ person.emailAddress }}
        </p>
    </div>
{% endfor %}
