<h3>People associated with {{ fundingCycle.name }}</h3>


{% for person in fundingCycle.people | sortBy(["lastName", "firstName"]) %}
    <div class="card">
        <h4>{{ person.firstName }} {{ person.lastName }}</h4>
        <p>
            {{ person.position }}<br />
            {{ person.organization }}<br />
            {{ person.emailAddress }}
        </p>
    </div>
{% endfor %}
