<h3>Publications associated with {{ fundingCycle.name }}</h3>

{% for researchGroup in fundingCycle.researchGroups %}
    {% for dataset in researchGroup.datasets %}
        {% for publication in dataset.publications %}
            {% if publication.doi is not empty %}
                <a href="https://doi.org/{{ publication.doi }}" target="_blank" class="block">
            {% endif %}
            <div class="publication p-4 rounded-lg mb-4 border-black shadow-lg">
                <h4>Publications linked to dataset {{ dataset.udi }} ({{ dataset.doi }})</h4>
                <p>{{ publication.citationText|default }}</p>
            </div>
            {% if publication.doi is not empty %}
                </a>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
