<fieldset>
    <legend>Dataset Information</legend>
    <table class="tab-table">
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Name by which the cited resource is known. It is recommended the title include (where applicable) a description of the data, a date or date range, and geographic area.
					</div>
				</span>
                {{ form_row(form.title) }}
            </td>
        </tr>
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Short name or other language name by which the cited information is known.
					</div>
				</span>
                {{ form_row(form.shortTitle) }}
            </td>
        </tr>
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Reference date for the cited dataset. This date can refer to dataset creation, publication, or revision. Format should be YYYY-MM-DD.
					</div>
				</span>
                {{ form_row(form.referenceDate) }}
            </td>
        </tr>
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Creation: Date identifies when the resource was brought into existence.<br>
						Publication: Date identifies when the resource was issued.<br>
						Revision: Date identifies when the resource was examined or re-examined and improved or amended.<br>
					</div>
				</span>
                {{ form_row(form.referenceDateType) }}
            </td>
        </tr>
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Brief narrative summary of the dataset's contents.
					</div>
				</span>
                {{ form_row(form.abstract) }}
            </td>
        </tr>
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Summary of the intentions for which the dataset was developed.
					</div>
				</span>
                {{ form_row(form.purpose) }}
            </td>
        </tr>
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						If your dataset has been issued a DOI from another repository or archive, please provide it here.<br>
						Please note that this field is for <strong>dataset</strong> DOIs only, as publication DOIs are recorded elsewhere.
					</div>
				</span>
                {{ form_row(form.doi) }}
            </td>
        </tr>
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Descriptive Information about the Data Parameters and Units.
					</div>
				</span>
                {{ form_row(form.suppParams) }}
            </td>
        </tr>
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Descriptive Information about the methods used.
					</div>
				</span>
                {{ form_row(form.suppMethods) }}
            </td>
        </tr>
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Descriptive Information about the instruments and equipment used.
					</div>
				</span>
                {{ form_row(form.suppInstruments) }}
            </td>
        </tr>
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Descriptive Information about the sampling spatial and temporal scales and rates.
					</div>
				</span>
                {{ form_row(form.suppSampScalesRates) }}
            </td>
        </tr>
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Descriptive Information about the error analysis
					</div>
				</span>
                {{ form_row(form.suppErrorAnalysis) }}
            </td>
        </tr>
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Descriptive Information about the provenance, historical data, key information packaged elsewhere.
					</div>
				</span>
                {{ form_row(form.suppProvenance) }}
            </td>
        </tr>
    </table>
</fieldset>