    {{
        add_library (
            [
                'ui.dialog'
            ]
        )
    }}

    {{
        add_css (
            [
                '//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css',
                '//cdn.datatables.net/select/1.0.1/css/select.dataTables.min.css'
            ]
        )
    }}

    {% stylesheets
        '@PelagosAppBundle/Resources/public/css/entity.css'
        '@PelagosAppBundle/Resources/public/css/datasetsWithApprovedDifs.css'
     %}
        {{ add_css(asset_url) }}
    {% endstylesheets  %}

    {{
        add_js(
            [
                '//cdn.datatables.net/1.10.7/js/jquery.dataTables.js',
                '//cdn.datatables.net/select/1.0.1/js/dataTables.select.min.js',
            ]
        )
    }}

    {% javascripts '@PelagosAppBundle/Resources/public/js/common.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

    {% javascripts '@PelagosAppBundle/Resources/public/js/datasetsWithApprovedDifs.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

{%
set properties = [
    'researchGroup.name',
    'udi',
    'title'
]
%}

<table
    entityNiceName = "Datasets"
    entityApi = "{{ path('pelagos_app_ui_datasetsubmission_default') }}"
    class = "entityTable stripe"
    width = "100%"
    data-ajax = '{
        "url": "{{ path('pelagos_api_datasets_get_collection') }}",
        "data": {
                    "_properties": "{{ properties | join(',') }}",
                    "dif.status": 2
                    {% if not is_granted('ROLE_DATA_REPOSITORY_MANAGER') %}
                    ,
                    "researchGroup": "{{ researchGroupList | join(',') }}"
                    {% endif %}
                },
        "dataSrc": "",
        "cache": true
    }'
    data-columns = '[
        { "data": "researchGroup.name" },
        { "data": "udi" },
        { "data": "title" }
    ]'
    data-order = '[
        [ 1, "asc" ]
    ]'
    >
    <thead>
        <tr>
            <th>Research Group</th>
            <th>Dataset UDI</th>
            <th>Dataset Title</th>
        </tr>
    </thead>
</table>

