<fieldset>
    <legend>Dataset Contact</legend>
    <table class="tab-table">
        {% set contact = form.datasetContacts | first %}
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						The name of the individual responsible for the creation of the majority of the dataset.
					</div>
				</span>
                <label for="contactperson">Name</label>
                <select class="contactperson" id="contactperson" name="datasetContacts[0][person]" required="required">
                    {% if contact.vars.data.person|default %}
                    <option selected value="{{contact.vars.data.person.id}}">
                        {{contact.vars.data.person.lastName}}, {{contact.vars.data.person.firstName}}, {{contact.vars.data.person.emailAddress}}
                    </option>
                    {% endif %}
                </select>
                <label for="contactperson" class="error"></label>
                {{ form_row(contact.person.firstName, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.lastName, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.emailAddress, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.phoneNumber, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.deliveryPoint, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.city, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.administrativeArea, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.postalCode, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.country, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.url, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.organization, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.position, {'attr': {'disabled': 'true'} , 'required': false}) }}
			</td>
        </tr>
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Point of Contact: Party who can be contacted for acquiring knowledge about or acquisition of the resource.<br>
						Principal Investigator: Key party responsible for gathering information and conducting research.<br>
						Author: Party who authored the resource.<br>
					</div>
				</span>
                {{ form_row(contact.role) }}
            </td>
        </tr>

        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						The Suggested Author List should contain all participants who collaborated in the creation, processing or analysis of the data you are sending to GRIIDC who should be acknowledged if these data are cited as a published work. Please list suggested authors in the order in which they should be listed in a citation.
					</div>
				</span>
                {{ form_row(form.authors) }}
            </td>
        </tr>
    </table>
</fieldset>
