<fieldset>
    <legend>Data Extent</legend>
    <fieldset>
        This section collects information describing the spatial and temporal extent of
        the dataset contents. This provides GRIIDC and future researchers the means to search
        for datasets by location or time. Some datasets may not have a relevant
        location or time (ex. lab simulations), so a short explanation is requested for
        these cases.
    </fieldset>
    <div id="geoWizard" style="width:100%;height:100%;"/>
        <table class="tab-table">
            <tr>
                <td valign="top" width="60%"">
                    <div id="nonspatial">
                        {{ form_row(form.spatialExtentDescription) }}
                    </div>
                    <div id="spatial">
                        <label><span class="emRequired"/>Spatial Extent</label>
                        <div>
                            <div style="width:500px;height:300px;" id="smlMDEMap"/>
                        </div>
                        {{ form_row(form.spatialExtent) }}
                    </div>
                </td>
                <td>
                    <div id="spatwizbtn"></div>
                </td>
            </tr>
        </table>
        <table class="tab-table" id="spatialExtras">
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2">
					<span class="helpSection">
						{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
						<img class="info" src="{{ asset_url }}">
						{% endimage %}
						<div class="tooltiptext">
                            This is a description of what the date below represents. If
                            the data represents real world conditions during the time
                            period, select “ground condition”. If the data represents a
                            simulation during a specific time period, select “modeled
                            period”.  If the data represents both real world
                            conditions and model simulations, select “ground
                            condition and modeled period”. If the data does not have
                            a relevant time period, including mesocosm data, please use
                            the spatial wizard above to describe it.
						</div>
					</span>
                    {{ form_row(form.temporalExtentDesc) }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
					<span class="helpSection">
						{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
						<img class="info" src="{{ asset_url }}">
						{% endimage %}
						<div class="tooltiptext">
                            The beginning date when the data was collected. Alternatively,
                            for a model, the earliest date for which the data was generated.
						</div>
					</span>
                    {{ form_row(form.temporalExtentBeginPosition) }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
					<span class="helpSection">
						{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
						<img class="info" src="{{ asset_url }}">
						{% endimage %}
						<div class="tooltiptext">
                            The end date when the data was collected. Alternatively,
                            for a model, the end date for which the data was generated.
						</div>
					</span>
                    {{ form_row(form.temporalExtentEndPosition) }}
                </td>

            </tr>
        </table>
</fieldset>
