<fieldset>
    <legend>Data Extent</legend>
    <fieldset>
        This section collects information describing the spatial and temporal extent of the dataset contents. Provides GRIIDC and future researchers the means to search for datasets by location and/or time. Some datasets may not have relevant a location or time (ex. lab simulations); a short explanation is provided in these cases.
    </fieldset>
    <div id="geoWizard" style="width:100%;height:100%;"/>
        <table class="tab-table">
            <tr>
                <td valign="top">
                    <div id="nonspatial">
                        {{ form_row(form.spatialExtentDescription) }}
                    </div>
                    <div id="spatial">
                        <label><span class="emRequired"/>Spatial Extent</label>
                        <div>
                            <div style="width:500px;height:300px;" id="smlMDEMap"/>
                        </div>
                        {{ form_row(form.spatialExtent) }}
                    </div>
                </td>
                <td>
                    <div id="spatwizbtn"></div>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_row(form.temporalExtentDesc) }}
                </td>
                <td>
                    <span class="field-help">
                        Text description of the dates documented below. This field has two possible values <b><i>'ground condition'</i></b> or <b><i>'modeled period'</i></b>.<i>'Ground condition'</i> means the data represent the actual condition of things on the ground during the time period specified. <i>'Ground condition'</i> may be used to characterize data generated from a sample collection in the field when samples are subsequently analyzed in a laboratory. <i>'Modeled period'</i> means that data represent simulated conditions during the time period, and may be used to characterize data generated using a computational model.
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_row(form.temporalExtentBeginPosition) }}
                </td>
                <td>
                    <span class="field-help">
                        The beginning date of the content of the dataset. Format should be YYYY-MM-DD
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_row(form.temporalExtentEndPosition) }}
                </td>
                <td>
                    <span class="field-help">
                        The ending date of the content of the dataset. Format should be YYYY-MM-DD
                    </span>
                </td>
            </tr>
        </table>
</fieldset>
