{% extends "PelagosAppBundle::layout.html.twig" %}

{% block head %}
    {{
        add_library (
            [
                'ui.datepicker',
                'ui.dialog',
                'ui.tabs',
                'ui.widget',
                'ui.autocomplete'
            ]
        )
    }}

    {{
        add_css (
            [
                '//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.1/themes/default/style.min.css',
            ]
        )
    }}
    
    {% stylesheets  '@PelagosAppBundle/Resources/public/css/dtree.css' %}
        {{ add_css(asset_url) }}
    {% endstylesheets  %}
    
    {% stylesheets  '@PelagosAppBundle/Resources/public/css/registry.css' %}
        {{ add_css(asset_url) }}
    {% endstylesheets  %}
    
    {{
        add_js(
            [
                '//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.1/jstree.min.js',
            ]
        )
    }}
    
    {% javascripts '@PelagosAppBundle/Resources/public/js/dtree.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

    {% stylesheets '@PelagosAppBundle/Resources/public/css/fileBrowser.css' %}
        {{ add_css(asset_url) }}
    {% endstylesheets  %}

    {% javascripts '@PelagosAppBundle/Resources/public/js/fileBrowser.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

    {% javascripts '@PelagosAppBundle/Resources/public/js/registry.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}
   
{% endblock %}


{% block body %}
{% if found and udi != '' %}

    <div class="messages status">
        <h2 class="element-invisible">Status message</h2>
        Dataset Identifier <b>'{{ udi }}'</b> was found. The latest version has been loaded.
    </div>

{% elseif udi != '' %}
    <div class="messages warning">
        <h2 class="element-invisible">Status message</h2>
        Sorry, the dataset with Unique Dataset Identifier (UDI) {{ udi }} could not be found. Please email <a href="mailto:griidc@gomri.org?subject=REG Form">griidc@gomri.org</a> if you have any questions.
    </div>
{% endif %}


<table border="0" style="height:100%;width:100%;">
    <tr>
        <td width="60%" style="vertical-align: top; background: transparent;">
        {% include 'PelagosAppBundle:DatasetSubmission:form.html.twig' %}
        </td>
        <td width="*">&nbsp;&nbsp;</td>
        <td width="40%" style="vertical-align: top; background: transparent;">
            {% include 'PelagosAppBundle:DatasetSubmission:tree.html.twig' %}
        </td>
    </tr>
</table>
{% endblock %}
