{% extends "PelagosAppBundle::layout.html.twig" %}

{% block head %}
    {{
        add_library (
            [
                'ui.datepicker',
                'ui.dialog',
                'ui.tabs',
                'ui.widget',
            ]
        )
    }}

    {{
        add_css (
            [
                '//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css',
                '//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css',
            ]
        )
    }}

    {% stylesheets  '@PelagosAppBundle/Resources/public/css/dataset-submission.css' %}
        {{ add_css(asset_url) }}
    {% endstylesheets  %}

    {{
        add_js(
            [
                '//cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.5/packaged/jquery.noty.packaged.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js',
                '//maps.google.com/maps/api/js?v=3&key=AIzaSyBJjBREwu85aoCAbqqk-htGlPdSX7HAb6s',
                '/includes/geoviz/geoviz.js',
                '/includes/geoviz/mapWizard.js',
            ]
        )
    }}

    {% stylesheets '@PelagosAppBundle/Resources/public/css/fileBrowser.css' %}
        {{ add_css(asset_url) }}
    {% endstylesheets  %}

    {% javascripts '@PelagosAppBundle/Resources/public/js/fileBrowser.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

    {% javascripts '@PelagosAppBundle/Resources/public/js/common.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

    {% javascripts '@FOSJsRoutingBundle/Resources/public/js/router.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

    {{ add_js(path('fos_js_routing_js', { callback: 'fos.Router.setData' })) }}

    {% javascripts '@PelagosAppBundle/Resources/public/js/dataset-submission.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

{% endblock %}

{% block body %}

<h1>Dataset Submission</h1>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if dataset is null %}
        {% if udi is not null %}
            <div class="messages warning">
                <h2 class="element-invisible">Status message</h2>
                Sorry, the dataset with Unique Dataset Identifier (UDI) {{ udi }} could not be found. Please email <a href="mailto:griidc@gomri.org?subject=REG Form">griidc@gomri.org</a> if you have any questions.
            </div>
        {% endif %}
        {% set showform = true %}
    {% else %}
        {% if not is_granted('CAN_CREATE', dataset.datasetSubmission) and not is_granted('CAN_EDIT', dataset.datasetSubmission) %}
            <div class="messages warning">
                    <h2 class="element-invisible">Status message</h2>
                    Sorry, but you can only create or edit dataset submissions on datasets associated with your research groups.
                </div>
            {% set dataset = null %}
            {% set showform = true %}
        {% elseif dataset.dif.status == constant('Pelagos\\Entity\\DIF::STATUS_SUBMITTED') %}
            <div class="messages warning">
                <h2 class="element-invisible">Status message</h2>
                The DIF has not yet been approved for dataset: {{ udi }}. Please email <a href="mailto:griidc@gomri.org?subject=REG Form">griidc@gomri.org</a> if you have any questions.
            </div>
        {% elseif dataset.dif.status == constant('Pelagos\\Entity\\DIF::STATUS_UNSUBMITTED') %}
            <div class="messages warning">
                <h2 class="element-invisible">Status message</h2>
                The DIF has not yet been submitted for dataset: {{ udi }}. Please email <a href="mailto:griidc@gomri.org?subject=REG Form">griidc@gomri.org</a> if you have any questions.
            </div>
        {% else %}
            <div class="messages status">
                <h2 class="element-invisible">Status message</h2>
                Dataset Identifier <b>'{{ udi }}'</b> was found. The latest version has been loaded.
            </div>
            {% set showform = true %}
        {% endif %}
    {% endif %}

    {% if showform|default %}
        {% if dataset is not null and dataset.datasetSubmission is not null %}
            {% include 'PelagosAppBundle:DatasetSubmission:submission-form.html.twig' with {'datasetSubmission': dataset.datasetSubmission} %}
        {% else %}
            {% include 'PelagosAppBundle:DatasetSubmission:form.html.twig' %}
        {% endif %}
    {% endif %}
{% else %}
<div class="messages warning">
        <h2 class="element-invisible">Warning message</h2>
        Please log in first!
</div>
<h1>Please log in first to use this form!</h1>
{% endif %}
<div class="modal" id="spinner"></div>
{% endblock %}
