<fieldset>
    <legend>Metadata Contact</legend>
    <table class="tab-table">
        {% set contact = form.metadataContacts | first %}
        <tr>
            <td>
                <label for="metadatacontact">Name</label>
                <select class="contactperson" id="metadatacontact" name="metadataContacts[0][person]" required="required">
                    {% if contact.vars.data.person|default %}
                    <option selected value="{{contact.vars.data.person.id}}">
                        {{contact.vars.data.person.lastName}}, {{contact.vars.data.person.firstName}}, {{contact.vars.data.person.emailAddress}}
                    </option>
                    {% endif %}
                </select>
                <label for="metadatacontact" class="error"></label>
                {{ form_row(contact.person.firstName, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.lastName, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.emailAddress, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.phoneNumber, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.deliveryPoint, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.city, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.administrativeArea, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.postalCode, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.country, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.url, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.organization, {'attr': {'disabled': 'true'} , 'required': false}) }}
                {{ form_row(contact.person.position, {'attr': {'disabled': 'true'} , 'required': false}) }}
            </td>
            <td>
                <span class="field-help">
                    The name of the individual responsible for maintaining the metadata, typically the scientists or researcher who created the dataset.
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ form_row(contact.role) }}
            </td>
            <td>
                <span class="field-help">
                    Resource Provider: Party that supplies the resource.<br>
                    Custodian: Party that accepts accountability and responsibility for the data and ensures appropriate care and maintenance of the resource.<br>
                    Owner: Party that owns the resource.<br>
                    Distributor: Party who distributes the resource.<br>
                    Originator: Party who created the resource.<br>
                    Point of Contact: Party who can be contacted for acquiring knowledge about or acquisition of the resource.<br>
                    Principal Investigator: Key party responsible for gathering information and conducting research.<br>
                    Processor: Party who has processed the data in a manner such that the resource has been modified.<br>
                    Publisher: Party who published the resource.<br>
                    Author: Party who authored the resource.<br>
                </span>
            </td>
        </tr>
    </table>
</fieldset>
