<div id="dImg"

{% image '@PelagosAppBundle/Resources/public/images/griidc_fav.png' %}
 root="{{ asset_url }}"
{% endimage %}

{% image '@PelagosAppBundle/Resources/public/images/empty.gif' %}
 empty="{{ asset_url }}"
{% endimage %}

{% image '@PelagosAppBundle/Resources/public/images/folder.gif' %}
 folder="{{ asset_url }}"
{% endimage %}

{% image '@PelagosAppBundle/Resources/public/images/folderopen.gif' %}
 folderopen="{{ asset_url }}"
{% endimage %}

{% image '@PelagosAppBundle/Resources/public/images/nofolder.png' %}
 node="{{ asset_url }}"
{% endimage %}

{% image '@PelagosAppBundle/Resources/public/images/nolines_plus.gif' %}
 nlPlus="{{ asset_url }}"
{% endimage %}

{% image '@PelagosAppBundle/Resources/public/images/nolines_minus.gif' %}
 nlMinus="{{ asset_url }}"
{% endimage %}

{% image '@PelagosAppBundle/Resources/public/images/green_bobble.png' %}
 green="{{ asset_url }}"
{% endimage %}

></div>

<table style="height:100%;width:100%;">
    {% if is_granted('ROLE_DATA_REPOSITORY_MANAGER') %}
    <tr>
        <td>
            <table class="cleair" style="width:100%;">
                <tbody class="tbody">
                    <tr>
                        <td style="padding:10px;">
                            <form id="filter" name="filter">
                                <label for="filtername">Filter by Researcher:</label>
                                <select id="filtername" style="width:100%">
                                    <option value="">[Show ALL]</option>
                                    {% for person in researchers|sort %}
                                        <option>{{person.getLastName}}, {{person.getFirstName}} &lt;{{person.getEmailAddress}}&gt;</option>
                                    {% endfor %}
                                </select>
                                <label for="filterstatus">Filter by Status:</label>
                                <select id="filterstatus" style="width:100%">
                                    <option value="" selected>[Show All]</option>
                                    <option value="0">Unsubmitted</option>
                                    <option value="1">Submitted</option>
                                    <option value="2">Approved</option>
                                </select>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
        <p/>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td style="height:100%;">
            <table class="cleair" style="width:100%;height:100%;padding:0px;">
                <tbody class="tbody">
                    <tr>
                        <td>
                            <h2 class="title" align="center">
                                Projects and datasets for {{ loggedInPerson.getFirstName|default }} {{loggedInPerson.lastName|default }}
                                <hr>
                            </h2>
                        </td>
                    </tr>
                <tr>
                    <td style="height:100%;">
                        <div style="position:relative;height:100%;">
                            <div id="dstree"
                                 style="position:absolute; top:0px; left:10px; right:0px; bottom:10px; overflow:auto;"
                                 BGCOLOR="#efefef">
                                <div class="dtree" style="position:absolute;">
                                    <script  type="text/javascript">
                                        d = new dTree('d');

                                        var green = jQuery("#dImg").attr("green");

                                        var nodecount = 0;
                                        var folderCount = 1;
                                        var mynode = nodecount;

                                        d.add(
                                            nodecount,
                                            -1,
                                            'My Submissions',
                                            ''
                                        );
                                        nodecount++;

                                        d.add(
                                            nodecount,
                                            mynode,
                                            'Others',
                                            'javascript: d.o('+nodecount+');',
                                            'Other Submissions',
                                            '',
                                            '',
                                            '',
                                            true
                                        );
                                        nodecount++;

                                        {% for dataset in datasetSubmissions %}
                                            d.add(
                                                nodecount,
                                                folderCount,
                                                '[{{dataset.getDatasetSubmission.getDatasetSubmissionId}}] {{dataset.getTitle}}',
                                                '?regid={{dataset.getDatasetSubmission.getDatasetSubmissionId|default}}',
                                                '[{{dataset.getDatasetSubmission.getDatasetSubmissionId}}] {{dataset.getTitle}}',
                                                '_self',
                                                green
                                            );
                                            nodecount++;
                                        {% endfor %}

                                        d.add(
                                            nodecount,
                                            -1,
                                            'Datasets',
                                            ''
                                        );

                                        var dsnode = nodecount;
                                        nodecount++;

                                        folderCount = nodecount;

                                        {% for researchGroup in researchGroups %}
                                            d.add(
                                                nodecount,
                                                dsnode,
                                                '{{researchGroup.getName}}',
                                                'javascript: d.o('+nodecount+');',
                                                '{{researchGroup.getName}}',
                                                '',
                                                '',
                                                '',
                                                true
                                            );
                                            nodecount++;

                                            //Another for loop here for datasets
                                            {% for dataset in researchGroup.getDatasets %}
                                                if ({{dataset.getDif.getStatus}} == '2') {
                                                    d.add(
                                                        nodecount,
                                                        folderCount,
                                                        '[{{dataset.getUdi}}] {{dataset.getTitle}}',
                                                        '?uid={{dataset.getDif.getId}}',
                                                        '[{{dataset.getUdi}}] {{dataset.getTitle}}',
                                                        '_self',
                                                        green
                                                    );
                                                    nodecount++;
                                                }
                                            {% endfor %}
                                            folderCount = nodecount;
                                        {% endfor %}

                                        document.write(d);
                                    </script>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
