{% extends "base.html.twig" %}
{% block title %}Search{% endblock %}

{%block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/search.css') }}">
{%endblock stylesheets  %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/search.js') }}"></script>
{#    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>#}
{#    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootpag/1.0.7/jquery.bootpag.min.js"></script>#}
{#    <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>#}

{#    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>#}
{% endblock %}


{% block body %}
{#    {% if query is null %}#}
{#        <div class="container-fluid header bootstrap">#}
{#            <div class="row">#}
{#                <h2>#}
{#                    <img src="{{ asset('images/search-logo.png')}}">#}
{#                </h2>#}
{#                {% include 'Search/form.html.twig' %}#}
{#            </div>#}
{#        </div>#}
{#    {% else %}#}
{#        {% include 'Search/results.html.twig' %}#}
{#    {% endif %}#}
    <div class="bootstrap">
        <!-- ========================= SECTION CONTENT ========================= -->
        <section class="section-content bg pt-5">
            <div class="container">
                <div class="card card-header">
                    <form>
                        <div class="row">
                            <div class="col-sm-9">
                                <input type="search" class="form-control" placeholder="Search">
                            </div>
                            <div class="col-sm-3 btn-toolbar">
                                <button type="submit" class="btn btn-primary mx-2 w-50">Search
                                    <i class="fa fa-search"></i></button>
                                <button type="reset" class="btn btn-dark mx-2 w-25">Clear</button>
                            </div>
                        </div>
                        <div class="pt-3 mt-3 d-flex flex-row justify-content-around">
                            <div class="pl-5 pt-1">
                                <span class="form-options-input-group">
			  			            <select class="form-options-input">
					  		            <option value="" default> -- All --</option>
					  		            <option value="volvo">Title</option>
					  		            <option value="saab">Abstract</option>
					  		            <option value="mercedes">Author</option>
					  		            <option value="audi">Theme Keywords</option>
						            </select>
			  		            </span>
                            </div>
                            <div>
                                <span class="pt-1 pl-2 pr-2">From</span>
                                <span class="form-options-input-group">
					                <input type="text" class="pr-2 form-options-input">
					                <button class="btn btn-default">
                		                <i class="far fa-calendar-alt"></i>
            		                </button>
            		            </span>
                                <span class="pt-1 pr-2 pl-3">To</span>
                                <span class="form-options-input-group">
						            <input type="text" class="pl-2 form-options-input">
						            <span class="ml-1">
                                        <button class="btn btn-default">
                			                <i class="far fa-calendar-alt"></i>
            			                </button>
						            </span>
					            </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="section-content bg padding-y">
            <div class="container">
                <div class="row">
                    <aside class="col-sm-3">

                        <div class="card card-filter">
                            <article class="card-group-item">
                                <header class="card-header">
                                    <h6 class="title">Dataset Status</h6>
                                </header>
                                <div class="filter-content collapse show" id="collapse44">
                                    <div class="card-body">
                                        <form>
                                            <label class="form-check">
                                                <input class="form-check-input" value="" type="checkbox">
                                                <span class="form-check-label">
                                                    <span class="float-right badge badge-light round">5</span>
                                                    Available
                                                </span>
                                            </label>
                                            <label class="form-check">
                                                <input class="form-check-input" value="" type="checkbox">
                                                <span class="form-check-label">
                                                    <span class="float-right badge badge-light round">13</span>
                                                    Identified
                                                </span>
                                            </label>
                                            <label class="form-check">
                                                <input class="form-check-input" value="" type="checkbox">
                                                <span class="form-check-label">
                                                    <span class="float-right badge badge-light round">12</span>
                                                    Restricted
                                                </span>
                                            </label>
                                            <label class="form-check">
                                                <input class="form-check-input" value="" type="checkbox">
                                                <span class="form-check-label">
                                                    <span class="float-right badge badge-light round">32</span>
                                                    Submitted
                                                </span>
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </article>
                            <article class="card-group-item">
                                <header class="card-header">
                                    <h6 class="title">Funding Organizations</h6>
                                </header>
                                <div style="" class="filter-content collapse show" id="collapse22">
                                    <div class="card-body">
                                        <form>
                                            <label class="form-check">
                                                <input class="form-check-input" value="" type="checkbox">
                                                <span class="form-check-label">
                                                    <span class="float-right badge badge-light round">5</span>
                                                    GoMRI
                                                </span>
                                            </label>
                                            <label class="form-check">
                                                <input class="form-check-input" value="" type="checkbox">
                                                <span class="form-check-label">
                                                    <span class="float-right badge badge-light round">13</span>
                                                    HRI
                                                </span>
                                            </label>
                                            <label class="form-check">
                                                <input class="form-check-input" value="" type="checkbox">
                                                <span class="form-check-label">
                                                    <span class="float-right badge badge-light round">12</span>
                                                    FLRACEP
                                                </span>
                                            </label>
                                            <label class="form-check">
                                                <input class="form-check-input" value="" type="checkbox">
                                                <span class="form-check-label">
                                                    <span class="float-right badge badge-light round">32</span>
                                                    NOAA
                                                </span>
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </article>
                            <article class="card-group-item">
                                <header class="card-header">
                                    <h6 class="title">Research Groups</h6>
                                </header>
                                <div style="" class="filter-content collapse show" id="collapse22">
                                    <div class="card-body">
                                        <form class="pb-3">
                                            <div class="input-group">
                                                <input class="form-control" placeholder="Search" type="text">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button">
                                                        <i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                        <form>
                                            <label class="form-check">
                                                <input class="form-check-input" value="" type="checkbox">
                                                <span class="form-check-label">
                                                    <span class="float-right badge badge-light round">5</span>
                                                    ACER
                                                </span>
                                            </label>
                                            <label class="form-check">
                                                <input class="form-check-input" value="" type="checkbox">
                                                <span class="form-check-label">
                                                    <span class="float-right badge badge-light round">13</span>
                                                    DEEPEND
                                                </span>
                                            </label>
                                            <label class="form-check">
                                                <input class="form-check-input" value="" type="checkbox">
                                                <span class="form-check-label">
                                                    <span class="float-right badge badge-light round">12</span>
                                                    RECOVER
                                                </span>
                                            </label>
                                            <label class="form-check">
                                                <input class="form-check-input" value="" type="checkbox">
                                                <span class="form-check-label">
                                                    <span class="float-right badge badge-light round">32</span>
                                                    C-IMAGE II
                                                </span>
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </aside>
                    <main class="col-sm-9 overflow-auto">
                        <article class="card card-product">
                            <div class="card-body">
                                <div class="row">
                                    <article class="col-sm-12">
                                        <span class="badge badge-success">Available</span>
                                        <p> Steven Murawski, Sarah Grasty. 2019. Towed-camera (C-BASS) observations of fish
                                            density. Spawning Habitat and Early-life Linkages to Fisheries (SHELF). DOI:
                                            10.7266/n7-n5p5-c621. UDI: F2.x836.000:0007 </p>

                                    </article>
                                </div>
                            </div>
                        </article>

                        <article class="card card-product">
                            <div class="card-body">
                                <div class="row">
                                    <article class="col-sm-12">
                                        <span class="badge badge-primary">Submitted</span>
                                        <span class="badge badge-success">Available</span>
                                        <p> Steven Murawski, Sarah Grasty. 2019. Towed-camera (C-BASS) observations of fish
                                            density. Spawning Habitat and Early-life Linkages to Fisheries (SHELF). DOI:
                                            10.7266/n7-n5p5-c621. UDI: F2.x836.000:0007 </p>

                                    </article>
                                </div>
                            </div>
                        </article>

                        <article class="card card-product">
                            <div class="card-body">
                                <div class="row">
                                    <article class="col-sm-12">
                                        <span class="badge badge-secondary">Remotely Hosted</span>
                                        <span class="badge badge-success">Available</span>
                                        <p> Steven Murawski, Sarah Grasty. 2019. Towed-camera (C-BASS) observations of fish
                                            density. Spawning Habitat and Early-life Linkages to Fisheries (SHELF). DOI:
                                            10.7266/n7-n5p5-c621. UDI: F2.x836.000:0007 </p>

                                    </article>
                                </div>
                            </div>
                        </article>

                        <article class="card card-product">
                            <div class="card-body">
                                <div class="row">
                                    <article class="col-sm-12">
                                        <span class="badge badge-primary">Submitted</span>
                                        <span class="badge badge-danger">Restricted</span>
                                        <p> Steven Murawski, Sarah Grasty. 2019. Towed-camera (C-BASS) observations of fish
                                            density. Spawning Habitat and Early-life Linkages to Fisheries (SHELF). DOI:
                                            10.7266/n7-n5p5-c621. UDI: F2.x836.000:0007 </p>
                                    </article>
                                </div>
                            </div>
                        </article>

                        <article class="card card-product">
                            <div class="card-body">
                                <div class="row">
                                    <article class="col-sm-12">
                                        <span class="badge badge-success">Available</span>
                                        <p> Steven Murawski, Sarah Grasty. 2019. Towed-camera (C-BASS) observations of fish
                                            density. Spawning Habitat and Early-life Linkages to Fisheries (SHELF). DOI:
                                            10.7266/n7-n5p5-c621. UDI: F2.x836.000:0007 </p>
                                    </article>
                                </div>
                            </div>
                        </article>

                        <article class="card card-product">
                            <div class="card-body">
                                <div class="row">
                                    <article class="col-sm-12">
                                        <span class="badge badge-secondary">Remotely Hosted</span>
                                        <span class="badge badge-success">Available</span>
                                        <p> Steven Murawski, Sarah Grasty. 2019. Towed-camera (C-BASS) observations of fish
                                            density. Spawning Habitat and Early-life Linkages to Fisheries (SHELF). DOI:
                                            10.7266/n7-n5p5-c621. UDI: F2.x836.000:0007 </p>
                                    </article>
                                </div>
                            </div>
                        </article>

                        <article class="card card-product">
                            <div class="card-body">
                                <div class="row">
                                    <article class="col-sm-12">
                                        <span class="badge badge-primary">Submitted</span>
                                        <span class="badge badge-danger">Restricted</span>
                                        <p> Steven Murawski, Sarah Grasty. 2019. Towed-camera (C-BASS) observations of fish
                                            density. Spawning Habitat and Early-life Linkages to Fisheries (SHELF). DOI:
                                            10.7266/n7-n5p5-c621. UDI: F2.x836.000:0007 </p>
                                    </article>
                                </div>
                            </div>
                        </article>

                        <article class="card card-product">
                            <div class="card-body">
                                <div class="row">
                                    <article class="col-sm-12">
                                        <span class="badge badge-success">Available</span>
                                        <p> Steven Murawski, Sarah Grasty. 2019. Towed-camera (C-BASS) observations of fish
                                            density. Spawning Habitat and Early-life Linkages to Fisheries (SHELF). DOI:
                                            10.7266/n7-n5p5-c621. UDI: F2.x836.000:0007 </p>
                                    </article>
                                </div>
                            </div>
                        </article>

                        <article class="card card-product">
                            <div class="card-body">
                                <div class="row">
                                    <article class="col-sm-12">
                                        <span class="badge badge-primary">Submitted</span>
                                        <span class="badge badge-danger">Restricted</span>
                                        <p> Steven Murawski, Sarah Grasty. 2019. Towed-camera (C-BASS) observations of fish
                                            density. Spawning Habitat and Early-life Linkages to Fisheries (SHELF). DOI:
                                            10.7266/n7-n5p5-c621. UDI: F2.x836.000:0007 </p>
                                    </article>
                                </div>
                            </div>
                        </article>

                        <article class="card card-product">
                            <div class="card-body">
                                <div class="row">
                                    <article class="col-sm-12">
                                        <span class="badge badge-success">Available</span>
                                        <p> Steven Murawski, Sarah Grasty. 2019. Towed-camera (C-BASS) observations of fish
                                            density. Spawning Habitat and Early-life Linkages to Fisheries (SHELF). DOI:
                                            10.7266/n7-n5p5-c621. UDI: F2.x836.000:0007 </p>
                                    </article>
                                </div>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </section>

    <!-- ========================= NAVIGATION ========================= -->
    <nav aria-label="Bootstrap 4 Navigation" class="bg" style="margin-bottom: 100px">

        <ul class="pagination justify-content-center">

            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Prev</a></li>

            <li class="page-item"><a class="page-link" href="#">1</a></li>

            <li class="page-item"><a class="page-link" href="#">2</a></li>

            <li class="page-item"><a class="page-link" href="#">3</a></li>

            <li class="page-item"><a class="page-link" href="#">4</a></li>

            <li class="page-item"><a class="page-link" href="#">5</a></li>

            <li class="page-item"><a class="page-link" href="#">6</a></li>

            <li class="page-item"><a class="page-link" href="#">7</a></li>

            <li class="page-item"><a class="page-link" href="#">Next</a></li>

        </ul>

    </nav>
    <!-- ========================= NAVIGATION========================= -->

    <!-- ========================= SECTION CONTENT END// ========================= -->
    </div>


{% endblock %}
