{% extends "base.html.twig" %}
{% block title %}Search{% endblock %}

{%block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('search') }}
{%endblock stylesheets  %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('search') }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootpag/1.0.7/jquery.bootpag.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
{% endblock %}


{% block body %}
    <div class="bootstrap">
        {% include 'Search/form.html.twig' %}
        {% if query is null %}
             {% include 'Search/alt-text.html.twig' %}
        {% else %}
            {% include 'Search/results.html.twig' %}
        {% endif %}
    </div>

{% endblock %}
