<aside class="col-sm-3">
    <div class="card card-filter">
        <!-- Dataset Status Facet -->
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title"><strong>Dataset Status</strong></h6>
            </header>
            <div class="filter-content">
                <div class="card-body">
                    <form id="status-facet">
                        {% for status in statusInfo %}
                            {% if status.count != 0 %}
                                <label class="form-check">
                                    <input class="form-check-input facet-aggregation" value="" type="checkbox" id="status_{{ status.id }}">
                                    <span class="form-check-label">
                                        <span class="float-right badge badge-light round">{{ status.count }}</span>
                                        {{ status.name|trim }}
                                    </span>
                                </label>
                            {% endif %}
                        {% endfor %}
                    </form>
                </div>
            </div>
        </article>

        <!-- Funding Organizations Facet -->
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title"><strong>Funding Organizations</strong></h6>
            </header>
            <div style="" class="filter-content">
                <div class="card-body">
                    <form id="fundorg-facet">
                        {% for org in fundingOrgInfo %}
                            <label class="form-check">
                                <input class="form-check-input facet-aggregation" value="" type="checkbox" id="fo_{{ org.id }}">
                                <span class="form-check-label" data-toggle="tooltip" title="{{ org.name |trim}}">
                                    <span class="float-right badge badge-light round">{{ org.count }}</span>
                                    {{ org.shortName |trim }}
                                </span>
                            </label>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </article>

        <!-- Research Groups Facet -->
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title"><strong>Research Groups</strong></h6>
            </header>
            <div class="filter-content">
                <div class="card-body">
                    <div class="input-group pb-3">
                        <input class="form-control" placeholder="Search" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <form id="resgrp-facet">
                        <div style="overflow-y: scroll; height: 10rem">
                            {% for group in researchGroupsInfo %}
                                <label class="form-check">
                                    <input class="form-check-input facet-aggregation" value="" type="checkbox" id="rg_{{ group.id }}">
                                    <span class="form-check-label" data-toggle="tooltip" title="{{ group.name |trim}}">
                                        <span class="float-right badge badge-light round">{{ group.count }}</span>
                                        {{group.shortName |trim}}
                                    </span>
                                </label>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </article>
    </div>
</aside>
