{% include 'Dataland/v2/ticketing-system-card.html.twig' %}
{% include 'Dataland/v2/download-card.html.twig' %}

{% set excludedFundingCycleList = [6, 12, 13, 14] %}

<div class="py-2">
    <div class="card text-center text-light">
        <div class="card-header bg-chart-primary">
            Project Information
        </div>
        <div class="card-body">
            <p class="card-text text-dark">
                <u>Funded By:</u> <br>
                {% for funder in dataset.funders|default %}
                    <span> {{ funder.name }}</span><br>
                {% endfor %}
            </p>
            {% if dataset.researchGroup.fundingCycle.fundingOrganization.id not in excludedFundingCycleList %}
                <p class="card-text text-dark">
                    <u>Funding Cycle:</u> <br>
                    <span>{{ dataset.researchGroup.fundingCycle.name }}</span>
                </p>
            {% endif %}
            <p class="card-text text-dark">
                <u>Research Group:</u> <br>
                <span>
                    <a href="{{ path('pelagos_app_ui_researchgroup_about', {'id': dataset.researchGroup.id }) }}" target="_blank">
                        {{ dataset.researchGroup.name }}
                    </a>
                </span>
            </p>
        </div>
    </div>
</div>
{% include 'Dataland/v2/point-of-contact.html.twig' %}
{% include 'Dataland/v2/collection-period-card.html.twig' %}
{% if dataset.datasetSubmission and dataset.datasetSubmission.themeKeywords %}
<div class="py-2">
    <div class="card text-center text-light">
        <div class="card-header bg-chart-primary">
            Theme keywords
        </div>
        <div class="card-body">
            <p class="card-text text-dark">
                {% set keywords = [] %}
                {% for keyword in dataset.datasetSubmission.themeKeywords|default %}
                    {% set keywords = keywords|merge([keyword|trim('"')]) %}
                {% endfor %}
                {{ keywords|join(', ') }}
            </p>
        </div>
    </div>
</div>
{% endif %}
{% include 'Dataland/v2/metadata-card.html.twig' %}
