{% if dataset.availabilityStatus == constant('App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE')
    or dataset.availabilityStatus == constant('App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE_REMOTELY_HOSTED') %}
    {% if dataset.datasetSubmission.isDatasetFileInColdStorage == true %}
        <div class="py-2">
            <div class="card text-center text-light">
                <div class="card-header bg-chart-primary">
                    Cold Storage Files
                </div>
                <div class="card-body">
                    <hr>
                    <p class="card-text text-dark">
                        <strong>Number of Cold Storage Files: </strong><br>
                        {{ dataset.datasetSubmission.coldStorageTotalUnpackedCount|default(0) }}
                    </p>
                    <hr>
                    <p class="card-text text-dark">
                        <strong>Cold Storage File Size: </strong><br>
                        {{ dataset.datasetSubmission.coldStorageTotalUnpackedSize|default(0)|formatBytes }}
                    </p>
                    <hr>
                    <p class="card-text text-dark">
                        <strong>File Format: </strong><br>
                        {{ dataset.datasetSubmission.distributionFormatName }}
                    </p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="py-2">
            <div class="card text-center text-light">
                <div class="card-header bg-chart-primary">
                    Files
                </div>
                <div class="card-body">
                    {% if dataset.availabilityStatus == constant('App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE') %}
                        <div id="download-zip" data-id="{{ dataset.id }}"></div>
                        <p class="card-text text-dark">
                            <a href="#individual-files">Individual Files
                                <img src="{{ asset('build/images/down-arrow.svg') }}"><br />
                            </a>
                        </p>
                        <hr>
                    {% endif %}
                    <p class="card-text text-dark">
                        <strong>No. of Downloads: </strong>
                        {{ downloads }}
                    </p>
                    <p class="card-text text-dark">
                        <strong>No. of Files: </strong>
                        {{ dataset.datasetSubmission.fileset.numberOfFiles|default(0) }}
                    </p>
                    <p class="card-text text-dark">
                        <strong>File Size: </strong>
                        {{ dataset.datasetSubmission.datasetFileSize|formatBytes }}
                    </p>
                    <p class="card-text text-dark">
                        <strong>File Format(s): </strong><br>
                        {{ dataset.datasetSubmission.distributionFormatName }}
                    </p>
                        {% if dataset.datasetSubmission.nceiurl|default or dataset.datasetSubmission.erddapurl|default %}
                            <hr>
                            <div>
                        {% endif %}
                        {% if dataset.datasetSubmission.nceiurl|default %}
                            <a href="{{ dataset.datasetSubmission.nceiurl }}" target="_blank">
                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="fas fa-external-link-alt"></i>
                            NCEI
                            </button>
                            </a>
                        {% endif %}
                        {% if dataset.datasetSubmission.erddapurl|default %}
                            <a href="{{ dataset.datasetSubmission.erddapurl }}" target="_blank">
                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="fas fa-external-link-alt"></i>
                            ERDDAP
                            </button>
                            </a>
                        {% endif %}
                        {% if dataset.datasetSubmission.nceiurl|default or dataset.datasetSubmission.erddapurl|default %}
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#altDataAccessHelp">
                                    <i class="fas fa-solid fa-info"></i> &nbsp; Help
                                </button>
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
