{% if dataset.availabilityStatus == constant('App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE')
    or dataset.availabilityStatus == constant('App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE_REMOTELY_HOSTED') %}
    {% if dataset.datasetSubmission.isDatasetFileInColdStorage == true %}
        <div class="py-2">
            <div class="card text-center text-light">
                <div class="card-header bg-chart-primary">
                    Cold Storage Files
                </div>
                <div class="card-body">
                    <div id="download-zip" data-id="{{ dataset.id }}"></div>
                    <hr>
                    <p class="card-text text-dark">
                        <strong>Number of Cold Storage Files: </strong><br>
                        {{ dataset.datasetSubmission.coldStorageTotalUnpackedCount|default(0) }}
                    </p>
                    <hr>
                    <p class="card-text text-dark">
                        <strong>Cold Storage File Size: </strong><br>
                        {{ dataset.datasetSubmission.coldStorageTotalUnpackedSize|default(0)|formatBytes }}
                    </p>
                    <hr>
                    <p class="card-text text-dark">
                        <strong>File Format: </strong><br>
                        {{ dataset.datasetSubmission.distributionFormatName }}
                    </p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="py-2">
            <div class="card text-center">
                <div class="card-header bg-chart-primary text-light">
                    Files
                </div>
                <div class="card-body">
                    <div id="download-zip" data-id="{{ dataset.id }}"></div>
                    {% if dataset.availabilityStatus == constant('App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE') %}
                        <p class="card-text text-dark">
                            <a href="#individual-files">Individual Files
                                <img style="display:inline;" src="{{ asset('build/images/down-arrow.svg') }}"><br />
                            </a>
                        </p>
                    {% endif %}
                    <hr>
                    <p class="card-text text-dark">
                        <strong>No. of Downloads: </strong>
                        {{ downloads }}
                    </p>
                    {% if dataset.availabilityStatus == constant('App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE') %}
                        <p class="card-text text-dark">
                            <strong>No. of Files: </strong>
                            {{ dataset.datasetSubmission.fileset.numberOfFiles|default(0) }}
                        </p>
                        <p class="card-text text-dark">
                            <strong>File Size: </strong>
                            {{ dataset.datasetSubmission.datasetFileSize|formatBytes }}
                        </p>
                    {% endif %}
                    <p class="card-text text-dark">
                        <strong>File Format(s): </strong><br>
                        {{ dataset.datasetSubmission.distributionFormatName }}
                    </p>
                    {% if dataset.datasetSubmission.nceiurl|default or dataset.datasetSubmission.erddapurl|default %}
                        <hr>
                        <div>
                        {% if dataset.datasetSubmission.nceiurl|default %}
                            <a href="{{ dataset.datasetSubmission.nceiurl }}" target="_blank">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="fas fa-external-link-alt"></i>
                                NCEI
                                </button>
                            </a>
                        {% endif %}
                        {% if dataset.datasetSubmission.erddapurl|default %}
                            <a href="{{ dataset.datasetSubmission.erddapurl }}" target="_blank">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="fas fa-external-link-alt"></i>
                                ERDDAP
                                </button>
                            </a>
                        {% endif %}
                            <span id="help-btn"></span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
