{% extends 'base.html.twig' %}
{% block title %}{{ dataset.udi }}{% endblock %}

{% block head %}
    {{ parent() }}

    {% if dataset.isAvailable %}
        {% include 'Dataland/metadata.markup.twig' %}
    {% else %}
        <meta name="robots" content="noindex"/>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('data-land') }}
    {{ parent() }}
{% endblock stylesheets %}

{% block body %}
    <div class="bootstrap">
        <div class="container">
            <div class="main pb-5">
                <div class="title w-75 float-left px-3">
                    <div class="pt-3">
                        {% include 'Dataland/v2/status-badge.html.twig' %}
                        <h2> {{ dataset.title }} </h2>
                    </div>
                    {% if dataset.datasetsubmissionstatus != constant("App\\Entity\\DatasetSubmission::STATUS_UNSUBMITTED") %}
                        <div class="d-flex justify-content-between py-2">
                            <div>
                                <div>
                                    <strong>Authors:</strong> {{ dataset.datasetSubmission.authors|default }}
                                </div>
                                <div>
                                {% if dataset.acceptedDate is not null %}
                                    <strong>Published On:</strong> {{ dataset.acceptedDate|date('M d Y H:i T', 'UTC') }}
                                {% else %}
                                    <strong>Identified On:</strong> {{ dataset.dif.approveddate|date('M d Y H:i T', 'UTC') }}
                                {% endif %}
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div>
                                        <strong>DOI:</strong>
                                        {% if dataset.doi %}
                                            https://doi.org/{{ dataset.doi.doi }}
                                        {% endif %}
                                    </div>
                    {% elseif dataset.dif.status == constant("App\\Entity\\DIF::STATUS_APPROVED") %}
                        <div class="d-flex justify-content-between py-2">
                            <div>
                                <div></div>
                                <div>
                                    <strong>Identified On:</strong> {{ dataset.dif.approveddate|date('M d Y H:i T', 'UTC') }}
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div></div>
                    {% else %}
                        <div class="d-flex justify-content-between py-2">
                            <div>
                                <div></div>
                                <div></div>
                            </div>
                            <div>
                                <div>
                                    <div></div>
                    {% endif %}
                                    <div>
                                        <strong>UDI:</strong> {{ dataset.udi }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    <hr>
                </div>
                <div class="sidebar w-25 float-right px-3">
                    {% include 'Dataland/v2/detail-cards.html.twig' %}
                </div>
                <div class="other-metadata w-75 float-left px-3">
                    <div class="py-2">
                        <h6><strong>Abstract:</strong></h6>
                        <p class="pre-line-white-space clamped">
                            {{ dataset.abstract }}
                        </p>
                    </div>
                    <hr>
                    {% if dataset.datasetSubmission.spatialExtent|default %}
                        <div class="py-2">
                            <div id="dlolmap" style="width: 100%;height:480px;"
                                 wkt="{{wkt|default}}"
                                 udi="{{dataset.udi}}"
                                 description= {{ (dataset.datasetStatus == constant('App\\Entity\\Dataset::DATASET_STATUS_ACCEPTED')) ? dataset.datasetSubmission.spatialExtentDescription : "" }}
                                 labimage="{{ asset('build/images/labonly.png') }}">
                            </div>
                            <a href="/leaflet/{{ dataset.udi }}" target="_NEW">View in Leaflet</a>
                        </div>
                        <hr>
                    {% endif %}
                    {% if dataset.datasetSubmissionStatus == constant('App\\Entity\\DatasetSubmission::STATUS_COMPLETE') %}
                    <div class="py-2">
                        <h6><strong>Suggested Citation:</strong></h6>
                        <p>
                            {{ dataset.citation }}
                        </p>
                    </div>
                    {% endif %}
                    {% include 'Dataland/v2/publications.html.twig' %}
                    <hr>
                    {% if dataset.datasetSubmission and dataset.datasetSubmission.purpose %}
                    <div class="py-2">
                        <h6><strong>Purpose:</strong></h6>
                        <p class="clamped">
                            {{ dataset.datasetSubmission.purpose|default }}
                        </p>
                    </div>
                    {% endif %}
                    {% include 'Dataland/v2/supplemental-info.html.twig' %}
                    {% include 'Dataland/v2/file-manager.html.twig' %}
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?v=3.51&key={{ google_maps_api_key }}&callback=Function.prototype"></script>
    <script type="text/javascript" src="{{ asset('build/js/geoviz.js') }}"></script>

    {{ encore_entry_script_tags('data-land') }}
{% endblock %}
