{% if dataset.datasetSubmission and dataset.datasetSubmission.suppParams %}
<hr>
<div class="py-2">
    <h6><strong>Data Parameters and Units:</strong></h6>
    <p class="pre-line-white-space clamped">
        {{ dataset.datasetSubmission.suppParams|default | raw}}
    </p>
</div>
{% endif %}

{% if dataset.datasetSubmission.suppMethods|default %}
<hr>
<div class="py-2">
    <h6><strong>Methods:</strong></h6>
    <p class="pre-line-white-space clamped">
        {{ dataset.datasetSubmission.suppMethods|default | raw}}
    </p>
</div>
{% endif %}

{% if dataset.datasetSubmission.suppInstruments|default %}
<hr>
<div class="py-2">
    <h6><strong>Instruments:</strong></h6>
    <p class="pre-line-white-space clamped">
        {{ dataset.datasetSubmission.suppInstruments|default | raw}}
    </p>
</div>
{% endif %}

{% if dataset.datasetSubmission.suppSampScalesRate|default %}
<hr>
<div class="py-2">
    <h6><strong>Sampling Scales and Rates:</strong></h6>
    <p class="pre-line-white-space clamped">
        {{ dataset.datasetSubmission.suppSampScalesRates|default | raw}}
    </p>
</div>
{% endif %}

{% if dataset.datasetSubmission.suppErrorAnalysis|default %}
<hr>
<div class="py-2">
    <h6><strong>Error Analysis:</strong></h6>
    <p class="pre-line-white-space clamped">
        {{ dataset.datasetSubmission.suppErrorAnalysis|default  | raw}}
    </p>
</div>
{% endif %}

{% if dataset.datasetSubmission.suppProvenance|default %}
<hr>
<div class="py-2">
    <h6><strong>Provenance and Historical References:</strong></h6>
    <p class="pre-line-white-space clamped">
        {{ dataset.datasetSubmission.suppProvenance|default | raw}}
    </p>
</div>
{% endif %}
