{% extends '@EasyAdmin/crud/detail.html.twig' %}
{% import '@EasyAdmin/crud/detail.html.twig' as ea_detail %}

{% block configured_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <style>
        .ea-dif-geometry-map-wrapper {
            border: 1px solid #cfd4da;
            border-radius: 6px;
            padding: 0.75rem;
            margin-top: 1rem;
            background: #fff;
        }

        .ea-dif-geometry-map-title {
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        .ea-dif-geometry-map {
            width: 100%;
            min-height: 360px;
            height: 420px;
            border: 1px solid #d9dee3;
            border-radius: 4px;
        }

        .ea-dif-geometry-map-status {
            margin-top: 0.4rem;
            min-height: 1.2rem;
            font-size: 0.86rem;
            color: #5f6b7a;
        }

        .ea-dif-geometry-map-status.is-error {
            color: #b02a37;
        }
    </style>
{% endblock %}

{% block detail_fields %}
    {% for field in entity.fields %}
        {% if field.isFormLayoutField %}
            {{ ea_detail.render_layout_field(field) }}
        {% else %}
            {% set propertyName = field.propertyName|default(field.property|default('')) %}
            {% if propertyName == 'spatialExtentGeometry' %}
                <div class="field-group {{ field.cssClass }}" {% for name, value in field.htmlAttributes %}{{ name }}="{{ value|e('html') }}" {% endfor %}>
                    {% if field.label is not same as(false) %}
                        <div class="field-label">
                            <div>{{ field.label|trans|raw }}</div>
                        </div>
                    {% endif %}

                    <div class="field-value">
                        {% set spatialExtentGeometry = entity.instance.spatialExtentGeometry|default('') %}
                        {% if spatialExtentGeometry %}
                            <div id="ea-dif-spatial-extent-map-readonly-wrapper"
                                 class="ea-dif-geometry-map-wrapper"
                                 data-gml="{{ spatialExtentGeometry|e('html_attr') }}">
                                <div class="ea-dif-geometry-map-title">Spatial Extent Geometry Map</div>
                                <div id="ea-dif-spatial-extent-map-readonly" class="ea-dif-geometry-map"></div>
                                <div id="ea-dif-spatial-extent-map-readonly-status" class="ea-dif-geometry-map-status"></div>
                            </div>
                        {% else %}
                            <div class="ea-dif-geometry-map-status">No spatial extent geometry is set.</div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                {{ ea_detail.render_field_contents(entity, field) }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block configured_javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    {{ encore_entry_script_tags('ezadmin-dif-spatial-extent-map-detail') }}
{% endblock %}
