{% extends "template/UI.html.twig" %}

{% block title %}{{ dataset.udi }}{% endblock %}

{% block head %}
    {{ parent() }}

    {% if dataset.isAvailable %}
        {% include 'Dataland/metadata.markup.twig' %}
    {% else %}
        <meta name="robots" content="noindex" />
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('build/css/dataland-details.css') }}" rel="stylesheet" />
    <link href="{{ asset('build/css/status.css') }}" rel="stylesheet" />
    <link href="{{ asset('build/css/xmlverbatim.css') }}" rel="stylesheet" />
    <link href="{{ asset('build/css/download.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex-theme-os.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?v=3&key={{ google_maps_api_key }}&callback=gmapsCallback"></script>
    <script type="text/javascript" src="{{ asset('build/js/geoviz.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/dataland.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/download.js') }}"></script>

    {{ encore_entry_script_tags('downloadBox') }}
{% endblock %}

{% block body %}
    {% if dataset %}
        <table border="0" width="100%">
            <tr>
                <td width="40%">
                    <div id="dlolmap" style="width: 640px;height: 480px;"
                        wkt="{{wkt|default}}"
                        description= {{ (dataset.datasetStatus == constant('App\\Entity\\Dataset::DATASET_STATUS_ACCEPTED')) ? dataset.datasetSubmission.spatialExtentDescription : "" }}
                        labimage="{{ asset('build/images/labonly.png') }}">
                    </div>
                </td>
                <td style="padding:10px;" width="60%" valign="top">
                    <div id="summary">
                        {% include 'Dataland/summary.html.twig' %}
                    </div>
                </td>
                </tr>
        </table>

        <div>
            <div id="tabs" style="width:100%">
                <ul>
                    <li><a href="#tabs-1">Details</a></li>
                    <li><a href="#tabs-2">Metadata</a></li>
                    <li {{ dataset.datasetPublications|length == 0 ? ' disabled' : '' }}>
                        <a href="#tabs-3">Publications</a>
                    </li>
                    <li {{ dataset.datasetSubmission.datasetLinks|default|length == 0 ? ' disabled' : '' }}>
                        <a href="#tabs-4">Additional Resources</a>
                    </li>
                </ul>
                <div class="tabb" id="tabs-1">
                    {% include 'Dataland/details.html.twig' %}
                </div>

                <div class="tabb" id="tabs-2" style="overflow:auto;word-wrap:break-word;height:100%;">
                    {% if rawxml %}
                    <div id="xmlradio">
                        <input class="xmlcheckradio" type="radio" id="xmlformated" name="radio" checked="checked"><label for="xmlformated">Formatted</label>
                        <input class="xmlcheckradio" type="radio" id="xmlraw" name="radio" ><label for="xmlraw">Raw</label>
                    </div>
                    <p>
                        <div id="formatedxml">
                            {{ rawxml|transformXml('xml-to-html-ISO.xsl')|raw }}
                        </div>
                        <div id="rawxml" style="display:none;">
                            {{ rawxml|transformXml('xmlverbatim.xsl')|raw }}
                        </div>
                    </p>
                    {% else %}
                    <p><h3>No Metadata Available</h3></p>
                    {% endif %}
                </div>
                <div class="tabb" id="tabs-3">
                    {% include 'Dataland/publications.html.twig' %}
                </div>
                <div class="tabb" id="tabs-4">
                    {% include 'Dataland/datasetlinks.html.twig' %}
                </div>
            </div>
        </div>

        <div id="download_dialog"></div>
    {% else %}
        <p>
        <h1>Dataset not found</h1>
        No dataset has been identified or submitted with the UDI: <?php echo "$udi";?><br/>
        If you are experiencing difficulties, please contact <a href="mailto:griidc@gomri.org">GRIIDC</a>.
        </p>
    {% endif %}
{% endblock %}
