{% extends "PelagosAppBundle:template:UI.html.twig" %}
{% block title %}System Statistics{% endblock %}

{%block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('build/css/stats.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.time.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.pie.min.js"></script>

    <script type="text/javascript" src="{{ asset('build/js/jquery.flot.barnumbers.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/stats.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

{% block body %}
    <div class="display-table">
        <div class="display-table-row">
            <div class="display-table-cell">
                <h1>System Statistics (as of {{ 'now'|date('F j, Y') }})</h1>
            </div>
        </div>
        <div class="display-table-row">
            <div id="stats-container" class="display-table-cell">
                <div id="stats-tabs">
                    <div style="display: table-cell; height:100%;">
                        <div class="stats-overview" style="margin-bottom: -10px;">
                            <div class="stats-overview-row">
                                {% include "PelagosAppBundle:Stats:total-records-over-time.html.twig" %}
                            </div>
                        </div>
                        <div class="stats-overview">
                            <div class="stats-overview-row">
                                {% include "PelagosAppBundle:Stats:dataset-size-ranges.html.twig" %}
                                {% include "PelagosAppBundle:Stats:program-resources.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="section_canvas_div"></div>
{% endblock %}
