{% extends "PelagosAppBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    
    {% stylesheets
        '@PelagosAppBundle/Resources/public/css/login.css'
    %}
        {{ add_css(asset_url) }}
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <div id="main-wrapper">
        <div id="main" class="clearfix">
            <!-- CONTENT -->
            <div class="row">
                <div class="box fl-panel" id="login">
                 {{ form_start(form) }}
                    <h2>Enter your Username and Password</h2>
                    <div class="row fl-controls-left">

                    {{ form_row(form._username) }}

                    </div>
                    <div class="row fl-controls-left">
                        {{ form_row(form._password) }}

                        <label for="rememberMe" style="display:inline; float:none; vertical-align:15%;">
                            <a href="https://data.gulfresearchinitiative.org/account/reset-password">Forgot Your Password or Password Expired?</a>
                        </label>
                        <label for="rememberUsername" style="display:inline; float:none; vertical-align:15%;">
                            <a href="https://data.gulfresearchinitiative.org/account/forgot-username">Forgot Your Username?</a>
                        </label>
                    </div>
                    <div class="row btn-row">
                    <input class="btn-submit form-submit" id="edit-submit" name="op" accesskey="l" value="LOGIN" type="submit">
                    <input class="btn-reset" name="reset" accesskey="c" value="CLEAR" type="reset">
                    </div>
                {{ form_end(form) }}
                </div>
                <div id="sidebar">
                    <p class="fl-panel fl-note fl-bevel-white fl-font-size-80">You have reached the Gulf of Mexico Research Initiative Data and Information Cooperative (GRIIDC) site.</p>
                    <p>Accounts are governed by rules of Texas A&M University-Corpus Christi. Accounts are issued to individuals and shall not be shared.</p>
                    <p>User authentication is required to access these pages.</p>
                    <p>If you need to access GRIIDC pages and are not a registered user, please <a href="https://data.gulfresearchinitiative.org/account">request an account</a>.</p>
                    <p>Texas A&amp;M University-Corpus Christi</p>
                    <ul>
                        <li>Unauthorized use is prohibited.</li>
                        <li>Usage may be subject to security testing and monitoring.</li>
                        <li>Abuse is subject to criminal prosecution.</li>
                        <li>No expectation of privacy except as otherwise provided by applicable privacy laws.</li>
                    </ul>
                    <p>These warnings are required in accordance with Texas Administrative Code 202 as administered by the Texas Department of Information Resources.  Reference Chapter 33, Texas Penal Code.</p>
                    <p></p>
                </div>
            </div>
        </div> <!-- main table -->
    </div>
{% endblock %}