<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for person in people %}
            <div class="card cursor-pointer p-4 border rounded shadow min-h-[250px]">
            <a href="{{ path('app_person_land', { 'person': person.id }) }}" class="block" target="_blank"></a>
                <p>
                    <span class="text-2xl">{{ person.firstName }} {{ person.lastName }}</span><br />
                    <span class="text-stone-500 text-base">{{ person.position }}</span><br />
                    {{ person.organization }}<br />
                </p>
                <p>
                    <span class="text-stone-500 break-words">{{ person.emailAddress }}</span>
                </p>
            </div>
    {% endfor %}
</div>
