{% extends "base.html.twig" %}
{% block title %}Person Page{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('person-land') }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .active {
            transition: opacity 0.25s ease-in-out;
            opacity: 1;
            height: auto;
        }
        .inactive {
            transition: opacity 0.25s ease-in-out;
            opacity: 0.5;
            height: 0;
            overflow: hidden;
        }
    </style>
{% endblock stylesheets  %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('person-land') }}
{% endblock javascripts %}

{% block body %}
<div class="max-w-screen-xl mx-auto py-6">
    <div class="overflow-y-auto" x-data="{
        openTab: 1,
        activeClasses: 'text-white bg-primary cursor-pointer',
        inactiveClasses: 'text-gray-500 hover:text-gray-900 bg-gray-50 hover:bg-gray-100 cursor-pointer',
        changeTab(tab) {
            this.openTab = tab;
        }
    }">

    <div class="md:flex border border-gray-300">
        <ul class="flex-column space-y space-y-4 md:me-4 mb-4 md:mb-0 bg-gray-50 not-prose p-2 w-1/4 relative">
            <li @click="changeTab(1)" :class="openTab === 1 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-circle-info me-2"></i>
                Overview
            </li>
            <li @click="changeTab(2)" :class="openTab === 2 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-people-group me-2"></i>
                Research Groups <span class="badge badge-pill badge-secondary absolute end-4">{{ person.researchGroups|length }}</span>
            </li>
            <li @click="changeTab(3)" :class="openTab === 3 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-database me-2"></i>
                Datasets <span class="badge badge-pill badge-secondary absolute end-4">{{ person.datasets|length }}</span>
            </li>
            <li @click="changeTab(4)" :class="openTab === 5 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-book me-2"></i>
                Publications <span class="badge badge-pill badge-secondary absolute end-4">{{ person.publications|length }}</span>
            </li>
            <li @click="changeTab(5)" :class="openTab === 6 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-download me-2"></i>
                Information Products <span class="badge badge-pill badge-secondary absolute end-4">{{ informationProducts|length }}</span>
            </li>
        </ul>

        <div class="p-6 rounded-lg w-3/4">
            <div :class="openTab === 1 ? 'active' : 'inactive'" class="opacity-0">
                <p>
                    <h3>{{ person.firstName }} {{ person.lastName }}</h3>
                    <i>{{ person.position }}</i> - {{ person.organization }}<br />
                    {{ person.emailAddress }}
                </p>
                <p>
                    {{ person.phoneNumber }}<br />
                    {{ person.deliveryPoint }}<br />
                    {{ person.city }}, {{ person.administrativeArea }} {{ person.postalCode }}<br />
                    {{ person.country }}
                </p>
                <p>
                    <br />
                    {% if person.personResearchGroups|length > 0 %}
                        {% set plural = person.personResearchGroups|length > 1 ? 's' : '' %}
                        <label>Funding Organization{{ plural }}:</label>
                    {% endif %}

                    {% for personResearchGroup in person.personResearchGroups %}
                        <p>
                            {% set researchGroup = personResearchGroup.researchGroup %}
                            {% set researchGroupPerson = personResearchGroup.person %}
                            {% set role = personResearchGroup.role.name %}
                            <div>
                                <a href="{{ url('pelagos_app_ui_fundingorganization_default', {'id': researchGroup.fundingCycle.fundingOrganization.id}) }}"
                                    target="_blank" class="text-blue-600 inline-flex items-center font-medium hover:underline">
                                    {{ researchGroup.fundingCycle.fundingOrganization.name }}</a>
                            </div>
                            <div>
                                Research Group: {{ researchGroup.name }}<br />
                                <i>{{ role }}</i>
                            </div>
                        </p>
                    {% endfor %}
                </p>


            </div>
            <div :class="openTab === 2 ? 'active' : 'inactive'" class="opacity-0">
                {% include 'LandingPages/research-groups.html.twig' with {'researchGroups': person.researchGroups} %}
            </div>
            <div :class="openTab === 3 ? 'active' : 'inactive'" class="opacity-0">
                {% include 'LandingPages/datasets.html.twig' with {'datasets': person.datasets|sortBy(["udi"])}  %}
            </div>
            <div :class="openTab === 4 ? 'active' : 'inactive'" class="opacity-0">
                {% include 'LandingPages/publications.html.twig' with {'publications': person.getPublications} %}
            </div>
            <div :class="openTab === 5 ? 'active' : 'inactive'" class="opacity-0">
                {% include 'LandingPages/information-products.html.twig' with {'informationProducts': informationProducts} %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
