{% for researchGroup in researchGroups %}
    <a href="{{ path('pelagos_app_ui_researchgroup_about', { 'id': researchGroup.id }) }}" target="_blank" class="block">
        <div class="card">
                <h4>{{ researchGroup.name }}<br /></h4>
            </a>
            {% if researchGroup.description %}
                <p>
                    <label>Description:</label>
                    {{ researchGroup.description }}<br />
                </p>
            {% endif %}
            {% if researchGroup.fundingCycle %}
                <label>Funding Cycle:</label>
                {{ researchGroup.fundingCycle.name }}<br />
            {% endif %}
            {% if researchGroup.fundingCycle.fundingOrganization %}
                <label>Funding Organization:</label>
                {{ researchGroup.fundingCycle.fundingOrganization.name }}<br />
            {% endif %}
        </div>
   </a>
{% endfor %}
