{% extends 'base.html.twig'%}
{% block title %}User Profile{% endblock %}

{%block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('person-profile') }}

{%endblock stylesheets  %}

{% block body %}
    <div id="person-profile" data-name="{{ person }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('person-profile') }}
{% endblock %}
