{% set isDRPM = is_granted('ROLE_DATA_REPOSITORY_MANAGER')  %}
<form id="regForm" method="post" data-research-group-id="{{ researchGroupId }}" data-dataset-id="{{ datasetId }}" data-udi="{{ udi }}">
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <div class="max-w-[85%] mx-auto">
        <div class="mb-4 font-normal text-gray-500">
            <span>The GRIIDC dataset submission process consists of two steps, identify and submitting the data.
            In this step you will submit the dataset by adding additional information and providing files.
            The red asterisk indicates required fields. Please contact <a class="pagelink" href="mailto:help@griidc.org">help@griidc.org</a> with any questions.</span>
        </div>
        {% if udi is not empty %}
             <div class="text-3xl mb-4">Unique Dataset Identifier (UDI): {{ udi }}</div>
        {% endif %}
        <span id="contact" class="text-2xl font-semibold mb-4">Dataset Contact</span>
        <div class="bg-white border border-gray-300 p-4 rounded-lg mb-4 grid gap-4">
            <div class="grid grid-cols-1 gap-4">
                {% for contact in form.datasetContacts %}
                <div>
                    {% if contact.vars.data.primaryContact %}
                        <label class="required" for="datasetcontact">Primary Point of Contact</label>
                    {% else %}
                        <label for="datasetcontact">Additional Point of Contact</label>
                    {% endif %}
                    <select class="contactperson" id="{{contact.person.vars.full_name}}" name="{{contact.person.vars.full_name}}" required="required">
                    {% set selectPerson = contact.vars.data.person.id %}

                    {% for person in researchGroupPeople %}
                        <option value="{{person.id}}" {{ (selectPerson == person.id) ? 'selected' : '' }}>
                            {{person.lastName}}, {{person.firstName}} ({{person.emailAddress}})
                        </option>
                    {% endfor %}
                    </select>
                </div>
                <div>
                    {{ form_widget(contact.primaryContact) }}
                    {{ form_row(contact.role, { attr: { class: 'input-base' } }) }}
                </div>
                <hr class="my-2 border-gray-300">

                {% endfor %}
            </div>

            <div>
                {{ form_row(form.funders, { attr: { multiple: 'multiple'} }) }}
            </div>

            <div>
                {{ form_row(form.additionalFunders, { attr: { class: 'input-base'} }) }}
            </div>

            <div>
                {{ form_row(form.authors, { attr: { class: 'input-base'} }) }}
            </div>
        </div>

        {% set contact = form.metadataContacts | first %}
        <input type="hidden" id="metadatacontact" name="{{contact.person.vars.full_name}}" value="{{contact.vars.data.person.id|default}}">
        <input type="hidden" id="metadatacontactrole" name="{{contact.role.vars.full_name}}" value="{{contact.vars.data.role|default}}">

        <span class="text-2xl font-semibold mb-4" id="information">Dataset Information</span>
        <div class="bg-white border border-gray-300 p-4 rounded-lg mb-4 grid gap-4">
            <div>
                {{ form_row(form.title, { attr: { class: 'input-base'} }) }}
            </div>

            <div>
                {{ form_row(form.shortTitle, { attr: { class: 'input-base'} }) }}
            </div>

            <div>
                {{ form_row(form.abstract, { attr: { class: 'textarea-base'} }) }}
            </div>

            <div>
                {{ form_row(form.purpose, { attr: { class: 'textarea-base', rows: 3} }) }}
            </div>

            <div>
                {{ form_row(form.suppParams, { attr: { class: 'textarea-base', rows: 3} }) }}
            </div>

            <div>
                {{ form_row(form.suppMethods, { attr: { class: 'textarea-base', rows: 3} }) }}
            </div>

            <div>
                {{ form_row(form.suppInstruments, { attr: { class: 'textarea-base', rows: 3} }) }}
            </div>

            <div>
                {{ form_row(form.suppSampScalesRates, { attr: { class: 'textarea-base', rows: 3} }) }}
            </div>

            <div>
                {{ form_row(form.suppErrorAnalysis, { attr: { class: 'textarea-base', rows: 3} }) }}
            </div>

            <div>
                {{ form_row(form.suppProvenance, { attr: { class: 'textarea-base', rows: 3} }) }}
            </div>
        </div>

        <span class="text-2xl font-semibold mb-4" id="keywords">Keywords</span>
        <div class="bg-white border border-gray-300 p-4 rounded-lg mb-4 grid gap-4">

            <div>
                {{ form_label(form.themeKeywords) }}
                <select class="keywordinput" id="{{ form.themeKeywords.vars.id }}" multiple required="required" name="{{ form.themeKeywords.vars.full_name }}[]">
                {% for keyword in form.themeKeywords %}
                    <option value="{{keyword.vars.value}}" selected="selected">{{keyword.vars.value}}</option>
                {% endfor %}
                </select>
            </div>

            <div>
                {{ form_label(form.placeKeywords) }}
                <select class="keywordinput" id="{{ form.placeKeywords.vars.id }}" multiple name="{{ form.placeKeywords.vars.full_name }}[]">
                {% for keyword in form.placeKeywords %}
                    <option value="{{keyword.vars.value}}" selected="selected">{{keyword.vars.value}}</option>
                {% endfor %}
                </select>
            </div>

            <div>
                <label>Topic Category Keyword List</label>
                <select class="keywordinput" multiple="multiple" size="10" id="topic-keyword-select" keyword="source" name="{{ form.topicKeywords.vars.full_name }}">
                    {% set order = 0 %}
                    {% for keyword in form.topicKeywords.vars.choices %}
                        {% set found = false  %}
                        {% for keywordValue in form.topicKeywords.vars.value %}
                            {% if keyword.value == keywordValue %}
                                {% set found = true %}
                            {% endif %}
                        {% endfor %}
                        <option value="{{keyword.value}}" order="{{order}}" {{ (found) ? 'selected' : '' }}>{{keyword.label}}</option>
                        {% set order = order + 1 %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <span class="text-2xl font-semibold mb-4" id="extent">Dataset Extent</span>
        <div class="bg-white border border-gray-300 p-4 rounded-lg mb-4  grid gap-4">
            <label>Geographic Study Area:</label>
            <div class="mb-2 font-normal text-gray-700">
                <span class="block mb-2">
                    Please indicate if your dataset is spatial or non-spatial. A dataset has a spatial component if samples were taken at a location, model results describe an area, or if the location is relevant to the dataset. Non-spatial datasets are independent of location.
                </span>
                <span class="block">
                    Define the spatial extent by providing a list of coordinates (in decimal degrees) or drawing on the map. Please refer to the <a href="#" class="pagelink">spatial extent guidance document</a> for more information.
                </span>
            </div>
            <ul class="grid w-full gap-6 md:grid-cols-2">
                <li>
                    <input type="radio" id="yes-extent" name="has-extent" value="yes-extent" class="hidden peer" helper>
                    <label for="yes-extent" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                        <div class="block">
                            <div class="w-full">Spatial Data</div>
                        </div>
                        <svg class="w-5 h-5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </label>
                </li>
                <li>
                    <input type="radio" id="no-extent" name="has-extent" value="no-extent" class="hidden peer" helper>
                    <label for="no-extent" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                        <div class="block">
                            <div class="w-full">Non-Spatial Data</div>
                        </div>
                        <svg class="w-5 h-5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </label>
                </li>
            </ul>

            <div id="spatial-extent">
                <div id="spatial-extent-geometry" class="hidden">
                    <div class="grid-col-span-2">
                        {{ form_row(form.spatialExtent, { attr: { class: 'input-base'} }) }}
                        {% include 'DIF/spatial.html.twig' %}
                    </div>
                </div>

                <div id="spatial-extent-description" class="hidden">
                    <div class="grid-col-span-2">
                        {{ form_row(form.spatialExtentDescription, { attr: { class: 'input-base'} }) }}
                    </div>
                </div>

                <div>
                    {{ form_row(form.temporalExtentDesc, { attr: { class: 'input-base'} }) }}
                </div>

                <div class="grid grid-cols-2 gap-4">
                    <div>
                        {{ form_row(form.temporalExtentBeginPosition, { attr: { class: 'input-base', 'datepicker': '', 'datepicker-autohide': '', 'datepicker-format': 'yyyy-mm-dd'}}) }}
                    </div>

                    <div>
                        {{ form_row(form.temporalExtentEndPosition, { attr: { class: 'input-base', 'datepicker': '', 'datepicker-autohide': '', 'datepicker-format': 'yyyy-mm-dd'}}) }}
                    </div>
                </div>
            </div>
        </div>

        <span class="text-2xl font-semibold mb-4" id="submit">Submit</span>

        <div class="bg-white border border-gray-300 p-4 rounded-lg mb-4 grid gap-4">

            <div>
                <div class="grid grid-cols-3 gap-4">
                    <div>
                        {{ form_row(form.datasetFileTransferType) }}
                    </div>
                    <div>
                        {{ form_row(form.restrictions) }}
                    </div>
                </div>

                <span>FILE SUBMISSION COMPONENT GOES HERE</span>
            </div>

            <input type="hidden" name="submitAction" id="submitAction"/>
            {# <input type="hidden" name="status" id="status" value="{{ status }}"/> #}

            <div class="grid grid-cols-3 gap-4" id="submit">
                <div>
                    <button type="submit" id="saveAndContinue" name="saveAndContinue" class="button button-regular button-form w-full justify-center">Save and Continue Later</button>
                </div>

                <div>
                    <button type="submit" id="saveAndSubmit" name="saveAndSubmit" class="button button-regular button-form w-full justify-center">Submit to GRIIDC</button>
                </div>

                <div>
                    <button type="button" id="resetFormButton" name="resetFormButton" class="button button-regular button-form w-full justify-center">Reset Form</button>
                </div>
            </div>
        </div>
        {# {% if isDRPM %}
        <input type="hidden" id="isDrpm" value='1'>
        <span class="text-2xl font-semibold mb-4" id="submit">Additional Data Manager Controls</span>
        <div class="bg-white border border-gray-300 p-4 rounded-lg mb-4  grid gap-4" >
            <span class="font-semibold">The current DIF state is <i>{{ {0: 'Unsubmitted', 1: 'Submitted', 2: 'Approved'}[status] ?? 'Unknown' }}</i></span></label>
            <div class="grid grid-cols-3 gap-4 py-2" id="submit">
                <div>
                    <button type="submit" id="approveSubmission" name="approveSubmission" class="button button-regular button-form w-full justify-center" {{ not isApprovable ? 'disabled' }}>Approve</button>
                </div>
                <div>
                    <button type="submit" id="unlockSubmission" name="unlockSubmission" class="button button-regular button-form w-full justify-center" {{ not isUnlockable ? 'disabled' }}>Unlock</button>
                </div>
                <div>
                    <button type="submit" id="drpmUpdateSubmission" name="drpmUpdateSubmission" class="button button-regular button-form w-full justify-center">Update</button>
                </div>
            <div>
        </div>
        {% else %}
            <input type="hidden" id="isDrpm" value='0'>
        {% endif %} #}
    </div>
</form>
