{% extends "template/UI.html.twig" %}

{% block body %}
<div class="messages status">
<h2 class="element-invisible">Status message</h2>
Thank you for your submission. Please email <a href="mailto:help@griidc.org?subject=Submission Form">help@griidc.org</a> if you have any questions.
</div>

<fieldset>
    <table border="1" width="100%" style="background-color:white; color:black;" border="0" class="mx-auto px-2">
        <tr>
            <td width="200px" align="top">
                <b>Dataset UDI:</b>
            </td>
            <td>
                <a href="{{ vanitypath('pelagos_app_ui_dataland_default', {'udi': DatasetSubmission.dataset.udi}) }}">
                    <strong>{{ DatasetSubmission.dataset.udi }}</strong>
                </a>
            </td>
        </tr>
        <tr rowspan=2>
            <td>
                <b>Dataset Title:</b>
            </td>
            <td>
                {{ DatasetSubmission.getTitle }}
            </td>
        </tr>
        <tr rowspan=3>
            <td>
                <b>Dataset Abstract:</b>
            </td>
            <td>
                {{ DatasetSubmission.getAbstract }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Dataset Author(s):</b>
            </td>
            <td>
                {{ DatasetSubmission.getAuthors }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Point of Contact Name:</b>
            </td>
            <td>
                {{ DatasetSubmission.getPointOfContactName | default }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Point of Contact E-Mail:</b>
            </td>
            <td>
                {{ DatasetSubmission.getPointOfContactEmail | default }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Restrictions:</b>
            </td>
            <td>
                {{ DatasetSubmission.getRestrictions }}
            </td>
        </tr>
        <tr>
            <td>
                <b>DOI:</b>
            </td>
            <td>
                {{ DatasetSubmission.Dataset.Doi.doi|default }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Submitted On:</b>
            </td>
            <td>
                {{ DatasetSubmission.getSubmissionTimeStamp.format('c') }}
            </td>
        </tr>
        <tr>
            <td>
                <button class="button button-regular" type="button" onclick="window.location.href='{{ vanitypath('pelagos_app_ui_datasetsubmission_default') }}';">
                    Fill out another Submission Form
                </button>
            </td>
        </tr>
    </table>
</fieldset>
{% endblock %}
