<!DOCTYPE html>
<html style="height:100%;">
<head>
    {% block head %}
        <title>GRIIDC | {% block title %}Pelagos{% endblock %}</title>

        <link rel="icon" type="image/svg+xml" href="{{ asset('build/images/griidc_fav.svg') }}" />
        <link rel="icon" type="image/png" href="{{ asset('build/images/griidc_fav-32x32.png') }}" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{google_analytics_id}}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{google_analytics_id}}', {
                'page_path': '{{ app.request.pathinfo }}'
            });
        </script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('gomri') }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet" />

        {% if isMaintenanceMode() %}
    <link href="{{ asset('build/css/griidc_site_banner_screen.css') }}" rel="stylesheet" />
        {% endif %}
    {% endblock stylesheets  %}
    {% endblock %}
</head>
<body class="html page-pelagos-full">
{% block htmlbody %}
    <div id="page-wrapper">
        <div id="page">
            {% if isMaintenanceMode() %}
                <div id="siteBannerHeaderBanner" class="toolbar clearfix toolbar-processed overlay-displace-top" style="background-color:{{ getMaintenanceModeColor() }}">
                    {{ getMaintenanceModeText()}}
                </div>
                <div id="siteBannerFooterBanner" class="toolbar clearfix toolbar-processed overlay-displace-top" style="background-color:{{ getMaintenanceModeColor() }}">
                    {{ getMaintenanceModeText()}}.</div>
            {% endif %}
            <div id="header"><div class="section clearfix">

                    <div class="region region-header">
                        <div id="block-pelagos-pelagos-login-logout-links" class="block block-pelagos">
                            <div class="content">
                            </div>
                        </div>
                    </div>

                    <div id="branding" class="branding">
                        <div id="logo-wrapper">
                            <a href="https://gulfresearchinitiative.org" title="Gulf of Mexico Research Initiative" rel="home" id="logo">
                                <img src="{{asset('build/images/logo.png')}}" alt="Home">
                            </a>
                        </div>

                        <div id="name-and-slogan">

                            <div id="site-slogan">Investigating the effect of oil spills <br> on the environment and public health.</div>
                        </div>

                        <div id="griidc-logo-wrapper">
                            <a href="https://griidc.org" title="Home" rel="home" id="logo">
                                <img width="213" height="59" src="{{asset('build/images/griidc-logo.svg')}}" alt="GRIIDC">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% block menu %}
                {% include "Menus/gomri-main.html.twig" %}
            {% endblock menu %}


            <div id="main-wrapper">
                <div id="pelagos-container">
                    <div id="pelagos-container-row">
                        <div id="pelagos-wrapper">
                            <div id="pelagos-wrapper-row">
                                <div id="pelagos-content">
                                    <h1 style="margin: 0 auto;">{% block pagetitle %}{% endblock %}</h1>
                                    {% block body %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {#END Main Content #}
        </div>{#End div page#}
    </div> {#End div wrapper#}
{% endblock htmlbody %}

{% block javascripts %}
    {{ encore_entry_script_tags('gomri') }}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.hoverintent/1.9.0/jquery.hoverIntent.min.js"></script>

    <script>
        window.PELAGOS_TEMPLATE_PROPS = {"BaseTemplateName": "GOMRI"};
    </script>

    {% endblock %}
</body>
</html>
