<!DOCTYPE html>
<html style="height:100%;">
<head>
    {% block head %}
        <title>GRIIDC | {% block title %}Pelagos{% endblock %}</title>

        <link rel="icon" type="image/svg+xml" href="{{ asset('build/images/griidc_fav.svg') }}" />
        <link rel="icon" type="image/png" href="{{ asset('build/images/griidc_fav-32x32.png') }}" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{google_analytics_id}}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{google_analytics_id}}', {
                'page_path': '{{ app.request.pathinfo }}'
            });
        </script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet" />

    <link href="{{ asset('build/css/griidc-tailwind.css') }}" rel="stylesheet" />

    {% if isMaintenanceMode() %}
        <link href="{{ asset('build/css/griidc_site_banner_screen.css') }}" rel="stylesheet" />
        {% endif %}
    {% endblock stylesheets  %}

    {% endblock %}
</head>
<body class="html page-pelagos-full">

{% if isMaintenanceMode() %}
    <div id="siteBannerHeaderBanner" class="toolbar clearfix toolbar-processed overlay-displace-top p-8" style="background-color:{{ getMaintenanceModeColor() }}">
        {{ getMaintenanceModeText()}}
    </div>
    <div id="siteBannerFooterBanner" class="toolbar clearfix toolbar-processed overlay-displace-top" style="background-color:{{ getMaintenanceModeColor() }}">
        {{ getMaintenanceModeText()}}.
    </div>
{% endif %}

{% include "components/griidc-header.html.twig" %}

{% block htmlbody %}
    <div id="main-wrapper">
        <div id="pelagos-container" >
            <div id="pelagos-container-row">
                <div id="pelagos-wrapper">
                    <div id="pelagos-wrapper-row">
                        <div id="pelagos-content" class="prose pb-8">
                            <h1 style="margin: 0 auto;">{% block pagetitle %}{% endblock %}</h1>
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% include "components/griidc-footer.html.twig" %}
{% endblock htmlbody %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.hoverintent/1.9.0/jquery.hoverIntent.min.js"></script>

    <script>
        window.PELAGOS_TEMPLATE_PROPS = {"BaseTemplateName": "GRIIDC"};
    </script>

    {% endblock %}

</body>
</html>
