<!DOCTYPE html>
<html style="height:100%;">
<head>
    {% block head %}
        <title>GRIIDC | {% block title %}Pelagos{% endblock %}</title>

        <link rel="icon" type="image/svg+xml" href="{{ asset('build/images/griidc_fav.svg') }}" />
        <link rel="icon" type="image/png" href="{{ asset('build/images/griidc_fav-32x32.png') }}" />

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}

    <link href="{{ asset('build/css/griidc-tailwind.css') }}" rel="stylesheet" />

    {% endblock stylesheets %}
</head>
{% endblock head %}

<body class="html page-pelagos-full">

<header class="max-w-screen-xl mx-auto">
    <div>
        <nav class="border-b border-b-gray-200 z-20 relative mx-auto flex items-center justify-between py-6 px-3.5" aria-label="Global">
            <div class="-ml-1 mt-1 md:-mt-2.5">
                <span class="sr-only">GRIIDC</span>
                    <img width="213" height="59" src="{{asset('build/images/griidc-logo.svg')}}" alt="Site Logo" class="hidden lg:block">
                    <img width="160" height="40" src="{{asset('build/images/griidc-logo.svg')}}" alt="Site Logo" class="block lg:hidden">
            </div>
        </div>
    </nav>
    <div style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px; display: none;"></div>
</div>
</header>

{% block htmlbody %}
    <div id="main-wrapper">
        <div id="pelagos-container" >
            <div id="pelagos-container-row">
                <div id="pelagos-wrapper">
                    <div id="pelagos-wrapper-row">
                        <div id="pelagos-content" class="prose pb-8">
                            <h1 style="margin: 0 auto;">{% block pagetitle %}{% endblock %}</h1>
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock htmlbody %}

{% block javascripts %}
{% endblock %}

</body>
</html>
