<div>
    <fieldset> <!-- Dataset File Transfer Details -->
        <legend class="section-header">Dataset File Transfer Details</legend>

        {{ form_widget(form.datasetFileTransferType) }}

        <div style="background: transparent;" id="filetabs">
            <ul>
                <li datasetFileTransferType="upload"><a href="#tabs-1">Upload</a></li>
                <li datasetFileTransferType="SFTP"><a href="#tabs-2">Large Files</a></li>
                <li datasetFileTransferType="HTTP"><a href="#tabs-3">Enter URL</a></li>
            </ul>
            <label for="files" class="error"></label>
            <div id="tabs-1"> <!-- Upload -->
                You may upload files or folders using Drag and Drop or via the Upload Button.<br>
                <fieldset>
                    <div id="dropzone-uploader">
                        <input id="filesUploaded" name="filesUploaded" type="hidden" value="" class="files">
                        <div id="file-manager-app" data-write-mode="{{ (mode == 'view') ? false : true }}"  data-id="{{ datasetSubmission.id }}"></div>
                    </div>
                </fieldset>
            </div> <!-- tabs-1 -->

            {% set sftpuser=app.user.isPosix() %}
            <div id="tabs-2"> <!-- Upload via SFTP/Ingest-->
                <p>Dataset files that are too large via the normal Upload mechanism can be uploaded to the griidc-ingest
                    server using Globus or SFTP and then the folder selected below.  See your
<a href="{{ path('pelagos_app_ui_person_profile_page', {'id': app.user.id}) }}" TARGET="_NEW">user profile page</a>
                    to enable griidc-ingest access.  For further instructions on using Globus or SFTP, see the
                    <a href="https://griidc.org/data-file-transfer-methods#SFTP" TARGET="_NEW">Data File
                        Transfer Methods</a> help page. </p>
                <div>
                    <div class="sftpYes {{ sftpuser ? 'sftpshow' : 'sftphidden' }}" style="color:black;">
                        Your account has been configured for SFTP/Ingest access.
                    </div>
                    <div class="sftpNo {{ sftpuser ? 'sftphidden' : 'sftpshow' }}" style="color:red;">
                        <p>
                            Your account has not been configured for SFTP/Ingest access.
                            If you wish to use SFTP/Ingest, please request SFTP/Ingest access from profile page:
                            <a href='{{ path('pelagos_app_ui_person_profile_page', {'id': app.user.id}) }}' TARGET="_NEW">Go to Profile Page</a>
                        </p>
                    </div>
                </div>
                <fieldset>
                    <table class="tab-table">
                        <tr>
                            <td>
                                <div class="helpSection">
                                    <img class="info" src="{{ asset('build/images/info32.png') }}" alt="info image">
                                    <div class="tooltiptext">
                                        <p><strong>Dataset File Path:</strong></p>
                                        <p>Select the folder associated with the dataset you uploaded via SFTP/Globus. This list contains the folders directly under your 'incoming' folder.</p>
                                        <p style="color:red">Do not include copyrighted materials (e.g. published journal articles) in your data package.</p>
                                    </div>
                                </div>
                                <div class="fwtextboxcont">
                                    <label for="largeFileUri"> User submitted:</label>
                                    <input type="text" name="largeFileUri" id="largeFileUri" value="{{ form.largeFileUri.vars.value }}" class="valid files">
                                    <hr>
                                    <label for="datasetFilePath">Reviewer Ingest folders: </label>
                                    <select name="datasetFilePath" id="datasetFilePath"
                                            {% if sftpuser == false %}
                                        disabled="disabled"
                                            {% endif %}>
                                    </select>
                                    <button type="button" id="clearLargeFilePath">Clear</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div> <!-- tabs-2 -->

            <div id="tabs-3"> <!-- Remotely Hosted Tab -->
                If your data are remotely hosted at a GRIIDC approved repository, please provide the direct URL to the data. If your data have a DOI, please provide the DOI URL.
                <fieldset>
                    <table class="tab-table">
                        <tr>
                            <td>
                                {{ form_label(form.remotelyHostedUrl) }}
                                {{ form_widget(form.remotelyHostedUrl, { 'attr': {'class': 'files'} }) }}
                                <span class="helpSection">
                                    <img class="info" src="{{ asset('build/images/info32.png') }}">
                                    <div class="tooltiptext">
                                        <p><strong>Remotely Hosted File URL:</strong></p>
                                        <p>If your data are remotely hosted at a GRIIDC approved repository, please provide the direct URL to the data.
                                            If your data have a DOI, please provide the DOI URL. Examples of approved repositories include but are not limited to NCEI, HYCOM, ICPSR, and Zenodo.
                                            A user should not have to search the website to find the data or log in/complete request forms to download the dataset.
                                        </p>
                                        <p style="color:red">Do not include copyrighted materials (e.g. published journal articles) in your data package.</p>
                                    </div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form_label(form.isRemotelyHosted) }}
                                {{ form_widget(form.isRemotelyHosted, { 'attr': {'class': 'remotelyhosted-checkbox'} }) }}
                            </td>
                        </tr>
                        <tr class="row-remotely-hosted-name">
                            <td>
                                {{ form_row(form.remotelyHostedName) }}
                            </td>
                        </tr>
                        <tr class="row-remotely-hosted-description">
                            <td>
                                {{ form_row(form.remotelyHostedDescription) }}
                            </td>
                        </tr>
                        <tr class="row-remotely-hosted-function">
                            <td>
                                {{ form_row(form.remotelyHostedFunction) }}
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div> <!-- tabs-3 -->

        </div> <!-- tabs -->
    </fieldset> <!-- Dataset File Transfer Details -->
    <fieldset>
        <legend class="section-header">{{ form.restrictions.vars.label }}</legend>
        <table class="tab-table">
            <tr>
                <td width="*">
					<span class="helpSection">
					<img class="info" src="{{ asset('build/images/info32.png') }}">
					<div class="tooltiptext">
						If data is available to the general public, select "None". Select "Restricted" if data cannot be shared.
					</div>
				</span>
                    {{ form_widget(form.restrictions) }}
                </td>
            </tr>
        </table>
    </fieldset>
</div>
