<fieldset>
    <legend>Funders</legend>
    <div id="funder-items">
    {% for funder in form.funders %}
        <input type="hidden" id="{{funder.vars.id}}" name="{{funder.vars.full_name}}" value="{{funder.vars.value}}">
    {% endfor %}
    </div>

    <table class="tab-table">
        <tr>
            <td>
				<span class="helpSection">
					<img class="info" src="{{ asset('build/images/info32.png') }}">
					<div class="tooltiptext">
                        Please add one or more funders who have funded this dataset.
					</div>
				</span>
                <div>
                    <div>
                        <label for="funderTagBox" class="emRequired">Add Funder(s)</label>
                        <div id="funderTagBox"></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="helpSection">
					<img class="info" src="{{ asset('build/images/info32.png') }}">
					<div class="tooltiptext">
                        Provide funders here that are not found in the list above.
					</div>
				</span>

				{{ form_row(form.additionalFunders) }}
            </td>
        </tr>



    </table>
</fieldset>
