{% block subject '[GRIIDC] DIF Unlock Requested' %}

{% block body_html %}
Dear {{ recipient.firstName }} {{ recipient.lastName }},<br>
<br>
The GRIIDC has received a request to unlock the Dataset Information Form (DIF) approved for dataset {{ dif.dataset.udi }}. This request was submitted by {{ user.firstName }} {{ user.lastName }} who is a member of {{ user.getResearchGroupNames() | join(', ') }}. The dataset {{ dif.dataset.udi }} is associated with {{ dif.researchGroup.name }}.<br>
<br>
Thank you,<br>
<br>
The GRIIDC Team<br>
<br>
*You are receiving this email because you are identified as a data manager for this research group. If you believe you should not be receiving this email please notify <a href="mailto:help@griidc.org">help@griidc.org</a>.*
{% endblock %}

{% block body_text %}
Dear {{ recipient.firstName }} {{ recipient.lastName }},

The GRIIDC has received a request to unlock the Dataset Information Form (DIF) approved for dataset {{ dif.dataset.udi }}. This request was submitted by {{ user.firstName }} {{ user.lastName }} who is a member of {{ user.getResearchGroupNames() | join(', ') }}. The dataset {{ dif.dataset.udi }} is associated with {{ dif.researchGroup.name }}.

Thank you,

The GRIIDC Team

*You are receiving this email because you are identified as a data manager for this research group. If you believe you should not be receiving this email please notify help@griidc.org.*
{% endblock %}
