{% extends "base.html.twig" %}

{% block title %}Dataset Information Form{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('dif') }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('dif') }}
{% endblock javascripts %}

{% block body %}
  <div class="max-w-screen-xl mx-auto py-6">
        {% for message in app.flashes('error') %}
            <div class="p-4 mb-4 text-sm text-rose-900 rounded-xl bg-rose-50" role="alert">
                <span class="font-medium">{{ message }}</span>
            </div>
        {% endfor %}
        <div>
            <section class="bg-white py-8 antialiased md:py-16">
            <div class="mx-auto max-w-2xl px-4 2xl:px-0">
                <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl mb-4">
                {% if dataset.dif.status == constant('App\\Entity\\DIF::STATUS_SUBMITTED') %}
                    Congratulations!
                {% else %}
                    Success!
                {% endif %}
                </h2>
                <p class="text-gray-500 mb-6 md:mb-8">
                {% if dataset.dif.status == constant('App\\Entity\\DIF::STATUS_SUBMITTED') %}
                    You have successfully identified a dataset in GRIIDC. The GRIIDC identifier for this dataset is
                {% else %}
                    You have saved an identified dataset. The GRIIDC identifier is
                {% endif %}
                    <a href="{{ url('pelagos_app_ui_dataland_default', {'udi': dataset.udi}) }}" class="pagelink">{{ dataset.udi }}</a>. A confirmation email has been sent to your inbox.
                </p>
                <p class="text-gray-500 mb-6 md:mb-8">
                    <span class="font-semibold">Next steps:</span>
                {% if dataset.dif.status == constant('App\\Entity\\DIF::STATUS_SUBMITTED') %}
                    GRIIDC will review the information and contact you with any questions. Once approved, you will receive a confirmation email and will be able to submit data.
                {% else %}
                    <a href="{{ url('pelagos_app_ui_dif_default') }}?udi={{dataset.udi}}" class="pagelink">Submit identified dataset</a>.
                {% endif %}
                </p>
                <div class="space-y-4 sm:space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 mb-6 md:mb-8">
                    <dl class="sm:flex items-center justify-left gap-2">
                        <dt class="font-semibold mb-1 sm:mb-0 text-gray-500">Research Group:</dt>
                        <dd class="font-normal text-gray-500">{{ dataset.researchGroup.name }}</dd>
                    </dl>
                    <dl class="sm:flex items-center justify-left gap-2">
                        <dt class="font-semibold mb-1 sm:mb-0 text-gray-500">Title:</dt>
                        <dd class="font-normal text-gray-500">{{ dataset.dif.title }}</dd>
                    </dl>
                    {# <dl class="sm:flex items-center justify-left gap-2">
                        <dt class="font-semibold mb-1 sm:mb-0 text-gray-500">Status:</dt>
                        <dd class="font-normal text-gray-500">{{ dataset.datasetLifecycleStatus.description }}</dd>
                    </dl> #}
                </div>
                <div class="flex items-center space-x-4">
                    <a href="{{ url('app_ui_dashboard') }}" class="button button-regular button-form">View Datasets</a>
                    <a href="{{ mainsite }}/contact" class="button button-regular button-form">Contact Us</a>
                </div>
            </div>
            </section>
        </div>
    </div>
{% endblock body %}