{% extends "base.html.twig" %}

{% block title %}Dataset Information Form{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('dif') }}

    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />

    <style>
        .ts-control {
            border-style: var(--tw-border-style);
            display: block;
            width: 100%;
            border-radius: 0.5rem;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
            padding: 0.625rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            --tw-text-opacity: 1;
            color: rgb(17 24 39 / var(--tw-text-opacity, 1));
        }

        .ts-control:focus {
            --tw-border-opacity: 1;
            border-color: rgb(59 130 246 / var(--tw-border-opacity, 1));
            --tw-ring-opacity: 1;
            --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity, 1));
        }

        .choice-label {
            font-weight: normal;
            display: inline;
        }

        label.required::before
        {
            font-weight: bold; color:#b81111;
            content:"*";
        }
    </style>

{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('dif') }}

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

    <script>
        function highlightRow(elementId) {
            const element = document.querySelector(elementId);
            if (element) {
                element.scrollIntoView({ behavior: "smooth", block: "start", inline: "start" });
            }
        }
    </script>
{% endblock javascripts %}

{% block body %}
    <div class="max-w-screen-xl mx-auto py-6">
        {% for message in app.flashes('error') %}
            <div class="p-4 mb-4 text-sm text-rose-900 rounded-xl bg-rose-50" role="alert">
                <span class="font-medium">{{ message }}</span>
            </div>
        {% endfor %}

        <h2 class="pb-4">Dataset Information Form</h2>

        <div class="not-prose mb-6">
            <ol class="flex items-center w-full p-3 space-x-2 text-sm font-medium text-center text-gray-500 bg-white sm:text-base sm:p-4 sm:space-x-4 rtl:space-x-reverse">
                <li class="flex items-center text-blue-600">
                    <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-blue-600 rounded-full shrink-0">
                        1
                    </span>
                    <span>Identify Data</span>
                    <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                    </svg>
                </li>
                <li class="flex items-center">
                    <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0">
                        2
                    </span>
                    <span>Submit Data</span>
                </li>
            </ol>

            {# <div class="p-4">
                <span>The GRIIDC dataset submission process consists of two steps, identify and submitting the data.
                In this step you will identify the dataset by selecting the project title from the drop-down menu.
                The red asterisk indicates required fields. Please contact <a class="pagelink" href="mailto:help@griidc.org">help@griidc.org</a> with any questions.</span>
            </div> #}
        </div>

        <div class="flex flex-1 gap-6 not-prose">
            <div class="w-1/6 sticky top-6 h-fit">
                <ol class="space-y-4 w-72">
                    <li onclick="highlightRow('#contact')" style="cursor: pointer;">
                        <div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg" role="alert">
                            <div class="flex items-center justify-between">
                                    <h3 class="font-medium">Dataset Contact</h3>
                            </div>
                        </div>
                    </li>
                    <li onclick="highlightRow('#information')" style="cursor: pointer;">
                        <div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg" role="alert">
                            <div class="flex items-center justify-between">
                                <h3 class="font-medium">Dataset Information</h3>
                            </div>
                        </div>
                    </li>
                    <li onclick="highlightRow('#keywords')" style="cursor: pointer;display: none;">
                        <div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg" role="alert">
                            <div class="flex items-center justify-between">
                                <h3 class="font-medium">Keywords</h3>
                            </div>
                        </div>
                    </li>
                    <li onclick="highlightRow('#extent')" style="cursor: pointer;">
                        <div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg" role="alert">
                            <div class="flex items-center justify-between">
                                <h3 class="font-medium">Data Extent</h3>
                            </div>
                        </div>
                    </li>
                    <li onclick="highlightRow('#submit')" style="cursor: pointer;">
                        <div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg" role="alert">
                            <div class="flex items-center justify-between">
                                <h3 class="font-medium">Submit</h3>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>

            <div id="formcontent" class="w-5/6">
               {% include 'DIF/difForm.v2.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
