{% extends "base.html.twig" %}

{% block title %}Dataset Information Form{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('dif') }}

    <style>
        .ts-control {
            border-style: var(--tw-border-style);
            display: block;
            width: 100%;
            border-radius: 0.5rem;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
            padding: 0.625rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            --tw-text-opacity: 1;
            color: rgb(17 24 39 / var(--tw-text-opacity, 1));
        }

        .ts-control:focus {
            --tw-border-opacity: 1;
            border-color: rgb(59 130 246 / var(--tw-border-opacity, 1));
            --tw-ring-opacity: 1;
            --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity, 1));
        }

        .choice-label {
            font-weight: normal;
            display: inline;
        }


        label.required::before
        {
            font-weight: bold; color:#FF0000;
            content:"*";
        }
    </style>

{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('dif') }}

    <script>
        function highlightRow(elementId) {
            // find element by selector
            const element = document.querySelector(elementId);
            if (element) {
                element.scrollIntoView({ behavior: "smooth", block: "start", inline: "start" });
            }
        }
    </script>

    <script>
        // Source - https://stackoverflow.com/a/46165582
        // Posted by John Doherty
        // Retrieved 2025-12-11, License - CC BY-SA 3.0
        // Modified by Mickel

        /**
        * Is element within visible region of a scrollable container
        * @param {HTMLElement} el - element to test
        * @returns {boolean} true if within visible region, otherwise false
        */
        function isScrolledIntoView(el, comparisonElement) {
            if (comparisonElement) {
                const rect = el.getBoundingClientRect();
                const parentRect = comparisonElement.getBoundingClientRect();
                return (rect.top >= parentRect.top) && (rect.bottom <= parentRect.bottom);
            }
            var rect = el.getBoundingClientRect();
            return (rect.top >= 0) && (rect.bottom <= window.innerHeight);
        }

        document.addEventListener('DOMContentLoaded', function() {
            const element = document.querySelector('#formcontent');
            if (element) {
                element.addEventListener('scroll', function(event) {
                    const formcontent = document.getElementById('formcontent');
                    const elements = document.querySelectorAll('#formcontent .tab-section');
                    elements.forEach(element => {
                        if (isScrolledIntoView(element, formcontent)) {
                            const id = element.id;
                            const section = element.dataset.section;
                            const tab = document.getElementById(section);
                            tab.classList.add('text-blue-600', 'font-semibold');
                        } else {
                            const id = element.id;
                            const section = element.dataset.section;
                            const tab = document.getElementById(section);
                            tab.classList.remove('text-blue-600', 'font-semibold');
                        }
                    });
                });
            }
        });
    </script>
{% endblock javascripts %}

{% block body %}
    <div class="max-w-screen-xl mx-auto py-6">

        {% for message in app.flashes('error') %}
            <div class="p-4 mb-4 text-sm text-rose-900 rounded-xl bg-rose-50" role="alert">
                <span class="font-medium">{{ message }}</span>
            </div>
        {% endfor %}

        <h2 class="pb-4">Dataset Information Form</h2>

        <div class="flex flex-1 gap-6 not-prose">
            <div class="w-1/6 sticky top-6 h-fit">
                <ol class="space-y-4 w-72">
                    <li onclick="highlightRow('#contact')" style="cursor: pointer;">
                        <div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg" role="alert">
                            <div class="flex items-center justify-between">
                                    <h3 class="font-medium">Dataset Contact</h3>
                            </div>
                        </div>
                    </li>
                    <li onclick="highlightRow('#information')" style="cursor: pointer;">
                        <div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg" role="alert">
                            <div class="flex items-center justify-between">
                                <h3 class="font-medium">Dataset Information</h3>
                            </div>
                        </div>
                    </li>
                    <li onclick="highlightRow('#keywords')" style="cursor: pointer;display: none;">
                        <div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg" role="alert">
                            <div class="flex items-center justify-between">
                                <h3 class="font-medium">Keywords</h3>
                            </div>
                        </div>
                    </li>
                    <li onclick="highlightRow('#extent')" style="cursor: pointer;">
                        <div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg" role="alert">
                            <div class="flex items-center justify-between">
                                <h3 class="font-medium">Data Extent</h3>
                            </div>
                        </div>
                    </li>
                    <li onclick="highlightRow('#submit')" style="cursor: pointer;">
                        <div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg" role="alert">
                            <div class="flex items-center justify-between">
                                <h3 class="font-medium">Submit</h3>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>

            <div id="formcontent" class="w-5/6">
               {% include 'DIF/difForm.v2.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
