<form id="difForm"
      action="{{ path('pelagos_api_difs_post') }}"
      method="post"
      researchgroup="{{ path('pelagos_api_research_groups_get_collection') }}"
      personresearchgroup="{{ path('pelagos_api_person_research_groups_get_collection') }}"
      dataset="{{ path('pelagos_api_datasets_get_collection') }}"
>

    <div class="grid gap-4 max-w-[90%] mx-auto">

        <div>
            {{ form_label(form.researchGroup) }}
            <select id="researchGroup" name="{{ form.researchGroup.vars.full_name }}" placeholder="Select Research Group" required="required"></select>
        </div>

        <fieldset class="border border-gray-300 p-4 rounded-lg">
            <legend class="text-lg font-semibold px-2">Contact</legend>
            <div>
                {{ form_row(form.primaryPointOfContact, { attr: { class: 'input-base point-of-contact', disabled: true } }) }}
            </div>

            <div>
                {{ form_row(form.secondaryPointOfContact, { attr: { class: 'input-base point-of-contact', disabled: true } }) }}
            </div>
        </fieldset>

        <div>
            {{ form_label(form.funders) }}
            <select id="funders" name="{{ form.funders.vars.full_name }}" placeholder="Select Funders" multiple"></select>
        </div>

        <div>
            {{ form_row(form.additionalFunders, { attr: { class: 'input-base'} }) }}
        </div>

        <div>
            {{ form_row(form.title, { attr: { class: 'input-base'} }) }}
        </div>

        <div>
            {{ form_row(form.abstract, { attr: { class: 'textarea-base'} }) }}

        <!-- Field of Study Section -->
        <fieldset class="border border-gray-300 p-4 rounded-lg">
             <legend class="text-lg font-semibold px-2">Field of Study</legend>
            {# <label><h2>Field of Study:</h2></label> #}
            <div class="grid grid-cols-3">
                <div>
                    {{ form_label(form.fieldOfStudyEcologicalBiological, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.fieldOfStudyEcologicalBiological, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_label(form.fieldOfStudyPhysicalOceanography, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.fieldOfStudyPhysicalOceanography, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_label(form.fieldOfStudyAtmospheric, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.fieldOfStudyAtmospheric, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_label(form.fieldOfStudyChemical, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.fieldOfStudyChemical, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_label(form.fieldOfStudyHumanHealth, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.fieldOfStudyHumanHealth, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_label(form.fieldOfStudySocialCulturalPolitical, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.fieldOfStudySocialCulturalPolitical, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_label(form.fieldOfStudyEconomics, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.fieldOfStudyEconomics, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div class="grid-col-span-2">
                    {{ form_label(form.fieldOfStudyOther, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.fieldOfStudyOther, { attr: { class: 'input-base'} }) }}
                </div>
            </div>
        </fieldset>
        <!-- Field of Study Section -->

        <fieldset class="border border-gray-300 p-4 rounded-lg">
             <legend class="text-lg font-semibold px-2">Approximate Dataset Size:</legend>
            <div class="flex">
                {% for key, dataSizeItem in form.dataSize.children %}
                    <div class="flex items-center me-4">
                        {{ form_widget(dataSizeItem, { attr: { class: 'radio-base'} }) }}
                        {{ form_label(dataSizeItem, null, { label_attr: { class: 'choice-label'} }) }}
                    </div>
                {% endfor %}
            </div>
        </fieldset>

        <div>
            {{ form_row(form.variablesObserved, { attr: { class: 'textarea-base'} }) }}
        </div>

        <fieldset class="border border-gray-300 p-4 rounded-lg">
             <legend class="text-lg font-semibold px-2">Method(s) for Collecting or Generating the Data</legend>
                <div class="grid grid-cols-3">
                <div>
                    {{ form_label(form.collectionMethodFieldSampling, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.collectionMethodFieldSampling, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_label(form.collectionMethodSimulatedGenerated, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.collectionMethodSimulatedGenerated, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_label(form.collectionMethodLaboratory, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.collectionMethodLaboratory, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_label(form.collectionMethodLiteratureBased, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.collectionMethodLiteratureBased, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_label(form.collectionMethodRemoteSensing, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.collectionMethodRemoteSensing, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div class="grid-col-span-2">
                    {{ form_label(form.collectionMethodOther, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.collectionMethodOther, { attr: { class: 'input-base'} }) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-gray-300 p-4 rounded-lg">
            <legend class="text-lg font-semibold px-2">Estimated Data Sampling/Generation Period</legend>
            <div>
                {{ form_row(form.estimatedStartDate, { attr: { class: 'input-base', 'datepicker': ''} }) }}
            </div>

            <div>
                {{ form_row(form.estimatedEndDate, { attr: { class: 'input-base', 'datepicker': ''} }) }}
            </div>
        </fieldset>

        <fieldset class="border border-gray-300 p-4 rounded-lg">
            <legend class="text-lg font-semibold px-2">Geographic/Study Area</legend>

             <div class="grid-col-span-2">
                    {{ form_row(form.spatialExtentGeometry, { attr: { class: 'input-base'} }) }}
                </div>

                 <div class="grid-col-span-2">
                    {{ form_row(form.spatialExtentDescription, { attr: { class: 'input-base'} }) }}
                </div>
        </fieldset>

        <fieldset class="border border-gray-300 p-4 rounded-lg">
            <legend class="text-lg font-semibold px-2">Identify a National Data Archive for your Dataset, if applicable</legend>
            <div class="grid grid-cols-3">
                <div>
                    {{ form_label(form.nationalDataArchiveNODC, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.nationalDataArchiveNODC, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_label(form.nationalDataArchiveStoret, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.nationalDataArchiveStoret, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_label(form.nationalDataArchiveGBIF, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.nationalDataArchiveGBIF, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_label(form.nationalDataArchiveNCBI, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.nationalDataArchiveNCBI, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_label(form.nationalDataArchiveDataGov, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.nationalDataArchiveDataGov, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div class="grid-col-span-2">
                    {{ form_label(form.nationalDataArchiveOther, null, { label_attr: { class: 'choice-label'} }) }}
                    {{ form_widget(form.nationalDataArchiveOther, { attr: { class: 'input-base'} }) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-gray-300 p-4 rounded-lg">
            <div class="choice-label">
                <label>Will this dataset include any data governed under the Institutional Review
                        Board (IRB) or Health Insurance Portability and Accountability Act of 1996 (HIPAA), or data
                        with other ethical issues?
                </label>
                <div class="flex">
                {% for key, ethicalIssuesItem in form.ethicalIssues.children %}
                    <div class="flex items-center me-4">
                        {{ form_widget(ethicalIssuesItem, { attr: { class: 'radio-base'} }) }}
                        {{ form_label(ethicalIssuesItem, null, { label_attr: { class: 'choice-label'} }) }}
                    </div>
                {% endfor %}
                </div>

                <div class="flex">
                    <div class="flex items-center me-4">
                        {{ form_label(form.ethicalIssuesExplanation, null, { label_attr: { class: 'choice-label'} }) }}
                        {{ form_widget(form.ethicalIssuesExplanation, { attr: { class: 'input-base'} }) }}
                    </div>
                </div>
            </div>
        </fieldset>

        <div>
            {{ form_row(form.remarks, { attr: { class: 'textarea-base'} }) }}
        </div>

        {% if is_granted('ROLE_DATA_REPOSITORY_MANAGER') %}
        <div>
            {{ form_row(form.issueTrackingTicket, { attr: { class: 'input-base'} }) }}
        </div>
        {% endif %}

        <div class="flex justify-between max-w-[90%] mx-auto mb-8 mt-4">
            <button class="button button-regular" type="button">Save and Continue Later</button>

            <button type="submit" class="button button-regular">Submit to GRIIDC</button>

            <button type="reset" class="button button-regular">Reset Form</button>
        </div>
    </div>
</form>
