<form id="difForm"
      action="{{ path('pelagos_api_difs_post') }}"
      method="post"
      researchgroup="{{ path('pelagos_api_research_groups_get_collection') }}"
      personresearchgroup="{{ path('pelagos_api_person_research_groups_get_collection') }}"
      dataset="{{ path('pelagos_api_datasets_get_collection') }}"
>

    <div class="grid gap-4">
        <div>
            {{ form_row(form.researchGroup, { attr: { class: 'input-base'} }) }}
        </div>


        <fieldset class="border border-gray-300 p-4 rounded-lg">
            <legend class="text-lg font-semibold px-2">Contact</legend>
            <div>
                {{ form_row(form.primaryPointOfContact, { attr: { class: 'input-base'} }) }}
            </div>

            <div>
                {{ form_row(form.secondaryPointOfContact, { attr: { class: 'input-base'} }) }}
            </div>
        </fieldset>

        <div>
            {{ form_row(form.funders, { attr: { class: 'input-base'} }) }}
        </div>

        <div>
            {{ form_row(form.additionalFunders, { attr: { class: 'input-base'} }) }}
        </div>

        <div>
            {{ form_row(form.title, { attr: { class: 'input-base'} }) }}
        </div>

        <div>
            {{ form_row(form.abstract, { attr: { class: 'input-base'} }) }}
        </div>


        <!-- Field of Study Section -->
        <fieldset class="border border-gray-300 p-4 rounded-lg">
             <legend class="text-lg font-semibold px-2">Field of Study</legend>
            {# <label><h2>Field of Study:</h2></label> #}
            <div class="grid grid-cols-3">
                <div>
                    {{ form_row(form.fieldOfStudyEcologicalBiological, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_row(form.fieldOfStudyPhysicalOceanography, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_row(form.fieldOfStudyAtmospheric, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_row(form.fieldOfStudyChemical, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_row(form.fieldOfStudyHumanHealth, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_row(form.fieldOfStudySocialCulturalPolitical, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div>
                    {{ form_row(form.fieldOfStudyEconomics, { attr: { class: 'checkbox-base'} }) }}
                </div>

                <div class="grid-col-span-2">
                    {{ form_row(form.fieldOfStudyOther, { attr: { class: 'input-base'} }) }}
                </div>
            </div>
        </fieldset>
        <!-- Field of Study Section -->

        <div>
            {{ form_row(form.dataSize, { attr: { class: 'input-base'} }) }}
        </div>

</form>
