{% extends "base.html.twig" %}

{% block title %}Dataset Information Form{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('dif') }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}

{% block body %}
  <div class="max-w-screen-xl mx-auto py-6">
        {% for message in app.flashes('error') %}
            <div class="p-4 mb-4 text-sm text-red-500 rounded-xl bg-red-100" role="alert">
                <span class="font-medium">{{ message }}</span>
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="p-4 mb-4 text-sm text-green-700 rounded-xl bg-green-100" role="alert">
                <span class="font-medium">Success! {{ message }}</span>
            </div>
        {% endfor %}

        <div>
            <section class="bg-white py-8 antialiased md:py-16">
            <div class="mx-auto max-w-2xl px-4 2xl:px-0">
                <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl mb-4">
                    DRPM Mode
                </h2>
                <p class="text-gray-500 mb-6 md:mb-8">
                    {{ actionDone }}
                    <a href="{{ url('pelagos_app_ui_dataland_default', {'udi': dataset.udi}) }}" class="pagelink">{{ dataset.udi }}</a>.
                </p>
                <div class="space-y-4 sm:space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 mb-6 md:mb-8">
                    <dl class="sm:flex items-center justify-left gap-2">
                        <dt class="font-semibold mb-1 sm:mb-0 text-gray-500">DIF Title:</dt>
                        <dd class="font-normal text-gray-500">{{ dataset.dif.title }}</dd>
                    </dl>
                    <dl class="sm:flex items-center justify-left gap-2">
                        <dt class="font-semibold mb-1 sm:mb-0 text-gray-500">Current DIF Status:</dt>
                        <dd class="font-normal text-gray-500">
                            {% if dataset.dif.status == constant('App\\Entity\\DIF::STATUS_APPROVED') %}
                                Approved
                            {% elseif dataset.dif.status == constant('App\\Entity\\DIF::STATUS_SUBMITTED') %}
                                Submitted
                            {% else %}
                                Unsubmitted
                            {% endif %}
                        </dd>
                    </dl>
                    <dl class="sm:flex items-center justify-left gap-2">
                        <dt class="font-semibold mb-1 sm:mb-0 text-gray-500">Last Modified:</dt>
                        <dd class="font-normal text-gray-500">{{ dataset.dif.modificationTimeStamp|date('Y-m-d H:i:s') }}</dd>
                    </dl>
                </div>
                <div class="flex items-center space-x-4">
                    <a href="{{ path('admin', {'crudControllerFqcn': 'App\\Controller\\Admin\\DIFCrudController', 'crudAction': 'index'}) }}" class="button button-regular button-form">Navigate to list of all DIFs</a>
                    <a href="{{ path('pelagos_app_ui_dif_default', {'udi': dataset.udi}) }}" class="button button-regular button-form">Make more changes to {{ dataset.udi }}</a>
                </div>
            </div>
            </section>
        </div>
    </div>
{% endblock body %}
