{% if isMaintenanceMode() %}
    <header class="max-w-screen-xl mx-auto pt-4">
{% else %}
    <header class="max-w-screen-xl mx-auto">
{% endif %}
    <div class="hidden md:flex">
        <div class="flex w-full justify-end md:py-3.5 md:px-3 0 border-b border-gray-300 border-opacity-30">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 13 16" fill="none">
                <path d="M6.5 8.8C6.25263 8.79715 6.01032 8.86899 5.80567 9.00584C5.60102 9.14269 5.44387 9.33799 5.35536 9.56544C5.26685 9.7929 5.25124 10.0416 5.31062 10.278C5.37 10.5145 5.50153 10.7274 5.6875 10.888V12C5.6875 12.2122 5.7731 12.4157 5.92548 12.5657C6.07785 12.7157 6.28451 12.8 6.5 12.8C6.71549 12.8 6.92215 12.7157 7.07452 12.5657C7.2269 12.4157 7.3125 12.2122 7.3125 12V10.888C7.49847 10.7274 7.63 10.5145 7.68938 10.278C7.74876 10.0416 7.73315 9.7929 7.64464 9.56544C7.55613 9.33799 7.39898 9.14269 7.19433 9.00584C6.98968 8.86899 6.74737 8.79715 6.5 8.8ZM10.5625 5.6V4C10.5625 2.93913 10.1345 1.92172 9.37262 1.17157C8.61075 0.421427 7.57744 0 6.5 0C5.42256 0 4.38925 0.421427 3.62738 1.17157C2.86551 1.92172 2.4375 2.93913 2.4375 4V5.6C1.79103 5.6 1.17105 5.85286 0.713927 6.30294C0.256807 6.75303 0 7.36348 0 8V13.6C0 14.2365 0.256807 14.847 0.713927 15.2971C1.17105 15.7471 1.79103 16 2.4375 16H10.5625C11.209 16 11.829 15.7471 12.2861 15.2971C12.7432 14.847 13 14.2365 13 13.6V8C13 7.36348 12.7432 6.75303 12.2861 6.30294C11.829 5.85286 11.209 5.6 10.5625 5.6ZM4.0625 4C4.0625 3.36348 4.31931 2.75303 4.77643 2.30294C5.23355 1.85286 5.85353 1.6 6.5 1.6C7.14647 1.6 7.76645 1.85286 8.22357 2.30294C8.68069 2.75303 8.9375 3.36348 8.9375 4V5.6H4.0625V4ZM11.375 13.6C11.375 13.8122 11.2894 14.0157 11.137 14.1657C10.9847 14.3157 10.778 14.4 10.5625 14.4H2.4375C2.22201 14.4 2.01535 14.3157 1.86298 14.1657C1.7106 14.0157 1.625 13.8122 1.625 13.6V8C1.625 7.78783 1.7106 7.58434 1.86298 7.43431C2.01535 7.28429 2.22201 7.2 2.4375 7.2H10.5625C10.778 7.2 10.9847 7.28429 11.137 7.43431C11.2894 7.58434 11.375 7.78783 11.375 8V13.6Z" fill="#1A56DB"></path>
            </svg>
            {% if app.user %}
                <div class="block md:ml-2 text-[0.875rem] text-gray-600 leading-[1.25]">
                    <span>Logged in as: {{ app.user.username }}</span>
                    <span class="p-2">|</span>
                    <span class="p-2"><a href="{{ path('app_ui_dashboard')}}">My Dashboard</a></span>
                    <span class="p-2">|</span>
                    <a href="{{ path('security_logout') }}">Log out</a>
                </div>
            {% else %}
                <a href="{{ path('security_login') }}" class="flex items-center text-gray-600">
                <span class="block md:ml-2 text-[0.875rem] leading-[1.25]">Login</span>
            </a>
            {% endif %}

        </div>
    </div>
    <nav class="border-b border-b-gray-200 z-20 relative mx-auto flex items-center justify-between py-6 px-3.5" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="/" class="-ml-1 mt-1 md:-mt-2.5">
                <span class="sr-only">Company name</span>
                <svg id="svg1" width="213" height="59" version="1.1" viewBox="0 0 971.19 235.8" fill="none" class="hidden lg:block" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs id="defs1">
                    <clipPath id="clipPath2">
                    <path id="path2" transform="translate(-120.38 -169.59)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath4">
                    <path id="path4" transform="translate(-182.18 -123.56)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath6">
                    <path id="path6" transform="translate(-195.94 -59.29)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath8">
                    <path id="path8" transform="translate(-145.07 -132.66)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath10">
                    <path id="path10" transform="translate(-120.41 -8.5254)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath12">
                    <path id="path12" transform="translate(-49.476 -153.08)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath14">
                    <path id="path14" transform="translate(-9.9274 -128.8)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath16">
                    <path id="path16" transform="translate(-319.46 -78.832)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath18">
                    <path id="path18" transform="translate(-390.82 -105.12)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath20">
                    <path id="path20" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath22">
                    <path id="path22" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath24">
                    <path id="path24" transform="translate(-597.86 -102.81)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath26">
                    <path id="path26" transform="translate(-705.41 -88.977)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath28">
                    <path id="path28" transform="translate(-235.46 -30.469)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath30">
                    <path id="path30" transform="translate(-248.75 -36.439)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath32">
                    <path id="path32" transform="translate(-259.7 -39.952)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath34">
                    <path id="path34" transform="translate(-277.47 -31.574)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath36">
                    <path id="path36" transform="translate(-285.83 -40.737)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath38">
                    <path id="path38" transform="translate(-297.41 -39.952)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath40">
                    <path id="path40" transform="translate(-305.99 -29.209)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath42">
                    <path id="path42" transform="translate(-328.16 -39.952)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath44">
                    <path id="path44" transform="translate(-345.99 -29.209)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath46">
                    <path id="path46" transform="translate(-360.26 -36.439)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath48">
                    <path id="path48" transform="translate(-380.89 -29.209)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath50">
                    <path id="path50" transform="translate(-392.25 -39.952)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath52">
                    <path id="path52" transform="translate(-408.9 -38.733)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath54">
                    <path id="path54" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath56">
                    <path id="path56" transform="translate(-429.07 -29.209)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath58">
                    <path id="path58" transform="translate(-434.22 -29.209)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath60">
                    <path id="path60" transform="translate(-460.71 -31.574)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath62">
                    <path id="path62" transform="translate(-473.64 -30.469)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath64">
                    <path id="path64" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath66">
                    <path id="path66" transform="translate(-482.37 -29.209)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath68">
                    <path id="path68" transform="translate(-503.76 -29.209)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath70">
                    <path id="path70" transform="translate(-519.45 -30.469)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath72">
                    <path id="path72" transform="translate(-522.33 -29.209)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath74">
                    <path id="path74" transform="translate(-548.76 -36.439)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath76">
                    <path id="path76" transform="translate(-559.72 -39.952)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath78">
                    <path id="path78" transform="translate(-574.27 -40.737)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath80">
                    <path id="path80" transform="translate(-585.84 -39.952)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath82">
                    <path id="path82" transform="translate(-607.66 -38.733)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath84">
                    <path id="path84" transform="translate(-612.73 -29.209)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath86">
                    <path id="path86" transform="translate(-632.37 -38.609)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath88">
                    <path id="path88" transform="translate(-647.38 -36.439)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath90">
                    <path id="path90" transform="translate(-661.69 -31.574)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath92">
                    <path id="path92" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath94">
                    <path id="path94" transform="translate(-675.9 -40.737)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath96">
                    <path id="path96" transform="translate(-692.06 -36.439)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath98">
                    <path id="path98" transform="translate(-705.25 -38.733)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    <clipPath id="clipPath100">
                    <path id="path100" transform="translate(-716.94 -34.972)" d="M 0,176.852 H 728.393 V 0 H 0 Z"/>
                    </clipPath>
                    </defs>
                    <g id="layer-MC0">
                    <path id="path1" transform="matrix(1.3333 0 0 -1.3333 160.5 9.6764)" d="m0 0c-17.849 0-34.343-5.767-47.752-15.518 1.889-0.969 3.827-2.034 5.23-3.592 1.586-1.76 1.982-3.957 1.472-6.238-0.715-3.204-2.737-5.963-3.835-9.028-1.245-3.472-0.407-7.182-2.252-10.496-2.661-4.78-7.486-7.791-11.212-11.638-4.101-4.234-6.898-9.159-6.865-15.175 0.063-11.571 11.62-19.055 12.521-30.435 0.409-5.176-1.097-10.443-0.2-15.584 0.463-2.647 1.667-4.942 3.642-6.776 1.724-1.6 4.053-2.517 5.527-4.391 1.949-2.479 1.726-5.758 1.341-8.711-0.372-2.849-0.329-6.044-1.735-8.625-0.461-0.848-1.041-1.587-1.697-2.253 13.047-8.918 28.819-14.141 45.815-14.141 44.901 0 81.3 36.4 81.3 81.301s-36.399 81.3-81.3 81.3" clip-path="url(#clipPath2)" fill="#fff"/>
                    <path id="path3" transform="matrix(1.3333 0 0 -1.3333 242.9 71.061)" d="m0 0c0.089 0.151 0.189 0.308 0.281 0.461 0.611 1.018 1.269 2.06 1.964 3.113 0.693 1.051 3.482 4.312 3.446 5.527-14.021 22.891-41.423 36.094-69.849 36.094-2.416 0-4.803-0.124-7.163-0.34h-3e-3c-1.16-0.115-2.311-0.261-3.456-0.427-0.383-0.055-0.762-0.122-1.144-0.183-0.76-0.121-1.518-0.249-2.272-0.392-0.447-0.086-0.893-0.178-1.339-0.271-0.681-0.142-1.359-0.293-2.035-0.453-0.465-0.11-0.931-0.221-1.393-0.339-0.655-0.168-1.304-0.349-1.952-0.534-0.459-0.13-0.921-0.255-1.376-0.393-0.704-0.215-1.4-0.448-2.096-0.682-0.829-0.278-1.651-0.571-2.467-0.876-0.522-0.195-1.046-0.385-1.563-0.591-0.6-0.239-1.191-0.493-1.784-0.746-0.411-0.176-0.824-0.351-1.232-0.533-0.624-0.28-1.244-0.57-1.859-0.865-0.347-0.166-0.693-0.336-1.037-0.507-0.656-0.327-1.31-0.659-1.956-1.003-0.244-0.13-0.606-0.149-0.726-0.398-9.709-20.059-15.326-38.918-20.262-44.229-14.574-15.682-5.753-37.031-4.512-40.17 3.213-8.127 2.06-16.662 4.682-21.787 7.974-15.58 2.281-22.964 4.085-24.68 3.828-3.64 18.795-11.316 21.382-13.51v-1e-3c0.03-0.025 0.055-0.046 0.085-0.071 0.454-0.385 0.891-0.753 1.29-1.085 0.031-0.026 0.064-0.053 0.095-0.079 0.428-0.356 0.826-0.684 1.181-0.973 6.65-2.708 13.734-4.542 21.129-5.325 0.166-0.017 0.332-0.033 0.498-0.049 0.731-0.072 1.47-0.118 2.206-0.171 1.653-0.104 3.316-0.171 4.994-0.171 1.15 0 2.294 0.027 3.431 0.076 1.135 0.051 2.263 0.125 3.384 0.223 2e-3 0 4e-3 0 5e-3 1e-3 6.958 0.606 13.659 2.127 19.989 4.443 2.014 1.299 3.804 2.876 4.06 4.554 0.438 2.861-2.866 3.007-2.866 3.007 0.224 1.697 5.786 13.273 3.158 14.413-0.486 0.211-0.706 0.789-0.495 1.283 0.647 1.518 1.085 2.748 2.264 0.988 0.163-0.241 0.534-0.15 0.577 0.139 0.398 2.649 1.553 10.359 1.553 10.359 1.841 2.293 5.696 6.077 3.793 9.424-1.247 2.141-2.871 1.989-4.727 0.826-1.973-0.946-3.623 1.234-5.501-0.7-12.522-1.952-9.617-5.403-12.87-14.96-0.322-0.948-1.035-1.725-1.959-2.071-6.45-2.415-14.448-3.951-21.148-2.914-1.171 1.255-5.687 3.423-8.453 4.295-0.987 0.311-1.739 1.117-2.048 2.123-0.737 2.397-2.337 4.898-3.564 7.431-0.069 0.13-0.126 0.269-0.19 0.403-0.162 0.346-0.318 0.692-0.46 1.039-1.299 3.422-1.572 7.716-3.706 12.158-1.757 7.324 1.381 17.86 4.852 23.388 0.432 0.688 0.515 1.548 0.191 2.295-6.858 15.854 15.669 23.866 27.797 23.871 12.349-2.249-1.768-8.024 18.983-5.061-0.418 5.56-3.442 6.205-8.184 5.947 1.361 4.972 8.945 0.162 12.693 1.12 13.763 4.39 14.658-8.502 22.287-1.073 1e-3 1e-3 0.775-2.774 1.276-4.569 0.189-0.676 0.807-1.067 1.496-1.096 0.889-0.037 2.278-0.822 3.986-4.219-1.635 3.252 2.015-10.948 3.44-14.053 5.324-5.589 3.214-10.756 8.98-6.876 5.44 11.199-11.716 28.225-7.866 40.425" clip-path="url(#clipPath4)" fill="#24acdc"/>
                    <path id="path5" transform="matrix(1.3333 0 0 -1.3333 261.26 156.75)" d="m0 0c0.808 2.373 1.147 6.239 2.375 8.476-3.929 1.65-11.023 4.598-13.813 2.148-1.8 0.439-5.12 1.973-6.096-0.663-4.013 0.343-12.988-3.79-7.741-8.349 1.086 0.849 3.239 2.735 4.733 2.149 1.056 3.662 4.467 4.558 7.745 4.058 1.36-2.061-1.754-0.818-2.542-1.15-0.767-4.984 5.808 0.045 7.739-3.295 2.042 1.63 6.124-2.62 7.6-3.374" clip-path="url(#clipPath6)" fill="#24acdc"/>
                    <path id="path7" transform="matrix(1.3333 0 0 -1.3333 193.43 58.927)" d="m0 0c-2 2.083-3.646 2.083-3.646 2.083h-22.25c-0.277 0-0.546 0.035-0.813 0.071-0.177 0.027-0.353 0.057-0.526 0.096-2.269 0.512-4.059 2.276-4.594 4.539-2e-3 7e-3 -3e-3 0.014-4e-3 0.021-6e-3 1e-3 -0.012 5e-3 -0.018 6e-3 6e-3 -1e-3 0.011-2e-3 0.017-3e-3 -0.104 0.445-0.174 0.904-0.174 1.382 0 3.375 2.737 6.111 6.112 6.111h9.586c2.42 4.902 4.975 9.827 4.849 10.55-5.447-0.028-14.068-1.702-13.815 4.478 0.183 4.492 6.103 5.113 19.175 4.4-6.224 1.536-12.728 2.36-19.428 2.36-2.462 0-4.896-0.124-7.302-0.339-17.049-1.656-32.747-7.79-45.04-18.36-0.297-0.13 1.676-1.57 1.72-1.577l2.705-0.465c2.687-0.676 2.525-13.957-0.851-13.957l-12.085-5.258s0.17-7.877 0.17-11.253c0-1.107 4.086-10.042-3.917-19.063-7.751-8.737 1.846-43.295 3.237-44.255 12.085-8.34 4.766-25.701 11.226-29.387-0.353-4e-3 3.972-3.047 5.755-4.242-0.106-0.258 12.864-7.012 12.864-7.012 0.699-0.303 1.365-0.331 0.959 0h25.315c3.375 0 6.111 2.558 6.111 5.715 0 3.156-2.736 5.714-6.111 5.714h-6.686c-0.046-0.022-10.634-0.044-20.954-0.066-2.201-5e-3 -4.381-9e-3 -6.451-0.014-2.356 0.949-4.038 3.244-4.038 5.974 0 2.965 1.974 5.437 4.651 6.205h-0.722c-0.536 2.995-1.091 6.336-2.672 9.635-0.516 1.077-0.97 1.945-1.375 2.685l4.337 0.019c-3.346 0.033-6.051 2.745-6.051 6.093 0 3.368 2.737 6.099 6.112 6.099h0.311c1e-3 2e-3 1e-3 4e-3 1e-3 6e-3l-0.296 0.019c0 6e-3 -1e-3 0.014-1e-3 0.021 3.275 0.113 5.901 2.781 5.901 6.078 0 3.368-2.736 6.099-6.111 6.099h-2.07c-0.473 1.673-0.83 2.809-0.823 2.832-6e-3 1.046-0.229 1.266-0.211 2.291-0.3 1.81-1.973 0.632-1.659 2.528 0.131 0.646-2.697 1.443-1.501 2.607 0.126 0.122 0.056 0.377 0.185 0.5 0.065 0.063 3.846 0.533 7.545 0.97-1.523 0.266-2.775 1.113-3.628 2.297-0.76 1.055-1.206 2.375-1.206 3.824 0 1.597 0.607 3.038 1.576 4.14 0.789 0.896 1.828 1.547 3 1.864h8.202c0.564 0 1.102 0.093 1.624 0.226 2.807 0.715 4.89 3.208 4.89 6.201 0 3.127-2.267 5.727-5.267 6.302 0 4e-3 -1e-3 9e-3 -1e-3 0.013h-0.137c-0.362 0.062-0.729 0.111-1.109 0.111h-0.169c-2.89 0.049-5.017 3.001-5.017 6.001 0 3.375 2.552 5.736 5.927 5.736l6.695 0.057 34.565 0.319h8.705c3.376 0 6.112 2.736 6.112 6.111 0 1.473-0.465 2.876-1.411 3.862" clip-path="url(#clipPath8)" fill="#1a76bd"/>
                    <path id="path9" transform="matrix(1.3333 0 0 -1.3333 160.55 224.44)" d="m0 0c-17.582 0-34.431 5.813-48.211 16.439-2.388 1.799-4.431 3.067-4.431 5.862 0 3.382 2.735 6.124 6.11 6.125h14.314c3.375 0 6.112 2.787 6.112 6.226 0 3.438-2.737 6.226-6.112 6.226h-20.977c-4e-3 9e-3 -7e-3 0.019-0.011 0.028h1.205c-0.429 0-0.846 0.044-1.251 0.119-0.19 0.034-0.366 0.098-0.549 0.148-0.205 0.055-0.412 0.104-0.608 0.177-0.182 0.068-0.351 0.157-0.524 0.239-0.182 0.087-0.364 0.172-0.535 0.273-0.161 0.095-0.31 0.204-0.461 0.311-0.165 0.118-0.327 0.239-0.479 0.371-0.134 0.116-0.261 0.239-0.384 0.366-0.146 0.15-0.284 0.306-0.413 0.47-0.105 0.13-0.207 0.263-0.3 0.401-0.123 0.185-0.23 0.38-0.333 0.577-0.071 0.136-0.146 0.27-0.207 0.412-0.097 0.231-0.169 0.473-0.236 0.716-0.035 0.125-0.082 0.245-0.108 0.373-0.078 0.377-0.125 0.766-0.125 1.165 0 0.438 0.053 0.863 0.147 1.273 0.019 0.082 0.056 0.156 0.078 0.236 0.091 0.331 0.197 0.657 0.344 0.964 0.027 0.057 0.065 0.108 0.094 0.165 0.167 0.32 0.354 0.63 0.575 0.916 0.029 0.038 0.064 0.071 0.093 0.108 0.233 0.287 0.49 0.558 0.772 0.804 1.132 0.982 2.623 1.607 4.28 1.639h-0.298c2.935 0.456 5.187 2.972 5.187 6.034 0 2.984-2.133 5.463-4.956 6.011h11.43c3.385 0 6.129 2.744 6.129 6.129 0 3.386-2.744 6.13-6.129 6.13h-17.14c-3.375 0-6.111 2.749-6.111 6.139 0 3.391 2.735 6.139 6.11 6.14h16.554c3.376 0 6.112 2.736 6.112 6.112 0 3.375-2.736 6.111-6.112 6.111h-8.993c-3.375 0-6.111 2.736-6.111 6.112 0 3.375 2.736 6.111 6.111 6.111h25.054c3.376 0 6.112 2.736 6.112 6.112 0 3.375-2.736 6.111-6.111 6.111h-1e-3 -7.623c1e-3 0.01 0 0.02 1e-3 0.03-3.233 0.16-5.811 2.809-5.811 6.082 0 1.99 0.966 3.741 2.44 4.857 1.024 0.776 2.287 1.254 3.672 1.254l45.416-0.166c3.375 0 6.112 2.736 6.112 6.112 0 3.375-2.737 6.111-6.112 6.111h-46.506c10.429 4.936 21.831 7.51 33.705 7.51 43.608 0 79.085-35.478 79.085-79.086 0-43.607-35.477-79.085-79.085-79.085m0 162.81c-15.332 0-30.408-4.263-43.426-12.148h-15.55c-3.376 0-6.112-2.736-6.112-6.111 0-3.376 2.736-6.112 6.112-6.112h3.727c-5e-3 -4e-3 -0.01-8e-3 -0.015-0.013 0.101-0.022 0.199-0.055 0.299-0.078 0.044-7e-3 0.09-6e-3 0.134-0.013-7e-3 -6e-3 -0.012-0.012-0.018-0.018 2.687-0.675 5.077-3.095 5.077-5.906 0-3.329-2.736-6.028-6.111-6.029h-22.215-1e-3c-3.375 0-6.11-2.736-6.11-6.111 0-3.376 2.736-6.112 6.111-6.112h7.502c3.375 0 6.112-2.736 6.112-6.111 0-3.376-2.737-6.112-6.112-6.112h-23.562c-0.061 0-0.118-0.016-0.178-0.018-3.291-0.096-5.933-2.779-5.933-6.093 0-3.376 2.735-6.112 6.111-6.112h13.631l2.313-0.035c3.375 0 6.111-2.737 6.111-6.112s-2.736-6.111-6.111-6.111h-2.958v-0.021h-28.692c-3.385 0-6.129-2.744-6.129-6.13 0-2.898 2.018-5.313 4.722-5.951h35.427c0.331 0 0.649-0.047 0.966-0.097 6e-3 -1e-3 0.012-1e-3 0.018-2e-3 0.141-0.025 0.283-0.046 0.421-0.079 2.695-0.636 4.707-3.044 4.707-5.933 0-3.376-2.736-6.112-6.112-6.112h-23.307c-3.702 0-6.703-2.736-6.703-6.111 0-3.376 3.001-6.112 6.703-6.112h26.395c1e-3 0 1e-3 -1e-3 1e-3 -1e-3h10.237c3.376 0 6.112-2.736 6.112-6.112v-0.256c0-3.375-2.736-6.111-6.112-6.111h-16.802c-2.453-0.795-4.238-3.071-4.238-5.788 0-3.376 2.736-6.112 6.111-6.112h21.838c15.343-13.65 35.008-21.164 55.609-21.164 46.165 0 83.724 37.558 83.724 83.723 0 46.166-37.559 83.724-83.724 83.724" clip-path="url(#clipPath10)" fill="#2a3f96"/>
                    <path id="path11" transform="matrix(1.3333 0 0 -1.3333 65.967 31.703)" d="m0 0c0 2.833-1.937 5.192-4.551 5.885h-9.013c-2.614-0.693-4.551-3.052-4.551-5.885 0-0.039 0.011-0.075 0.012-0.113-1e-3 -0.039-0.012-0.074-0.012-0.113 0-2.833 1.937-5.193 4.552-5.885h9.012c2.614 0.692 4.551 3.052 4.551 5.885 0 0.039-0.011 0.074-0.011 0.113 0 0.038 0.011 0.074 0.011 0.113" clip-path="url(#clipPath12)" fill="#2a3f96"/>
                    <path id="path13" transform="matrix(1.3333 0 0 -1.3333 13.237 64.076)" d="m0 0c0-3.375 2.736-6.111 6.111-6.111h11.16c3.375 0 6.111 2.736 6.111 6.111s-2.735 6.111-6.11 6.111h-11.161c-3.375 0-6.111-2.736-6.111-6.111" clip-path="url(#clipPath14)" fill="#2a3f96"/>
                    <path id="path15" transform="matrix(1.3333 0 0 -1.3333 425.95 130.69)" d="m0 0c-8.07-10.951-23.978-18.905-45.88-18.905-32.393 0-52.105 15.908-52.105 42.883 0 26.974 19.712 42.883 52.105 42.883 19.828 0 33.891-7.493 41.961-15.332l-14.41-10.49c-7.032 6.916-15.217 10.144-27.436 10.144-21.096 0-33.43-9.222-33.43-27.205s12.68-27.205 34.122-27.205c12.104 0 22.018 2.651 27.781 9.568v7.839h-30.433v14.985h47.725z" clip-path="url(#clipPath16)" fill="#2a3f96"/>
                    <path id="path17" transform="matrix(1.3333 0 0 -1.3333 521.09 95.648)" d="m0 0c9.683 0 16.83 2.305 16.83 11.296 0 8.993-7.147 11.298-16.83 11.298h-36.428v-22.594zm16.024-42.653-23.171 27.436h-29.165v-27.436h-18.329v80.694h55.679c19.712 0 34.582-9.107 34.582-26.629 0-13.718-9.106-22.249-22.479-25.361l24.901-28.704z" clip-path="url(#clipPath18)" fill="#2a3f96"/>
                    <path id="path19" transform="matrix(1.3333 0 0 -1.3333 0 235.8)" d="m443.62 143.16h18.444v-80.694h-18.444z" clip-path="url(#clipPath20)" fill="#2a3f96"/>
                    <path id="path21" transform="matrix(1.3333 0 0 -1.3333 0 235.8)" d="m483.73 143.16h18.444v-80.694h-18.444z" clip-path="url(#clipPath22)" fill="#2a3f96"/>
                    <path id="path23" transform="matrix(1.3333 0 0 -1.3333 797.14 98.723)" d="m0 0c0 16.6-13.142 24.669-32.508 24.669h-23.056v-49.338h23.056c19.366 0 32.508 8.069 32.508 24.669m18.79 0c0-25.13-19.482-40.346-49.915-40.346h-42.883v80.693h42.883c30.433 0 49.915-15.216 49.915-40.347" clip-path="url(#clipPath24)" fill="#2a3f96"/>
                    <path id="path25" transform="matrix(1.3333 0 0 -1.3333 940.55 117.17)" d="m0 0 16.831-8.415c-7.609-11.413-23.171-20.635-44.266-20.635-30.318 0-50.031 16.024-50.031 42.883s19.713 42.883 50.837 42.883c20.289 0 35.851-9.338 43.229-20.519l-16.946-8.416c-5.763 8.993-14.524 13.026-26.514 13.026-19.136 0-31.816-9.221-31.816-26.974s12.68-26.975 31.816-26.975c11.99 0 20.866 3.92 26.86 13.142" clip-path="url(#clipPath26)" fill="#2a3f96"/>
                    <path id="path27" transform="matrix(1.3333 0 0 -1.3333 313.95 195.18)" d="m0 0c-0.365-0.316-0.764-0.588-1.197-0.815-0.434-0.228-0.908-0.4-1.424-0.517-0.515-0.117-1.093-0.176-1.734-0.176-0.968 0-1.866 0.194-2.696 0.578-0.829 0.386-1.546 0.913-2.149 1.581s-1.074 1.456-1.414 2.366c-0.339 0.909-0.509 1.879-0.509 2.913v0.041c0 1.033 0.17 2.001 0.509 2.903 0.34 0.901 0.811 1.693 1.414 2.375s1.326 1.22 2.168 1.612c0.842 0.393 1.772 0.589 2.79 0.589 0.616 0 1.179-0.055 1.687-0.166 0.51-0.11 0.972-0.262 1.386-0.454 0.415-0.193 0.798-0.427 1.15-0.702 0.352-0.276 0.679-0.579 0.98-0.909l-1.847-2.335c-0.516 0.51-1.04 0.909-1.574 1.198-0.535 0.289-1.135 0.434-1.801 0.434-0.553 0-1.065-0.118-1.536-0.351-0.472-0.234-0.877-0.558-1.216-0.972-0.34-0.413-0.603-0.891-0.792-1.435s-0.283-1.126-0.283-1.745v-0.042c0-0.619 0.094-1.205 0.283-1.756s0.45-1.033 0.783-1.446c0.333-0.414 0.735-0.741 1.206-0.982s0.99-0.361 1.555-0.361c0.755 0 1.392 0.151 1.914 0.455 0.521 0.303 1.04 0.716 1.555 1.239l1.848-2.045c-0.34-0.4-0.692-0.758-1.056-1.075" clip-path="url(#clipPath28)" fill="#1a76bd"/>
                    <path id="path29" transform="matrix(1.3333 0 0 -1.3333 331.67 187.22)" d="m0 0c0 0.62-0.098 1.205-0.292 1.756-0.195 0.551-0.472 1.033-0.83 1.446s-0.782 0.74-1.273 0.982c-0.49 0.241-1.024 0.361-1.602 0.361-0.591 0-1.128-0.117-1.612-0.351s-0.898-0.557-1.244-0.971c-0.346-0.413-0.616-0.892-0.811-1.436s-0.292-1.126-0.292-1.745v-0.042c0-0.619 0.097-1.205 0.292-1.756s0.472-1.033 0.83-1.446 0.779-0.74 1.263-0.982c0.484-0.241 1.021-0.361 1.612-0.361 0.578 0 1.112 0.117 1.602 0.352 0.49 0.233 0.908 0.557 1.254 0.97s0.616 0.892 0.811 1.436c0.194 0.544 0.292 1.126 0.292 1.746zm2.507-2.902c-0.352-0.903-0.839-1.695-1.461-2.376-0.622-0.682-1.364-1.219-2.224-1.612-0.862-0.392-1.801-0.589-2.819-0.589s-1.954 0.197-2.809 0.589c-0.855 0.393-1.593 0.923-2.215 1.591s-1.106 1.453-1.452 2.356c-0.345 0.901-0.518 1.869-0.518 2.902v0.041c0 1.033 0.176 2.001 0.528 2.903s0.838 1.694 1.461 2.375c0.622 0.682 1.363 1.22 2.225 1.613 0.86 0.392 1.8 0.588 2.818 0.588s1.954-0.196 2.809-0.588c0.855-0.393 1.593-0.923 2.215-1.591 0.622-0.669 1.106-1.454 1.452-2.356 0.345-0.902 0.518-1.87 0.518-2.902v-0.042c0-1.032-0.176-2-0.528-2.902" clip-path="url(#clipPath30)" fill="#1a76bd"/>
                    <path id="path31" transform="matrix(1.3333 0 0 -1.3333 346.27 182.53)" d="m0 0-1.753-4.69h3.506zm3.997-10.743-1.207 3.243h-5.581l-1.206-3.243h-2.96l5.656 14.565h2.677l5.656-14.565z" clip-path="url(#clipPath32)" fill="#1a76bd"/>
                    <path id="path33" transform="matrix(1.3333 0 0 -1.3333 369.95 193.7)" d="m0 0c-0.237-0.558-0.568-1.026-0.993-1.404-0.424-0.379-0.931-0.669-1.52-0.868-0.589-0.2-1.241-0.3-1.957-0.3-1.006 0-1.992 0.189-2.96 0.568s-1.848 0.961-2.639 1.746l1.715 2.252c0.604-0.537 1.222-0.965 1.857-1.281 0.634-0.317 1.329-0.475 2.083-0.475 0.603 0 1.071 0.12 1.405 0.362 0.332 0.24 0.499 0.574 0.499 1.002v0.041c0 0.207-0.034 0.388-0.104 0.547-0.069 0.159-0.201 0.306-0.397 0.445-0.195 0.136-0.466 0.274-0.813 0.413-0.346 0.137-0.797 0.282-1.351 0.433-0.668 0.179-1.273 0.379-1.815 0.599-0.542 0.221-1.002 0.492-1.38 0.816s-0.671 0.727-0.879 1.209-0.312 1.082-0.312 1.797v0.041c0 0.661 0.113 1.257 0.337 1.787 0.225 0.531 0.54 0.989 0.946 1.374 0.406 0.386 0.891 0.683 1.454 0.889 0.563 0.207 1.185 0.31 1.864 0.31 0.967 0 1.856-0.158 2.667-0.475s1.555-0.772 2.234-1.364l-1.508-2.397c-0.591 0.442-1.169 0.789-1.735 1.044-0.565 0.254-1.131 0.382-1.697 0.382-0.565 0-0.989-0.121-1.272-0.361-0.283-0.241-0.424-0.541-0.424-0.899v-0.042c0-0.234 0.041-0.437 0.123-0.609s0.23-0.327 0.444-0.465 0.507-0.268 0.879-0.392 0.841-0.269 1.408-0.434c0.668-0.193 1.263-0.41 1.787-0.65 0.522-0.242 0.963-0.531 1.323-0.869 0.359-0.337 0.63-0.733 0.813-1.187 0.182-0.455 0.274-0.999 0.274-1.633v-0.041c0-0.716-0.119-1.353-0.356-1.911" clip-path="url(#clipPath34)" fill="#1a76bd"/>
                    <path id="path35" transform="matrix(1.3333 0 0 -1.3333 381.11 181.49)" d="m0 0v-11.528h-2.903v11.528h-4.015v2.934h10.934v-2.934z" clip-path="url(#clipPath36)" fill="#1a76bd"/>
                    <path id="path37" transform="matrix(1.3333 0 0 -1.3333 396.55 182.53)" d="m0 0-1.753-4.69h3.506zm3.997-10.743-1.207 3.243h-5.581l-1.206-3.243h-2.96l5.656 14.565h2.677l5.656-14.565z" clip-path="url(#clipPath38)" fill="#1a76bd"/>
                    <path id="path39" transform="matrix(1.3333 0 0 -1.3333 407.98 196.86)" d="m0 0v14.462h2.903v-11.59h6.58v-2.872z" clip-path="url(#clipPath40)" fill="#1a76bd"/>
                    <path id="path41" transform="matrix(1.3333 0 0 -1.3333 437.54 182.53)" d="m0 0-1.753-4.69h3.506zm3.997-10.743-1.207 3.243h-5.581l-1.206-3.243h-2.96l5.656 14.565h2.677l5.656-14.565z" clip-path="url(#clipPath42)" fill="#1a76bd"/>
                    <path id="path43" transform="matrix(1.3333 0 0 -1.3333 461.32 196.86)" d="m0 0-6.391 9.193v-9.193h-2.865v14.462h2.677l6.183-8.904v8.904h2.866v-14.462z" clip-path="url(#clipPath44)" fill="#1a76bd"/>
                    <path id="path45" transform="matrix(1.3333 0 0 -1.3333 480.35 187.22)" d="m0 0c0 0.634-0.098 1.219-0.292 1.756-0.195 0.538-0.465 0.999-0.811 1.385-0.346 0.385-0.763 0.684-1.253 0.898-0.491 0.214-1.031 0.32-1.622 0.32h-2.243v-8.717h2.243c0.591 0 1.131 0.102 1.622 0.309 0.49 0.206 0.907 0.503 1.253 0.889 0.346 0.385 0.616 0.84 0.811 1.363 0.194 0.524 0.292 1.109 0.292 1.756zm2.526-2.851c-0.339-0.881-0.82-1.646-1.442-2.293s-1.364-1.157-2.225-1.529c-0.86-0.372-1.806-0.557-2.837-0.557h-5.147v14.461h5.147c1.031 0 1.977-0.182 2.837-0.547 0.861-0.366 1.603-0.872 2.225-1.519s1.103-1.408 1.442-2.283c0.34-0.874 0.509-1.821 0.509-2.84v-0.042c0-1.02-0.169-1.97-0.509-2.851" clip-path="url(#clipPath46)" fill="#1a76bd"/>
                    <path id="path47" transform="matrix(1.3333 0 0 -1.3333 507.85 196.86)" d="m0 0v9.441l-3.715-6.176h-0.075l-3.677 6.114v-9.379h-2.865v14.462h3.129l3.469-6.115 3.468 6.115h3.131v-14.462z" clip-path="url(#clipPath48)" fill="#1a76bd"/>
                    <path id="path49" transform="matrix(1.3333 0 0 -1.3333 523 182.53)" d="m0 0-1.754-4.69h3.507zm3.996-10.743-1.206 3.243h-5.58l-1.207-3.243h-2.96l5.656 14.565h2.677l5.655-14.565z" clip-path="url(#clipPath50)" fill="#1a76bd"/>
                    <path id="path51" transform="matrix(1.3333 0 0 -1.3333 545.2 184.16)" d="m0 0c0 0.688-0.201 1.204-0.604 1.549-0.402 0.345-0.96 0.516-1.677 0.516h-2.884v-4.152h2.94c0.717 0 1.266 0.186 1.65 0.558s0.575 0.868 0.575 1.487zm-0.057-9.524-2.828 4.628h-2.28v-4.628h-2.903v14.461h6.032c1.571 0 2.793-0.42 3.667-1.26 0.873-0.84 1.31-2.011 1.31-3.512v-0.042c0-1.17-0.261-2.124-0.783-2.861-0.521-0.737-1.203-1.278-2.045-1.621l3.224-5.165z" clip-path="url(#clipPath52)" fill="#1a76bd"/>
                    <path id="path53" transform="matrix(1.3333 0 0 -1.3333 0 235.8)" d="m414.1 43.671h2.903v-14.462h-2.903z" clip-path="url(#clipPath54)" fill="#1a76bd"/>
                    <path id="path55" transform="matrix(1.3333 0 0 -1.3333 572.09 196.86)" d="m0 0-6.391 9.193v-9.193h-2.865v14.462h2.677l6.183-8.904v8.904h2.866v-14.462z" clip-path="url(#clipPath56)" fill="#1a76bd"/>
                    <path id="path57" transform="matrix(1.3333 0 0 -1.3333 578.96 196.86)" d="m0 0v14.462h9.935v-2.831h-7.07v-2.934h6.221v-2.83h-6.221v-3.037h7.164v-2.83z" clip-path="url(#clipPath58)" fill="#1a76bd"/>
                    <path id="path59" transform="matrix(1.3333 0 0 -1.3333 614.28 193.7)" d="m0 0c-0.237-0.558-0.567-1.026-0.992-1.404-0.425-0.379-0.932-0.669-1.521-0.868-0.589-0.2-1.241-0.3-1.957-0.3-1.006 0-1.992 0.189-2.96 0.568-0.967 0.379-1.847 0.961-2.639 1.746l1.715 2.252c0.604-0.537 1.222-0.965 1.858-1.281 0.634-0.317 1.329-0.475 2.083-0.475 0.602 0 1.071 0.12 1.404 0.362 0.333 0.24 0.499 0.574 0.499 1.002v0.041c0 0.207-0.034 0.388-0.103 0.547-0.07 0.159-0.202 0.306-0.398 0.445-0.195 0.136-0.466 0.274-0.812 0.413-0.347 0.137-0.797 0.282-1.352 0.433-0.668 0.179-1.272 0.379-1.814 0.599-0.542 0.221-1.002 0.492-1.38 0.816s-0.671 0.727-0.879 1.209-0.312 1.082-0.312 1.797v0.041c0 0.661 0.112 1.257 0.337 1.787 0.225 0.531 0.539 0.989 0.946 1.374 0.406 0.386 0.89 0.683 1.454 0.889 0.563 0.207 1.184 0.31 1.863 0.31 0.968 0 1.856-0.158 2.667-0.475 0.812-0.317 1.556-0.772 2.234-1.364l-1.507-2.397c-0.591 0.442-1.169 0.789-1.735 1.044-0.565 0.254-1.132 0.382-1.697 0.382s-0.989-0.121-1.273-0.361c-0.282-0.241-0.423-0.541-0.423-0.899v-0.042c0-0.234 0.041-0.437 0.123-0.609 0.081-0.172 0.229-0.327 0.443-0.465 0.215-0.138 0.508-0.268 0.88-0.392 0.371-0.124 0.841-0.269 1.408-0.434 0.667-0.193 1.263-0.41 1.786-0.65 0.523-0.242 0.964-0.531 1.324-0.869 0.358-0.337 0.629-0.733 0.812-1.187 0.183-0.455 0.274-0.999 0.274-1.633v-0.041c0-0.716-0.119-1.353-0.356-1.911" clip-path="url(#clipPath60)" fill="#1a76bd"/>
                    <path id="path61" transform="matrix(1.3333 0 0 -1.3333 631.52 195.18)" d="m0 0c-0.364-0.316-0.764-0.588-1.197-0.815-0.434-0.228-0.908-0.4-1.423-0.517-0.516-0.117-1.094-0.176-1.734-0.176-0.969 0-1.868 0.194-2.697 0.578-0.829 0.386-1.546 0.913-2.149 1.581-0.604 0.668-1.074 1.456-1.414 2.366-0.339 0.909-0.509 1.879-0.509 2.913v0.041c0 1.033 0.17 2.001 0.509 2.903 0.34 0.901 0.81 1.693 1.414 2.375 0.603 0.682 1.326 1.22 2.168 1.612 0.842 0.393 1.772 0.589 2.79 0.589 0.616 0 1.179-0.055 1.687-0.166 0.509-0.11 0.971-0.262 1.386-0.454 0.415-0.193 0.798-0.427 1.15-0.702 0.352-0.276 0.679-0.579 0.98-0.909l-1.847-2.335c-0.515 0.51-1.04 0.909-1.574 1.198-0.535 0.289-1.135 0.434-1.801 0.434-0.552 0-1.065-0.118-1.536-0.351-0.472-0.234-0.877-0.558-1.216-0.972-0.34-0.413-0.603-0.891-0.792-1.435-0.188-0.544-0.283-1.126-0.283-1.745v-0.042c0-0.619 0.095-1.205 0.283-1.756 0.189-0.551 0.45-1.033 0.783-1.446 0.333-0.414 0.735-0.741 1.206-0.982s0.99-0.361 1.555-0.361c0.754 0 1.392 0.151 1.913 0.455 0.522 0.303 1.04 0.716 1.556 1.239l1.848-2.045c-0.339-0.4-0.692-0.758-1.056-1.075" clip-path="url(#clipPath62)" fill="#1a76bd"/>
                    <path id="path63" transform="matrix(1.3333 0 0 -1.3333 0 235.8)" d="m476.65 43.671h2.903v-14.462h-2.903z" clip-path="url(#clipPath64)" fill="#1a76bd"/>
                    <path id="path65" transform="matrix(1.3333 0 0 -1.3333 643.16 196.86)" d="m0 0v14.462h9.935v-2.831h-7.07v-2.934h6.221v-2.83h-6.221v-3.037h7.164v-2.83z" clip-path="url(#clipPath66)" fill="#1a76bd"/>
                    <path id="path67" transform="matrix(1.3333 0 0 -1.3333 671.68 196.86)" d="m0 0-6.391 9.193v-9.193h-2.865v14.462h2.677l6.183-8.904v8.904h2.866v-14.462z" clip-path="url(#clipPath68)" fill="#1a76bd"/>
                    <path id="path69" transform="matrix(1.3333 0 0 -1.3333 692.6 195.18)" d="m0 0c-0.364-0.316-0.764-0.588-1.197-0.815-0.434-0.228-0.908-0.4-1.423-0.517-0.516-0.117-1.094-0.176-1.734-0.176-0.969 0-1.868 0.194-2.697 0.578-0.829 0.386-1.546 0.913-2.149 1.581-0.604 0.668-1.074 1.456-1.414 2.366-0.339 0.909-0.509 1.879-0.509 2.913v0.041c0 1.033 0.17 2.001 0.509 2.903 0.34 0.901 0.81 1.693 1.414 2.375 0.603 0.682 1.326 1.22 2.168 1.612 0.842 0.393 1.772 0.589 2.79 0.589 0.616 0 1.179-0.055 1.687-0.166 0.509-0.11 0.971-0.262 1.386-0.454 0.415-0.193 0.798-0.427 1.15-0.702 0.352-0.276 0.679-0.579 0.98-0.909l-1.847-2.335c-0.515 0.51-1.04 0.909-1.574 1.198-0.535 0.289-1.135 0.434-1.801 0.434-0.552 0-1.065-0.118-1.536-0.351-0.472-0.234-0.877-0.558-1.216-0.972-0.34-0.413-0.603-0.891-0.792-1.435-0.188-0.544-0.283-1.126-0.283-1.745v-0.042c0-0.619 0.095-1.205 0.283-1.756 0.189-0.551 0.45-1.033 0.783-1.446 0.333-0.414 0.735-0.741 1.206-0.982s0.99-0.361 1.555-0.361c0.754 0 1.392 0.151 1.913 0.455 0.522 0.303 1.04 0.716 1.556 1.239l1.848-2.045c-0.339-0.4-0.692-0.758-1.056-1.075" clip-path="url(#clipPath70)" fill="#1a76bd"/>
                    <path id="path71" transform="matrix(1.3333 0 0 -1.3333 696.44 196.86)" d="m0 0v14.462h9.935v-2.831h-7.07v-2.934h6.221v-2.83h-6.221v-3.037h7.164v-2.83z" clip-path="url(#clipPath72)" fill="#1a76bd"/>
                    <path id="path73" transform="matrix(1.3333 0 0 -1.3333 731.68 187.22)" d="m0 0c0 0.634-0.098 1.219-0.292 1.756-0.195 0.538-0.465 0.999-0.811 1.385-0.345 0.385-0.763 0.684-1.253 0.898-0.491 0.214-1.031 0.32-1.622 0.32h-2.243v-8.717h2.243c0.591 0 1.131 0.102 1.622 0.309 0.49 0.206 0.908 0.503 1.253 0.889 0.346 0.385 0.616 0.84 0.811 1.363 0.194 0.524 0.292 1.109 0.292 1.756zm2.526-2.851c-0.339-0.881-0.82-1.646-1.442-2.293s-1.363-1.157-2.225-1.529c-0.861-0.372-1.806-0.557-2.837-0.557h-5.146v14.461h5.146c1.031 0 1.976-0.182 2.837-0.547 0.862-0.366 1.603-0.872 2.225-1.519s1.103-1.408 1.442-2.283c0.339-0.874 0.509-1.821 0.509-2.84v-0.042c0-1.02-0.17-1.97-0.509-2.851" clip-path="url(#clipPath74)" fill="#1a76bd"/>
                    <path id="path75" transform="matrix(1.3333 0 0 -1.3333 746.29 182.53)" d="m0 0-1.754-4.69h3.507zm3.996-10.743-1.206 3.243h-5.58l-1.207-3.243h-2.96l5.656 14.565h2.677l5.655-14.565z" clip-path="url(#clipPath76)" fill="#1a76bd"/>
                    <path id="path77" transform="matrix(1.3333 0 0 -1.3333 765.69 181.49)" d="m0 0v-11.528h-2.903v11.528h-4.016v2.934h10.935v-2.934z" clip-path="url(#clipPath78)" fill="#1a76bd"/>
                    <path id="path79" transform="matrix(1.3333 0 0 -1.3333 781.13 182.53)" d="m0 0-1.754-4.69h3.507zm3.996-10.743-1.206 3.243h-5.58l-1.207-3.243h-2.96l5.656 14.565h2.677l5.655-14.565z" clip-path="url(#clipPath80)" fill="#1a76bd"/>
                    <path id="path81" transform="matrix(1.3333 0 0 -1.3333 810.21 184.16)" d="m0 0c0 0.688-0.201 1.204-0.604 1.549-0.402 0.345-0.96 0.516-1.677 0.516h-2.884v-4.152h2.94c0.717 0 1.266 0.186 1.65 0.558s0.575 0.868 0.575 1.487zm-0.057-9.524-2.828 4.628h-2.28v-4.628h-2.903v14.461h6.032c1.571 0 2.793-0.42 3.667-1.26 0.873-0.84 1.31-2.011 1.31-3.512v-0.042c0-1.17-0.261-2.124-0.783-2.861-0.521-0.737-1.203-1.278-2.045-1.621l3.224-5.165z" clip-path="url(#clipPath82)" fill="#1a76bd"/>
                    <path id="path83" transform="matrix(1.3333 0 0 -1.3333 816.97 196.86)" d="m0 0v14.462h9.935v-2.831h-7.07v-2.934h6.221v-2.83h-6.221v-3.037h7.164v-2.83z" clip-path="url(#clipPath84)" fill="#1a76bd"/>
                    <path id="path85" transform="matrix(1.3333 0 0 -1.3333 843.16 184.32)" d="m0 0c0 0.716-0.211 1.26-0.632 1.632s-0.996 0.557-1.724 0.557h-2.244v-4.42h2.3c0.729 0 1.294 0.21 1.696 0.629 0.403 0.42 0.604 0.941 0.604 1.56zm2.526-2.19c-0.277-0.634-0.657-1.164-1.14-1.591-0.485-0.427-1.05-0.747-1.698-0.961-0.647-0.213-1.341-0.32-2.083-0.32h-2.205v-4.338h-2.903v14.462h5.392c0.792 0 1.498-0.122 2.121-0.362 0.622-0.241 1.149-0.582 1.583-1.023 0.433-0.441 0.766-0.968 0.999-1.58 0.232-0.614 0.348-1.291 0.348-2.035v-0.041c0-0.841-0.137-1.578-0.414-2.211" clip-path="url(#clipPath86)" fill="#1a76bd"/>
                    <path id="path87" transform="matrix(1.3333 0 0 -1.3333 863.17 187.22)" d="m0 0c0 0.62-0.098 1.205-0.292 1.756-0.195 0.551-0.472 1.033-0.83 1.446s-0.782 0.74-1.273 0.982c-0.49 0.241-1.024 0.361-1.602 0.361-0.591 0-1.128-0.117-1.611-0.351-0.485-0.234-0.9-0.557-1.245-0.971-0.346-0.413-0.616-0.892-0.811-1.436-0.194-0.544-0.292-1.126-0.292-1.745v-0.042c0-0.619 0.098-1.205 0.292-1.756 0.195-0.551 0.472-1.033 0.83-1.446s0.779-0.74 1.263-0.982c0.484-0.241 1.021-0.361 1.612-0.361 0.578 0 1.112 0.117 1.603 0.352 0.49 0.233 0.907 0.557 1.252 0.97 0.346 0.413 0.617 0.892 0.812 1.436 0.194 0.544 0.292 1.126 0.292 1.746zm2.507-2.902c-0.352-0.903-0.839-1.695-1.461-2.376-0.622-0.682-1.363-1.219-2.225-1.612-0.86-0.392-1.8-0.589-2.818-0.589s-1.954 0.197-2.809 0.589c-0.855 0.393-1.592 0.923-2.215 1.591s-1.106 1.453-1.452 2.356c-0.345 0.901-0.518 1.869-0.518 2.902v0.041c0 1.033 0.176 2.001 0.528 2.903s0.839 1.694 1.461 2.375c0.622 0.682 1.363 1.22 2.225 1.613 0.86 0.392 1.799 0.588 2.818 0.588 1.018 0 1.954-0.196 2.809-0.588 0.854-0.393 1.592-0.923 2.215-1.591 0.622-0.669 1.106-1.454 1.452-2.356 0.345-0.902 0.518-1.87 0.518-2.902v-0.042c0-1.032-0.177-2-0.528-2.902" clip-path="url(#clipPath88)" fill="#1a76bd"/>
                    <path id="path89" transform="matrix(1.3333 0 0 -1.3333 882.25 193.7)" d="m0 0c-0.237-0.558-0.567-1.026-0.992-1.404-0.425-0.379-0.932-0.669-1.521-0.868-0.589-0.2-1.241-0.3-1.957-0.3-1.006 0-1.992 0.189-2.96 0.568-0.967 0.379-1.847 0.961-2.639 1.746l1.715 2.252c0.604-0.537 1.222-0.965 1.858-1.281 0.634-0.317 1.329-0.475 2.083-0.475 0.602 0 1.071 0.12 1.404 0.362 0.333 0.24 0.499 0.574 0.499 1.002v0.041c0 0.207-0.034 0.388-0.103 0.547-0.07 0.159-0.202 0.306-0.398 0.445-0.195 0.136-0.466 0.274-0.812 0.413-0.347 0.137-0.797 0.282-1.352 0.433-0.668 0.179-1.272 0.379-1.814 0.599-0.542 0.221-1.002 0.492-1.38 0.816s-0.671 0.727-0.879 1.209-0.312 1.082-0.312 1.797v0.041c0 0.661 0.112 1.257 0.337 1.787 0.225 0.531 0.539 0.989 0.946 1.374 0.406 0.386 0.89 0.683 1.454 0.889 0.563 0.207 1.184 0.31 1.863 0.31 0.968 0 1.856-0.158 2.667-0.475 0.812-0.317 1.556-0.772 2.234-1.364l-1.507-2.397c-0.591 0.442-1.169 0.789-1.735 1.044-0.565 0.254-1.132 0.382-1.697 0.382s-0.989-0.121-1.273-0.361c-0.282-0.241-0.423-0.541-0.423-0.899v-0.042c0-0.234 0.041-0.437 0.123-0.609 0.081-0.172 0.229-0.327 0.443-0.465 0.215-0.138 0.508-0.268 0.88-0.392 0.371-0.124 0.841-0.269 1.408-0.434 0.667-0.193 1.263-0.41 1.786-0.65 0.523-0.242 0.964-0.531 1.324-0.869 0.358-0.337 0.629-0.733 0.812-1.187 0.183-0.455 0.274-0.999 0.274-1.633v-0.041c0-0.716-0.119-1.353-0.356-1.911" clip-path="url(#clipPath90)" fill="#1a76bd"/>
                    <path id="path91" transform="matrix(1.3333 0 0 -1.3333 0 235.8)" d="m664.21 43.671h2.903v-14.462h-2.903z" clip-path="url(#clipPath92)" fill="#1a76bd"/>
                    <path id="path93" transform="matrix(1.3333 0 0 -1.3333 901.2 181.49)" d="m0 0v-11.528h-2.903v11.528h-4.016v2.934h10.935v-2.934z" clip-path="url(#clipPath94)" fill="#1a76bd"/>
                    <path id="path95" transform="matrix(1.3333 0 0 -1.3333 922.74 187.22)" d="m0 0c0 0.62-0.098 1.205-0.292 1.756-0.195 0.551-0.472 1.033-0.83 1.446s-0.782 0.74-1.273 0.982c-0.49 0.241-1.024 0.361-1.602 0.361-0.591 0-1.128-0.117-1.611-0.351-0.485-0.234-0.9-0.557-1.245-0.971-0.346-0.413-0.616-0.892-0.811-1.436-0.194-0.544-0.292-1.126-0.292-1.745v-0.042c0-0.619 0.098-1.205 0.292-1.756 0.195-0.551 0.472-1.033 0.83-1.446s0.779-0.74 1.263-0.982c0.484-0.241 1.021-0.361 1.612-0.361 0.578 0 1.112 0.117 1.603 0.352 0.49 0.233 0.907 0.557 1.252 0.97 0.346 0.413 0.617 0.892 0.812 1.436 0.194 0.544 0.292 1.126 0.292 1.746zm2.507-2.902c-0.352-0.903-0.839-1.695-1.461-2.376-0.622-0.682-1.363-1.219-2.225-1.612-0.86-0.392-1.8-0.589-2.818-0.589s-1.954 0.197-2.809 0.589c-0.855 0.393-1.592 0.923-2.215 1.591s-1.106 1.453-1.452 2.356c-0.345 0.901-0.518 1.869-0.518 2.902v0.041c0 1.033 0.176 2.001 0.528 2.903s0.839 1.694 1.461 2.375c0.622 0.682 1.363 1.22 2.225 1.613 0.86 0.392 1.799 0.588 2.818 0.588 1.018 0 1.954-0.196 2.809-0.588 0.854-0.393 1.592-0.923 2.215-1.591 0.622-0.669 1.106-1.454 1.452-2.356 0.345-0.902 0.518-1.87 0.518-2.902v-0.042c0-1.032-0.177-2-0.528-2.902" clip-path="url(#clipPath96)" fill="#1a76bd"/>
                    <path id="path97" transform="matrix(1.3333 0 0 -1.3333 940.34 184.16)" d="m0 0c0 0.688-0.201 1.204-0.604 1.549-0.402 0.345-0.96 0.516-1.677 0.516h-2.884v-4.152h2.94c0.717 0 1.266 0.186 1.65 0.558s0.575 0.868 0.575 1.487zm-0.057-9.524-2.828 4.628h-2.28v-4.628h-2.903v14.461h6.032c1.571 0 2.793-0.42 3.667-1.26 0.873-0.84 1.31-2.011 1.31-3.512v-0.042c0-1.17-0.261-2.124-0.783-2.861-0.521-0.737-1.203-1.278-2.045-1.621l3.224-5.165z" clip-path="url(#clipPath98)" fill="#1a76bd"/>
                    <path id="path99" transform="matrix(1.3333 0 0 -1.3333 955.92 189.17)" d="m0 0v-5.764h-2.903v5.702l-5.072 8.76h3.394l3.147-5.805 3.205 5.805h3.3z" clip-path="url(#clipPath100)" fill="#1a76bd"/>
                    </g>
                </svg>
                <img width="160" height="40" src="{{asset('build/images/griidc-logo.svg')}}" alt="Site Logo" class="block lg:hidden">
            </a>
        </div>
        <div class="flex md:hidden">
            <div class="flex w-full justify-end md:py-3.5 md:px-3 0">
            {% if app.user %}
                <span class="block md:ml-2 text-[0.875rem] leading-[1.25]">
                    <span>Logged in as: {{ app.user.username }}</span>
                    <span class="p-2">|</span>
                    <a href="/logout" class="flex items-center text-gray-600">Log out</a>
                </span>
            {% else %}
                <a href="/login" class="flex items-center text-gray-600">Login</a>
            {% endif %}
            </div>
            <button type="button" class="inline-flex items-center justify-center rounded-md text-gray-700 ml-5 sm:ml-7 cursor-pointer">
                <span class="sr-only">Open main navigation</span>
                <svg width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.03394 0.00125289H19.8146C21.3951 -0.0663573 21.3951 2.62517 19.8146 2.55756H5.09285C3.54107 2.62517 3.48072 0.00125289 5.0325 0.00125289H5.03394ZM19.8146 10.2233C21.3348 10.2233 21.3348 12.778 19.8146 12.778H11.481C9.92922 12.778 9.92922 10.2233 11.481 10.2233H19.8146ZM19.8146 20.4453C21.3348 20.4453 21.3348 23 19.8146 23H1.14013C-0.380039 23 -0.380039 20.4453 1.14013 20.4453H19.8146Z" fill="#1A56DB"></path>
                </svg>
            </button>
        </div>
        <div id="griidc-menu"
        {% if is_granted('ROLE_DATA_REPOSITORY_MANAGER') %}
            show-admin="true"
        {% endif %}
        />
    </nav>
    <div style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px; display: none;"></div>
</header>
