{% extends "PelagosAppBundle::layout.html.twig" %}

{% block head %}
    {{ add_library (
        [
            'ui.dialog',
            'ui.widget'
        ]
    ) }}

    {{ add_css (
        [
            '//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css',
            '//cdn.datatables.net/select/1.2.3/css/select.dataTables.min.css',
            '//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css',
        ]
    ) }}

    {{ add_js(
        [
            '//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js',
            '//cdn.datatables.net/select/1.0.1/js/dataTables.select.min.js',
        ]
    ) }}

    {% stylesheets
        '@PelagosAppBundle/Resources/public/css/remotelyhosted-datasets.css'
        '@PelagosAppBundle/Resources/public/css/entity.css'
    %}
        {{ add_css(asset_url) }}
    {% endstylesheets %}

    {% javascripts
        '@FOSJsRoutingBundle/Resources/public/js/router.js'
        '@PelagosAppBundle/Resources/public/js/common.js'
        '@PelagosAppBundle/Resources/public/js/remotelyHostedDatasets.js'
    %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

{% endblock %}

{% set properties = [
    'id',
    'udi',
    'datasetSubmission.datasetFileUri',
    'datasetStatus',
] %}

{% block body %}
    <h1> Remotely Hosted Datasets</h1>

    <div class="cleair">
        <fieldset>
            <form id="updateForm">
                <label for="udi"><b>Unique Dataset Identifier (UDI): </b></label>
                <input minlength="16" type="text" id="udi" name="udi" style="width: 80%" required>
                <button name="updatebutton" id="updatebutton"
                        type="button"
                        onclick="window.location.href='{{ path('pelagos_app_ui_remotelyhosteddatasets_default') }}?udi=' +
                                document.getElementById('udi').value.trim();">Mark as Remotely Hosted
                </button>
                <label class="error" for="udi"></label>
            </form>
        </fieldset>
        <fieldset>
            <table
                    id="remotelyHostedDatasetsTable"
                    class="stripe"
                    width="100%"
                    data-ajax='{
                        "url": "{{ path("pelagos_api_datasets_get_collection", {"datasetSubmission.datasetFileTransferStatus": "RemotelyHosted", "_properties": properties | join(',')}) }}",
                        "dataSrc": "",
                        "cache": true
                    }'
                    data-columns='[
                        {"data": "id"},
                        {"data": "udi"},
                        {"data": "datasetSubmission.datasetFileUri"},
                        {"data": "datasetStatus"}
                    ]'
                    data-order='[
                        [ 1, "desc"]
                    ]'
            >
                <thead>
                <tr>
                    <th>Dataset ID</th>
                    <th>UDI</th>
                    <th>URL</th>
                    <th>Dataset Status</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </fieldset>
    </div>
{% endblock %}