{% block subject 'GRIIDC DOI Request Approved - DOI Issued' %}

{% block body_html %}

Dear {{ user.firstName }} {{ user.lastName }},<br />
<p>
    The Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) has approved the
    DOI request for your dataset, {{ dataset.doi }}</a>
</p>
<p>
    If you have any questions regarding this dataset DOI, please email griidc@gomri.org.<br>
</p>
<br />
Thank you,<br />
The GRIIDC Team
{% endblock %}

{% block body_text %}
Dear {{ user.firstName }} {{ user.lastName }},

The Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) has approved the
DOI request for your dataset, {{ dataset.doi }}

Thank you,
The GRIIDC Team
{% endblock %}
