{% extends "PelagosAppBundle:template:UI.html.twig" %}
{% block title %}Maintenance Mode{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
$(document).ready(function()
{
    $("[name=bannermode]").change(function () {
        console.log($(this).val());
        if ($(this).val() == "deactivate") {
            $("#bannertext").removeAttr('required');
        } else {
            $("#bannertext").attr('required',true);
        }
    });

});
</script>

{% endblock %}

{% block body %}

<h1>Maintenance Mode</h1>

<h2>Status: {{ isMaintenanceMode() ? '<span style="color:red;">ACTIVE</span>' : '<span style="color:green;">off</span>' }}</h2>

<form method="post">
<label for="bannertext">Banner Text:<label>
<input type="text" size="200" id="bannertext" name="bannertext" placeholder="Your Banner Text Here" required value="{{ getMaintenanceModeText() }}">
<label for="bannercolor">Banner Color:<label>
<input type="color" id="bannercolor" name="bannercolor" value="{{ '#EED202'|maintenanceModeColor }}">
<label for="bannermode">Mode:</label>
<input type="radio" id="bannermodeon" name="bannermode" value="activate" {{isMaintenanceMode() ? 'checked' : ''}}>Active
<input type="radio" id="bannermodeoff" name="bannermode" value="deactivate" {{not isMaintenanceMode() ? 'checked' : ''}}>Off<br>
<input type="submit">

{% endblock %}