<fieldset>
    <legend>Distribution Contact</legend>
    <table class="tab-table distribution-contact">
        <tr>
            <td>
                {% set distPoint = form.vars.data.distributionPoints.get(0) %}
                <span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                        <img class="info" src="{{ asset_url }}">
                    {% endimage %}
                    <div class="tooltiptext">
                        Please use the drop down list to select the distribution contact who can be contacted
                        about the dataset’s descriptive information. If the contact is not in the
                        list or their contact information is incorrect, please contact
                        griidc@gomri.org.
					</div>
				</span>
                <label for="distributioncontact">Distribution Contact</label>
                <select class="distributioncontact" id="ddlDistributionContact" name="{{ distPoint.nationalDataCenter.organizationName }}" required="required">
                    <option value="">[Please select a Distribution Contact]</option>
                    {% for distContact in form.distributionPoints.nationalDataCenter.vars.choices  %}
                        {% if distPoint.nationalDataCenter | default and distPoint.nationalDataCenter.id == distContact.value %}
                            <option selected value="{{ distContact.value }}">
                                {{ distContact.label }}
                            </option>
                        {%  else %}
                            <option value="{{ distContact.value }}">
                                {{ distContact.label }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="distributioncontact" class="error"></label>
                {% include "PelagosAppBundle:DatasetReview:distribution-contact-information.html.twig"%}
            </td>
        </tr>
        <tr>
            <td>
                <span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                        <img class="info" src="{{ asset_url }}">
                    {% endimage %}
                    <div class="tooltiptext">
						Please enter the distribution URL for this dataset.
					</div>
				</span>
                {{ form_row(form.distributionPoints.distributionUrl, {attr: {'value' : distPoint.distributionUrl | default}}) }}
            </td>
        </tr>
    </table>
</fieldset>