<div id="program-resources" class="stats-overview-cell stats-section">
    <div style="height:100%; width:100%; display:table;">
        <div style="display:table-row;">
            <div class="caption" style="display:table-cell;">Repository Summary</div>
        </div>
        <div style="display:table-row;">
            <div style="display:table-cell;">
                <table>
                    <tr>
                        <td>
                            <img src="{{ asset('build/images/icon-datasets.png') }}">
                            <div class="count">{{datasets|default}}</div>
                            <div class="label">Datasets</div>
                        </td>
                        <td>
                            <img src="{{ asset('build/images/icon-filesize.png') }}">
                            <div class="count">{{totalsize|formatBytes(1, "TB")|number_format(1)|default}}</div>
                            <div class="label">TB Of Data</div>
                        </td>
                        <td>
                            <img src="{{ asset('build/images/icon-downloads.png') }}">
                            <div class="count">{{totalDownloads|default}}</div>
                            <div class="label">Total Downloads</div>
                        </td>
                        <td>
                            <img src="{{ asset('build/images/icon-projects.png') }}">
                            <div class="count">{{researchGroups|default}}</div>
                            {% if custom_base_template|default == 'nas-grp-base.html.twig' %}
                                <div class="label">Projects</div>
                            {% else %}
                                <div class="label">Research Groups</div>
                            {% endif %}
                        </td>
                        <td>
                            <img src="{{ asset('build/images/icon-researchers.png') }}">
                            <div class="count">{{people|default}}</div>
                            <div class="label">People</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
