<div>
    <div class="pb-4">
        <span class="block text-blue-600 text-xl">Position:</span>
        <span class="block">{{ person.position }}</span>
    </div>

    <div class="pb-4">
        <span class="block text-blue-600 text-xl">Email:</span>
        <span class="block">{{ person.emailAddress }}</span>
    </div>

    <div class="pb-4">
        <span class="block text-blue-600 text-xl">Phone:</span>
        <span class="block">{{ person.phoneNumber }}</span>
    </div>

    <div class="pb-4">
        <span class="block text-blue-600 text-xl">Mailing Address:</span>
        <span class="block">{{ person.organization }}</span>
        <span class="block">{{ person.deliveryPoint|nl2br }}</span>
        <span class="block">{{ person.city ~ ', ' ~ person.administrativeArea ~ ' ' ~ person.postalCode }}</span>
        <span class="block">{{ person.country }}</span>
    </div>
</div>
