<div>
    <h3>{{ person.firstname ~ ' ' ~ person.lastname }}</h3>
    <span class="block">{{ person.position }}</span>
    <span class="block">{{ person.organization }}</span>
    <span class="block">{{ person.emailAddress }}</span>
    <span class="block">{{ person.deliveryPoint|nl2br }}</span>
    <span class="block">{{ person.city ~ ', ' ~ person.administrativeArea ~ ' ' ~ person.postalCode }}</span>
    <span class="block">{{ person.country }}</span>
</div>
