
<form>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">First name</label>
            <span class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">{{person.firstname}}</span>
        </div>
        <div>
            <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900">Last name</label>
            <span class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">{{person.lastname}}</span>
        </div>
        <div>
            <label for="position" class="block mb-2 text-sm font-medium text-gray-900">Position</label>
            <span class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">{{person.position}}</span>
        </div>
        <div>
            <label for="organization" class="block mb-2 text-sm font-medium text-gray-900">Organization</label>
            <span class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">{{person.organization}}</span>
        </div>
    </div>
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email address</label>
        <span class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">{{person.emailAddress}}</span>
    </div>
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Phone Number</label>
        <span class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">{{person.phoneNumber}}</span>
    </div>
    <div class="mb-6">
        <label for="deliverypoint" class="block mb-2 text-sm font-medium text-gray-900">Delivery Point</label>
        <span class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 block h-24">{{person.deliveryPoint|nl2br}}</span>
    </div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div class="mb-6">
            <label for="city" class="block mb-2 text-sm font-medium text-gray-900">City</label>
            <span class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">{{person.city}}</span>
        </div>
        <div class="mb-6">
            <label for="state" class="block mb-2 text-sm font-medium text-gray-900">Administrative Area</label>
            <span class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">{{person.administrativeArea}}</span>
        </div>
    </div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div class="mb-6">
            <label for="postalcode" class="block mb-2 text-sm font-medium text-gray-900">Postal Code</label>
            <span class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">{{person.postalCode}}</span>
        </div>
        <div class="mb-6">
            <label for="country" class="block mb-2 text-sm font-medium text-gray-900">Country</label>
            <span class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">{{person.country}}</span>
        </div>
    </div>
</form>
