{% extends "base.html.twig" %}

{% block title %}Dataset Dashboard{% endblock %}

{% block stylesheets %}
    <style>
        .datasets-table {
            overflow: auto;
            width: 100%;
        }

        .datasets-table table {
            border: 1px solid #dededf;
            height: 100%;
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
            border-spacing: 1px;
            text-align: left;
        }

        .datasets-table caption {
            caption-side: top;
            text-align: left;
        }

        .datasets-table th {
            border: 1px solid #dededf;
            background-color: #eceff1;
            color: #000000;
            padding: 5px;
        }

        .datasets-table td {
            border: 1px solid #dededf;
            background-color: #ffffff;
            color: #000000;
            padding: 5px;
            overflow: hidden; /* Hides content that overflows */
            text-overflow: ellipsis; /* Displays an ellipsis (...) for truncated text */
        }

        .second-header {
            background-color: #dededf;
        }
    </style>

    {{ parent() }}

    {{ encore_entry_link_tags('dashboard') }}


{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('dashboard') }}
{% endblock javascripts %}

{% block body %}
    <div class="max-w-screen-xl mx-auto py-6">
    {% include 'LandingPages/changeTab.html.twig' %}
    <h2>{{ app.user.person.firstName ~ ' ' ~ app.user.person.lastName }} Profile</h2>
    <div class="md:flex border border-gray-300">
        <ul class="not-prose flex-column space-y space-y-4 md:me-4 mb-4 md:mb-0 bg-black bg-opacity-[0.03] p-2 relative text-sm font-medium w-1/5">
            <li @click="changeTab(1)" :class="openTab === 1 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-table-columns"></i><span class="ms-2">Dashboard</span>
            </li>
            <li @click="changeTab(2)" :class="openTab === 2 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-user"></i><span class="ms-2">Account</span>
            </li>
            <li @click="changeTab(3)" :class="openTab === 3 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-envelope"></i><span class="ms-2">Contact</span>
            </li>
            <li @click="changeTab(4)" :class="openTab === 4 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-users"></i><span class="ms-2">Research Groups</span>
            </li>
            {# <li @click="#" :class="openTab === 5 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-home"></i><span class="ms-2">Home</span>
            </li> #}
        </ul>

        <div class="p-6 rounded-lg w-full">
            <div :class="openTab === 1 ? 'active' : 'inactive'" class="w-full">
                {# <span class="text-4xl py-4 font-bold text-center block">Datasets for {{ app.user.person.firstName ~ ' ' ~ app.user.person.lastName }}</span> #}
                {% include 'Dashboard/dashboard.html.twig' with {'researchGroups': researchGroups, 'person': app.user.person} %}
            </div>
            <div :class="openTab === 2 ? 'active' : 'inactive'">
                <span>Account Tab</span>
            </div>
            <div :class="openTab === 3 ? 'active' : 'inactive'">
                <span>Contact Tab</span>
            </div>
            <div :class="openTab === 4 ? 'active' : 'inactive'">
                {% include 'LandingPages/research-groups.html.twig' with {'researchGroups': person.researchGroups} %}
            </div>
        </div>
    </div>

    </div>
{% endblock %}
