{% extends "base.html.twig" %}

{% block title %}Dataset Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('dashboard') }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('dashboard') }}
{% endblock javascripts %}

{% block body %}
    <div class="max-w-screen-xl mx-auto py-6">
    {% include 'LandingPages/changeTab.html.twig' %}
    <h2>{{ app.user.person.firstName ~ ' ' ~ app.user.person.lastName }} Profile</h2>
    <div class="md:flex border border-gray-300 text-lg">
        <ul class="not-prose flex-column space-y space-y-4 md:me-4 mb-4 md:mb-0 bg-black bg-opacity-[0.03] p-2 relative w-1/4">
            <li @click="changeTab(1)" :class="openTab === 1 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-table-columns"></i><span class="ms-2">Dashboard</span>
            </li>
            <li @click="changeTab(2)" :class="openTab === 2 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-user"></i><span class="ms-2">Account</span>
            </li>
            <li @click="changeTab(3)" :class="openTab === 3 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-envelope"></i><span class="ms-2">Contact</span>
            </li>
            <li @click="changeTab(4)" :class="openTab === 4 ? activeClasses : inactiveClasses" class="inline-flex items-center px-4 py-3 rounded-lg w-full">
                <i class="fa-solid fa-users"></i><span class="ms-2">Research Groups</span>
            </li>
        </ul>

        <div class="p-6 rounded-lg w-full">
            <div :class="openTab === 1 ? 'active' : 'inactive'" class="w-full">
                {% include 'Dashboard/dashboard.html.twig' with {'researchGroups': researchGroups, 'person': app.user.person} %}
            </div>
            <div :class="openTab === 2 ? 'active' : 'inactive'">
                {% include 'Dashboard/account.html.twig' with {'person': person} %}
            </div>
            <div :class="openTab === 3 ? 'active' : 'inactive'">
                {% include 'Dashboard/contact.html.twig' with {'person': person} %}
            </div>
            <div :class="openTab === 4 ? 'active' : 'inactive'">
                {% include 'LandingPages/research-groups.html.twig' with {'researchGroups': person.researchGroups} %}
            </div>
        </div>
    </div>

    </div>
{% endblock %}
