{% extends "base.html.twig" %}

{% block title %}Dataset Dashboard{% endblock %}

{% block stylesheets %}
    <style>
        .datasets-table {
            overflow: auto;
            width: 100%;
        }

        .datasets-table table {
            border: 1px solid #dededf;
            height: 100%;
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
            border-spacing: 1px;
            text-align: left;
        }

        .datasets-table caption {
            caption-side: top;
            text-align: left;
        }

        .datasets-table th {
            border: 1px solid #dededf;
            background-color: #eceff1;
            color: #000000;
            padding: 5px;
        }

        .datasets-table td {
            border: 1px solid #dededf;
            background-color: #ffffff;
            color: #000000;
            padding: 5px;
            overflow: hidden; /* Hides content that overflows */
            text-overflow: ellipsis; /* Displays an ellipsis (...) for truncated text */
        }

        .second-header {
            background-color: #dededf;
        }
    </style>

    {{ parent() }}

    {{ encore_entry_link_tags('dashboard') }}


{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('dashboard') }}
{% endblock javascripts %}

{% block body %}
    <div class="max-w-screen-xl mx-auto py-6">
        <span class="text-4xl py-4 font-bold text-center block">Datasets for {{ app.user.person.firstName ~ ' ' ~ app.user.person.lastName }}</span>

        {% include 'Dashboard/dashboard.html.twig' with {'researchGroups': researchGroups, 'person': app.user.person} %}
    </div>
{% endblock %}
