{% for dataset in datasets %}
    {% if dataset.datasetSubmission.authors %}
        <div class="attr"><span class="attr">Dataset Author(s):</span> {{dataset.datasetSubmission.authors}}</div>
    {% endif %}
    <div class="attr"><span class="attr">Primary Point of Contact:</span> {{dataset.dif.pointOfContactName.primaryPointOfContact.LastName}}, {{dataset.dif.pointOfContactName.primaryPointOfContact.FirstName}}</div>
    {% if dataset.spoc_ris_id %}
        <div class="attr"><span class="attr">Secondary Point of Contact:</span> {{dataset.dif.pointOfContactName.secondaryPointOfContact.LastName}}, {{dataset.dif.pointOfContactName.secondaryPointOfContact.FirstName}}</div>
    {% endif %}
    <div class="abstract">
        <div><span class="attr">Abstract:</span></div>
        <div>{{dataset.abstract | slice(0,500)}}{% if dataset.abstract|length > 500 %}...{% endif %}</div>
    </div>
{% endfor %}
