<div class="tooltip-note" style="float:right; margin-right:5px; margin-bottom:3px; font-size:8pt;">
    place your mouse over each icon for a description
</div>
<table class="datasets tablesorter">
    <thead>
        <tr>
            <th class="udi" title="sort by UDI">UDI</th>
            <th title="sort by Title">Title</th>
            <th class="status" title="sort by Identified status">Identified</th>
            <th class="status" title="sort by Registered status">Registered</th>
            <th class="status" title="sort by Metadata status">Metadata</th>
            <th class="status" title="sort by Available status">Available</th>
        </tr>
    </thead>
    <tbody>

        {% set identified_green = 0 %}
        {% set identified_yellow = 0 %}
        {% set identified_red = 0 %}
        {% set identified_na = 0 %}
        {% set registered_green = 0 %}
        {% set registered_yellow = 0 %}
        {% set registered_red = 0 %}
        {% set registered_na = 0 %}
        {% set metadata_green = 0 %}
        {% set metadata_yellow = 0 %}
        {% set metadata_red = 0 %}
        {% set metadata_na = 0 %}
        {% set available_green = 0 %}
        {% set available_yellow = 0 %}
        {% set available_red = 0 %}
        {% set available_na = 0 %}

        {% for dataset in datasets %}

            {% if dataset.identifiedStatus == constant('Pelagos\\Entity\\DIF::STATUS_APPROVED') %}
                {% set identified_green = identified_green+1 %}
            {% elseif dataset.identifiedStatus == '-1' %}
                {% set identified_red = identified_red+1 %}
            {% elseif dataset.identifiedStatus == '0' %}
                {% set identified_red = identified_red+1 %}
            {% elseif dataset.identifiedStatus == '1' %}
                {% set identified_yellow = identified_yellow+1 %}
            {% endif %}

            {% if dataset.datasetSubmissionStatus == constant('Pelagos\\Entity\\DatasetSubmission::STATUS_COMPLETE') %}
                {% set registered_green = registered_green+1 %}
                {% set identified_title = "A DIF has been submitted for this dataset and is in review." %}
            {% elseif dataset.datasetSubmissionStatus == '1' %}
                {% set registered_yellow = registered_yellow+1 %}
            {% else %}
                {% set registered_red = registered_red+1 %}
            {% endif %}

            {% if dataset.datasetSubmissionStatus != '10' %}
                {% set metadata_na = metadata_na+1 %}
            {% elseif dataset.metadata == '10' %}
                {% set metadata_green = metadata_green+1 %}
            {% elseif dataset.metadata == '-1' %}
                {% set metadata_na = metadata_na+1 %}
            {% elseif dataset.metadata == '0' %}
                {% set metadata_red = metadata_red+1 %}
            {% elseif dataset.metadata == '1' %}
                {% set metadata_yellow = metadata_yellow+1 %}
            {% elseif dataset.metadata == '2' %}
                {% set metadata_yellow = metadata_yellow+1 %}
            {% elseif dataset.metadata is null %}
                {% set metadata_na = metadata_na+1 %}
            {% else %}
                {% set metadata_na = metadata_na+1 %}
            {% endif %}

            {% if dataset.datasetSubmissionStatus != '10' %}
                {% set available_na = available_na+1 %}
            {% elseif dataset.available == 10 or dataset.available == 7 %}
                {% set available_green = available_green+1 %}
            {% elseif dataset.available == '-1' %}
                {% set available_na = available_na+1 %}
            {% elseif dataset.available == 0 %}
                {% set available_red = available_red+1 %}
            {% elseif dataset.available == 4 %}
                {% set available_yellow = available_yellow+1 %}
            {% elseif dataset.available == 5 %}
                {% set available_yellow = available_yellow+1 %}
            {% elseif dataset.available == 6 %}
                {% set available_yellow = available_yellow+1 %}
            {% elseif dataset.available == 7 %}
                {% set available_yellow = available_yellow+1 %}
            {% elseif dataset.available == 8 %}
                {% set available_yellow = available_yellow+1 %}
            {% elseif dataset.available == 9 %}
                {% set available_yellow = available_yellow+1 %}
            {% endif %}

            <tr udi="{{dataset.udi}}">
                <td class="udi details"><a href="/data/{{dataset.udi}}" target="_blank">{{dataset.udi}}</a></td>
                <td class="details"><a href="/data/{{dataset.udi}}" target="_blank">{{dataset.title}}</a></td>
                <td class="status" title="{{ identified_title | default }}">
                    <span style="display:none;">{{dataset.identifiedStatus}}</span>
                    <img src="{{ identified_icon | default }}">
                </td>
                <td class="status" title="{{ registered_title | default }}">
                    <span style="display:none;">{{dataset.datasetSubmissionStatus}}</span>
                    <img src="{{ registered_icon | default }}">
                </td>
                <td class="status" title="{{ metadata_title | default }}">
                    <span style="display:none;">{{dataset.metadataStatus}}</span>
                    <img src="{{ metadata_icon | default }}">
                </td>
                <td class="status" title="{{ available_title | default }}">
                    <span style="display:none;">{{ dataset.availabilityStatus }}</span>
                    <img src="{{ available_icon | default }}">
                </td>
            </tr>

        {% endfor %}

    {% if not pdf | default %}
    </tbody>
    <tfoot>
    {% endif %}
        <tr style="border-top:3.25px solid black;">
            <th style="text-align:center; font-weight:bold;" data-column="0" rowspan="4">TOTALS</th>
            <th style="text-align:right;"><img src="/includes/images/check.png"></th>
            <td class="status">{{identified_green}}</td>
            <td class="status">{{registered_green}}</td>
            <td class="status">{{metadata_green}}</td>
            <td class="status">{{available_green}}</td>
        </tr>
        <tr>
            <th style="text-align:right;"><img src="/includes/images/triangle_yellow.png"></th>
            <td class="status">{{identified_yellow}}</td>
            <td class="status">{{registered_yellow}}</td>
            <td class="status">{{metadata_yellow}}</td>
            <td class="status">{{available_yellow}}</td>
        </tr>
        <tr>
            <th style="text-align:right;"><img src="/includes/images/x.png"></th>
            <td class="status" bgcolor='#D8D8D8'></td>
            <td class="status">{{registered_red}}</td>
            <td class="status">{{metadata_red}}</td>
            <td class="status">{{available_red}}</td>
        </tr>
        <tr>
            <th style="text-align:right;"><img src="/includes/images/na.png"></th>
            <td class="status" bgcolor='#D8D8D8'></td>
            <td class="status" bgcolor='#D8D8D8'></td>
            <td class="status">{{metadata_na}}</td>
            <td class="status">{{available_na}}</td>
        </tr>
        <tr>
            <td style="border: 0px;"></td>
            <td style="border: 0px;"></td>
            <th>Identified</th>
            <th>Registered</th>
            <th>Metadata</th>
            <th>Available</th>
        </tr>
    {% if pdf | default %}
    </tbody>
    {% else %}
    </tfoot>
    {% endif %}
</table>
