<div class="projects-header">
    Datasets for: {{header}}
    {% if instName %}
        <span class="header-inst-name">({{instName}})</span>
    {% endif %}
    {% if not pdf %}
        <a href="{{path('pelagos_app_ui_datasetmonitoring_default ')}}/html2pdf?url={{baseUrl}}/projects/{{by}}/{{id}}/html2pdf&format=Letter&orientation=portrait&margin=1cm&download=true&filename={{pdfFilename}}" class="download-pdf" title="save as pdf">
        {% image '@PelagosAppBundle/Resources/public/images/pdf_icon.png' %}
        <img src="{{asset_url}}">
        {% endimage %}
        </a>
    {% endif %}
</div>
{% for ResearchGroup in ResearchGroups %}
    <div class="project">
        <div class="project-title">{{ResearchGroup.Title}}<span style="font-size:85%; margin-left:1em;">Project ID: {{project.id}}</span></div>
        <div class="project-container">
            <div class="fundSrc">
                <span class="attr">Funding Source:</span> {{ResearchGroup.Fund_Name}}
            </div>
            <div class="pi">
                (LEADERSHIP PLACEHOLDER!)
            </div>
            {% if not pdf %}
            <br />
            <div class="dotchartcontainer">
                <table width="100%" cellpadding="5">
                    <tr width="100%">
                        <td width="80%">
                            <div class="dotchart" project="{{ResearchGroup.id}}"></div>
                        </td>
                    <tr width="100%">
                        <td>
                            <div class="dotchart_legend" project="{{ResearchGroup.id}}" style="position: relative;">
                                <span id="a"><strong>Dataset with status:</strong>
                                {% image '@PelagosAppBundle/Resources/public/images/green-circle.png' %}
                                    <img src="{{asset_url}}"> Available:
                                {% endimage %}
                                </span>
                                <span id="r">
                                {% image '@PelagosAppBundle/Resources/public/images/yellow-circle.png' %}
                                    <img src="{{asset_url}}"> Registered:
                                {% endimage %}
                                </span>
                                <span id="i">
                                {% image '@PelagosAppBundle/Resources/public/images/empty-circle.png' %}
                                    <img src="{{asset_url}}"> Identified:
                                {% endimage %}
                                </span>
                                <div id="tot" style="position:absolute; right:0; bottom:0;">
                                    <strong>Total Datasets:</strong>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            {% endif %}
            {% if ResearchGroup.Datasets %}
                {% include 'datasets.html' with {'datasets': ResearchGroup.datasets} %}
            {% else %}
                <div class="nodata"><em>{no dataset identified}</em></div>
            {% endif %}
        </div>
    </div>
{% endfor %}
