{% block subject 'GRIIDC Dataset Submission Updated' %}

{% block body_html %}
    {% set submitterGroupsAndRepos = dataset.datasetSubmission.submitter.dataRepositoryNames | merge(dataset.datasetSubmission.submitter.researchGroupNames) %}
    Dear {{ recipient.firstName }} {{ recipient.lastName }},<br>
    <br>
    The GRIIDC dataset {{dataset.udi}} has been updated. This update was made by {{dataset.datasetSubmission.submitter.firstName}} {{dataset.datasetSubmission.submitter.lastName}}. {{dataset.datasetSubmission.submitter.firstName}} {{dataset.datasetSubmission.submitter.lastName}} is a member of {{ submitterGroupsAndRepos | join (', ') }} and the dataset is associated with {{dataset.researchGroup.name}}.<br>
    <br>
    Thank you,<br>
    <br>
    The GRIIDC Team<br>
    <br>
    *You are receiving this email because you are identified as a data manager for this research group. If you believe you should not be receiving this email please notify <a href="mailto:help@griidc.org">help@griidc.org</a>.*
{% endblock %}

{% block body_text %}
    {% set submitterGroupsAndRepos = dataset.datasetSubmission.submitter.researchGroupNames | merge(dataset.datasetSubmission.submitter.dataRepositoryNames) %}
Dear {{ recipient.firstName }} {{ recipient.lastName }},

The GRIIDC dataset {{dataset.udi}} has been updated. This update was made by {{dataset.datasetSubmission.submitter.firstName}} {{dataset.datasetSubmission.submitter.lastName}}. {{dataset.datasetSubmission.submitter.firstName}} {{dataset.datasetSubmission.submitter.lastName}} is a member of {{ submitterGroupsAndRepos | join (', ') }} and the dataset is associated with {{dataset.researchGroup.name}}.

Thank you,

The GRIIDC Team

*You are receiving this email because you are identified as a data manager for this research group. If you believe you should not be receiving this email please notify help@griidc.org.*
{% endblock %}
