{% block subject 'Error Log - List of Remotely Hosted Datasets links failed '%}

{% block body_html %}
    <h3>
        Below are the list of Dataset UDIs and remote links which have failed.
    </h3>

    <br>

    {% for error in errors %}

    <li><a href={{ vanityurl('pelagos_app_ui_dataland_default', { 'udi': error.udi }) }}>{{ error.udi }}</a> - {{ error.link }}</li>
    {% endfor %}
{% endblock %}

{% block body_text %}

Below are the list of Dataset UDIs and remote links which have failed.

{% for error in errors %}
{{ vanityurl('pelagos_app_ui_dataland_default', {'udi': error.udi }) }} - {{ error.link }}
{% endfor %}

{% endblock %}
