{% block subject %}
    GRIIDC Dataset {{ datasetSubmission.dataset.udi }} Submission
{% endblock %}

{% block body_html %}
    <p>
        Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},
    </p>
    <p>
        GRIIDC has received your dataset submission for {{ datasetSubmission.dataset.udi }}.
    </p>
    <p>
        The dataset will be reviewed by GRIIDC. Please note that the review process can take anywhere from a
        couple of weeks to a few months. During the review process we will likely contact you with questions
        about the dataset.
    </p>
    <p>
        Once accepted, the dataset will be publicly available on the dataset's landing page
        ({{ vanityurl('pelagos_app_ui_dataland_default', { 'udi': datasetSubmission.dataset.udi}) }}).
        The dataset has been assigned a digital object identifier ({{ datasetSubmission.dataset.doi.doi|default }})
        that will resolve to the landing page once accepted.
    </p>
    <p>
        If you have any questions regarding this dataset submission please email help@griidc.org.
    </p>
    <p>
        Thank you,<br />
        The GRIIDC Team
    </p>
{% endblock %}

{% block body_text %}
    Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},

    GRIIDC has received your dataset submission for {{ datasetSubmission.dataset.udi }}.

    The dataset will be reviewed by GRIIDC. Please note that the review process can take anywhere from a
    couple of weeks to a few months. During the review process we will likely contact you with questions
    about the dataset.

    Once accepted, the dataset will be publicly available on the dataset's landing page ({{ vanityurl('pelagos_app_ui_dataland_default', { 'udi': datasetSubmission.dataset.udi}) }}). The dataset
    has been assigned a digital object identifier ({{ datasetSubmission.dataset.doi.doi|default }}) that will resolve to the landing page once accepted.

    If you have any questions regarding this dataset submission please email help@griidc.org.

    Thank you,
    The GRIIDC Team
{% endblock %}
