{% block subject '[GRIIDC] DIF Unlocked' %}

{% block body_html %}
    Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},<br>
    <br>
    GRIIDC has unlocked the Dataset Information Form (DIF) for dataset <a href="{{ vanityurl('pelagos_app_ui_dif_default') }}?udi={{ dif.dataset.udi }}">{{ dif.dataset.udi }}</a>.
    Please return to the DIF to submit your edits.<br>
    <br>
    Thank you,<br>
    The GRIIDC Team<br>
{% endblock %}

{% block body_text %}
Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},

GRIIDC has unlocked the Dataset Information Form (DIF) for dataset {{ vanityurl('pelagos_app_ui_dif_default') }}?udi={{ dif.dataset.udi }}.
Please return to the DIF to submit your edits.

Thank you,
The GRIIDC Team
{% endblock %}
