{% block subject '[GRIIDC] DIF Approved' %}

{% block body_html %}
    Congratulations {{ recipient.getFirstName }} {{ recipient.getLastName }},<br />
    <br />
    Your Dataset Information Form (DIF) <a href="{{ vanityurl('pelagos_app_ui_dif_default') }}?id={{ dif.dataset.udi }}">{{ dif.dataset.udi }}</a> has been approved by the GRIIDC.
    <br>
    You will now be able to submit the associated dataset at <a href="{{ vanityurl('pelagos_app_ui_datasetsubmission_default') }}?regid={{ dif.dataset.udi }}">{{ vanityurl('pelagos_app_ui_datasetsubmission_default') }}?regid={{ dif.dataset.udi }}</a>.
    <br>
    If you have any questions regarding your DIF please contact help@griidc.org.<br>
    <br>
    Thank you,<br>
    The GRIIDC Team<br>
{% endblock %}

{% block body_text %}
Congratulations {{ recipient.getFirstName }} {{ recipient.getLastName }},

Your Dataset Information Form (DIF) {{ vanityurl('pelagos_app_ui_dif_default') }}?id={{ dif.dataset.udi }} has been approved by the GRIIDC.

You will now be able to submit the associated dataset at {{ vanityurl('pelagos_app_ui_datasetsubmission_default') }}?regid={{ dif.dataset.udi }}.

If you have any questions regarding your DIF please contact help@griidc.org.

Thank you,
The GRIIDC Team
{% endblock %}
