<li class="last odd menuparent"><span class="menuparent nolink sf-with-ul">ADMIN<span class="sf-sub-indicator"> »</span><span class="sf-sub-indicator"> »</span></span>
    <ul class="sf-hidden" style="float: none; width: 12em;">
        <li class="first odd"><a href="{{ path('pelagos_app_ui_account_default') }}">Request Account</a></li>
        <li class="middle even"><a href="{{ path('pelagos_app_ui_datarepository_default', {id:1}) }}">Data Repository</a></li>
        <li class="middle odd"><a href="{{ path('pelagos_app_ui_mdapp_default') }}">Metadata Approval Tool (MDApp)</a></li>
        <li class="middle even"><a href="{{ path('pelagos_app_ui_datasetsummary_default') }}">Dataset Summary and Deletion</a></li>
        <li class="middle odd"><a href="{{ path('pelagos_app_ui_datasetrestrictions_default') }}">Dataset Restrictions</a></li>
        <li class="middle even"><a href="{{ path('pelagos_app_ui_datasetreview_default') }}">Dataset Review</a></li>
        <li class="middle odd"><a href="{{ path('pelagos_app_ui_sidebyside_default') }}">Side-by-Side Review</a></li>
        <li class="middle even"><a href="{{ path('pelagos_app_ui_endreview_default') }}">End Review Tool</a></li>
        <li class="last odd"><a href="{{ path('pelagos_app_ui_remotelyhosteddatasets_default') }}">Remotely Hosted Datasets</a></li>
        <li class="menuparent"><span class="menuparent nolink sf-with-ul">Lists<span class="sf-sub-indicator"> »</span><span class="sf-sub-indicator"> »</span></span>
        <ul class="sf-hidden" style="float: none; width: 12em;">
            <li class="first odd"><a href="{{ path('pelagos_app_list_fundingorganizations') }}">Funding Organizations</a></li>
            <li class="middle even"><a href="{{ path('pelagos_app_list_researchgroups') }}">Research Groups</a></li>
            <li class="middle odd"><a href="{{ path('pelagos_app_list_people') }}">People</a></li>
            <li class="middle even"><a href="{{ path('pelagos_app_ui_publicationdatasetlink_list') }}">Dataset - Publication Links</a></li>
            <li class="last odd"><a href="{{ path('pelagos_app_list_nationaldatacenters') }}">National Data Centers</a></li>
        </ul>
        <li class="menuparent"><span class="menuparent nolink sf-with-ul">Create New<span class="sf-sub-indicator"> »</span><span class="sf-sub-indicator"> »</span></span>
        <ul class="sf-hidden" style="float: none; width: 12em;">
            <li class="first odd"><a href="{{ path('pelagos_app_ui_fundingorganization_default') }}">Funding Organization</a></li>
            <li class="middle even"><a href="{{ path('pelagos_app_ui_fundingcycle_default') }}">Funding Cycle</a></li>
            <li class="middle odd"><a href="{{ path('pelagos_app_ui_researchgroup_default') }}">Research Group</a></li>
            <li class="middle even"><a href="{{ path('pelagos_app_ui_person_default') }}">Person</a></li>
            <li class="middle odd"><a href="{{ path('pelagos_app_ui_persondatarepository_default') }}">Person to Data Repository Association</a></li>
            <li class="middle even"><a href="{{ path('pelagos_app_ui_personfundingorganization_default') }}">Person to Funding Organization Association</a></li>
            <li class="middle odd"><a href="{{ path('pelagos_app_ui_publicationdatasetlink_default') }}">Dataset - Publication Link</a></li>
            <li class="last even"><a href="{{ path('pelagos_app_ui_nationaldatacenter_default') }}">National Data Center</a></li>
        </ul>
        <li class="menuparent"><span class="menuparent nolink sf-with-ul">Reports<span class="sf-sub-indicator"> »</span><span class="sf-sub-indicator"> »</span></span>
        <ul class="sf-hidden" style="float: none; width: 12em;">
            <li class="first odd">
                <a href="{{ path('pelagos_app_ui_reportresearchgroupdatasetstatus_default') }}">
                    Report Research Group Dataset Status
                </a>
            </li>
            <li class="first even"><a href="{{ path('pelagos_app_ui_gomrireport_default') }}">GOMRI Dataset Report(v1)</a></li>
            <li class="middle odd"><a href="{{ path('pelagos_app_ui_gomrireport_versiontworeport') }}">GOMRI Dataset Report(v2)</a></li>
            <li class="middle even"><a href="{{ path('pelagos_app_ui_datasetdownloadreport_default') }}">Dataset Download Report</a></li>
            <li class="middle odd"><a href="{{ path('pelagos_app_ui_searchtermsreport_default') }}">Search Terms Report</a></li>
            <li class="last even">
                <a href="{{ path('pelagos_app_ui_datasetdownloadreport_timestampreport') }}">
                    Dataset Download TimeStamp Report
                </a>
            </li>
        </ul>
    </ul>
</li>